data/flows/CMDGATE_CL_VRTYG.json
[
    {
        "id": "7f966f2b.565cf",
        "type": "tab",
        "label": "全局配置",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6e9ccff0.31174",
        "type": "tab",
        "label": "长乐VR体验馆",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b67ee71.21ee718",
        "type": "tab",
        "label": "福州开发",
        "disabled": false,
        "info": ""
    },
    {
        "id": "75a3e362.0ad2cc",
        "type": "tab",
        "label": "空调看板",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f57dd416.5de4f8",
        "type": "tab",
        "label": "射频模块",
        "disabled": false,
        "info": ""
    },
    {
        "id": "347b576.75e0aa8",
        "type": "tab",
        "label": "长乐集装箱1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da0bc893.9025c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "849cbceb.9873d",
        "type": "mqtt-broker",
        "name": "mqtt.local",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "480b54ad.8c4e1c",
        "type": "mqtt-broker",
        "name": "mqtt.business",
        "broker": "43.231.150.88",
        "port": "1780",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5c569ec8.d608f",
        "type": "ui_group",
        "name": "AC",
        "tab": "168c092a.469d97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "168c092a.469d97",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a2f3dcc3.dab8e",
        "type": "mqtt-broker",
        "name": "mqtt.sdp.dev",
        "broker": "ws://iot-mqtt.dev.ndaeweb.com/mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "154dae3c.baf342",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "d": true,
        "name": "mqtt",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a2f3dcc3.dab8e",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b2bd928.c474e7",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "编号配置",
        "info": "",
        "x": 60,
        "y": 40,
        "wires": []
    },
    {
        "id": "b892f30e.722aa",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT服务地址",
        "info": "",
        "x": 80,
        "y": 140,
        "wires": []
    },
    {
        "id": "3b4727b1.907a78",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "",
        "func": "    let devices = global.get(\"devices\") ;\n    let setDevice = (did, device, gateway) => {\n        if (devices[did] && devices[did].gid) {\n            node.error(\"设备编号重复：\" + did);\n            node.warn(devices[did]);\n            node.warn(gateway);\n            return;\n        }\n        device.did = did;\n        device.gid = gateway ? gateway.did : null\n        device.gateway = gateway;\n        devices[did] = device;\n\n        let subdevs = device.devices;\n        if (subdevs) {\n            let subkeys = Object.keys(subdevs);\n            subkeys.forEach(subkey => {\n                let subdev = subdevs[subkey];\n                setDevice(subkey, subdev, device);            \n            });        \n\n        }\n    }\n\n\n\n    let keys = Object.keys(devices);\n    keys.forEach(key => {\n        let device = devices[key];\n        setDevice(key, device)\n        \n    });\n\nmsg.payload = devices;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 40,
        "wires": [
            [
                "b792b146.59037"
            ]
        ]
    },
    {
        "id": "f544f205.d51a7",
        "type": "inject",
        "z": "7f966f2b.565cf",
        "name": "刷新编号",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 40,
        "wires": [
            [
                "d6802406.a5a078"
            ]
        ]
    },
    {
        "id": "b792b146.59037",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "82775b82.94d928",
        "type": "link in",
        "z": "6e9ccff0.31174",
        "name": "终端上行",
        "links": [
            "50aa8a65.6a2c04"
        ],
        "x": 235,
        "y": 140,
        "wires": [
            [
                "ec525ded.95cd6"
            ]
        ]
    },
    {
        "id": "90c1105.231f5f",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2Hello",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "78d75ca9.7abe04",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2power on",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "7aa25617.77a438",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2power off",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"off\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "16924e2a.b7f912",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2temp 18",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"temperature\":18,\"mode\":\"auto\",\"fanSpeed\":\"low\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "b322c9be.72ac68",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2temp 27",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"temperature\":27}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "f17ab6a9.a34cd8",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2fan low",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"fanSpeed\":\"low\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "f80e0d74.b498d",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2fan medium",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"fanSpeed\":\"medium\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "2dd5818.50f137e",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2fan high",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"fanSpeed\":\"high\",\"mode\":\"cool\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "3be2b583.27585a",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2mode cool",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"mode\":\"cool\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "65e9c7f.bc7c538",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2mode auto",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"mode\":\"auto\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "775a9c96.55fcc4",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2mode dry",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"mode\":\"dry\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "7c91301b.ad7fa",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "2mode heat",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.air.no2.did\"),\t   \"cmd\":3\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"mode\":\"heat\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "d6802406.a5a078",
        "type": "change",
        "z": "7f966f2b.565cf",
        "name": "config",
        "rules": [
            {
                "t": "set",
                "p": "mqtt",
                "pt": "global",
                "to": "{\"topic\":{\"business\":{\"sub\":{\"prefix\":\"business/cmdgate/\"},\"pub\":{\"prefix\":\"business/svcgate/\"}},\"terminal\":{\"sub\":{\"prefix\":\"cmdgate/central/\",\"cmd\":\"cmdgate/central/cmd\"},\"pub\":{\"prefix\":\"cmdgate/device/\",\"central\":\"cmdgate/device/central\"}}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "devices",
                "pt": "global",
                "to": "{\"CMDGATE_CL_VRTYG\":{\"name\":\"长乐VR体验馆\",\"devices\":{\"ESP8266_14476206\":{\"name\":\"1号空调\"},\"ESP8266_5628343\":{\"name\":\"2号空调\"},\"ESP8266_6857248\":{\"name\":\"3号空调\"}}},\"CMDGATE_CL_JZX01\":{\"name\":\"长乐1号集装箱\",\"devices\":{\"c8f742e36fd2\":{\"name\":\"1号空调\"},\"24dfa7056ca9\":{\"name\":\"2号空调\"},\"ESP8266_2317612\":{\"name\":\"窗帘控制芯片\"},\"CL_JZX01_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_JZX01_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_JZX01_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_JZX01_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_JZX01_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_JZX01_curtain_06\":{\"name\":\"6号窗帘\"}}},\"CMDGATE_CL_JZX02\":{\"name\":\"长乐2号集装箱\",\"devices\":{}},\"CMDGATE_FZ_DEV1\":{\"name\":\"福州亚太二楼开发(有433射频)\",\"devices\":{\"DJ-YT-500-01\":{\"name\":\"1号舵机\"}}},\"CMDGATE_XA_KFDX01\":{\"name\":\"西安开放大学\",\"devices\":{\"780f7732d5f6\":{\"name\":\"1号空调\"},\"XA_KFDX01_curtain_01\":{\"name\":\"1号窗帘\"},\"XA_KFDX01_curtain_02\":{\"name\":\"2号窗帘\"},\"XA_KFDX01_curtain_03\":{\"name\":\"3号窗帘\"}}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "3b4727b1.907a78"
            ]
        ]
    },
    {
        "id": "7577ab7.99dc554",
        "type": "mqtt in",
        "z": "7f966f2b.565cf",
        "name": "终端上行",
        "topic": "cmdgate/central/cmd",
        "qos": "2",
        "datatype": "json",
        "broker": "849cbceb.9873d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "55cc1676.e1e1e8",
                "721c33e2.eedd5c"
            ]
        ]
    },
    {
        "id": "55cc1676.e1e1e8",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "50aa8a65.6a2c04"
            ]
        ]
    },
    {
        "id": "e63c8469.e2ed68",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT终端上行",
        "info": "",
        "x": 80,
        "y": 220,
        "wires": []
    },
    {
        "id": "50aa8a65.6a2c04",
        "type": "link out",
        "z": "7f966f2b.565cf",
        "name": "长乐VR体验馆",
        "links": [
            "82775b82.94d928"
        ],
        "x": 595,
        "y": 220,
        "wires": []
    },
    {
        "id": "c1235d37.633ea",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "name": "终端下行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "90a962bb.f07c4",
        "type": "link in",
        "z": "7f966f2b.565cf",
        "name": "终端下行",
        "links": [
            "c67e09e8.3b7178",
            "68c90e66.5e785"
        ],
        "x": 335,
        "y": 360,
        "wires": [
            [
                "ef55a887.19d568"
            ]
        ]
    },
    {
        "id": "94b3038a.dd76c",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT终端下行",
        "info": "",
        "x": 80,
        "y": 360,
        "wires": []
    },
    {
        "id": "ef55a887.19d568",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "主题",
        "func": "msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 360,
        "wires": [
            [
                "c1235d37.633ea"
            ]
        ]
    },
    {
        "id": "8eb80638.5a9e08",
        "type": "mqtt in",
        "z": "7f966f2b.565cf",
        "name": "边缘下行",
        "topic": "business/cmdgate/+",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "4f7defdf.42831"
            ]
        ]
    },
    {
        "id": "b8a5477a.9e1d18",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT边缘下行",
        "info": "",
        "x": 80,
        "y": 560,
        "wires": []
    },
    {
        "id": "4f7defdf.42831",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n    let count = context.get(\"count\") \n    count = count ? count + 1 : 1;\n    context.set(\"count\", count) \n    node.status({fill:\"green\", shape:\"dot\", text: count});\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "a8683765.5e9b48"
            ]
        ]
    },
    {
        "id": "a8683765.5e9b48",
        "type": "link out",
        "z": "7f966f2b.565cf",
        "name": "边缘下行",
        "links": [
            "bf6a789a.410a38",
            "9dc5d227.d0edb"
        ],
        "x": 595,
        "y": 560,
        "wires": []
    },
    {
        "id": "fb5e88f.b504c78",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT边缘上行",
        "info": "",
        "x": 80,
        "y": 420,
        "wires": []
    },
    {
        "id": "79e98182.a04d8",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "name": "边缘上行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "e21357a9.a0d888",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "主题",
        "func": "msg.topic = global.get(\"mqtt\").topic.business.pub.prefix + msg.payload.hd.gid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 420,
        "wires": [
            [
                "79e98182.a04d8"
            ]
        ]
    },
    {
        "id": "db90a60b.8feba8",
        "type": "link in",
        "z": "7f966f2b.565cf",
        "name": "边缘上行",
        "links": [
            "14963224.11111e"
        ],
        "x": 335,
        "y": 420,
        "wires": [
            [
                "e21357a9.a0d888"
            ]
        ]
    },
    {
        "id": "bf6a789a.410a38",
        "type": "link in",
        "z": "6e9ccff0.31174",
        "name": "边缘下行",
        "links": [
            "a8683765.5e9b48"
        ],
        "x": 235,
        "y": 420,
        "wires": [
            [
                "f733baa1.8bb358"
            ]
        ]
    },
    {
        "id": "ec525ded.95cd6",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "网关",
        "property": "payload.hd.gid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CMDGATE_CL_VRTYG",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "134d8ca2.44bad3"
            ]
        ]
    },
    {
        "id": "f733baa1.8bb358",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "网关",
        "property": "payload.hd.gid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CMDGATE_CL_VRTYG",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "97f05558.87bad8"
            ]
        ]
    },
    {
        "id": "134d8ca2.44bad3",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "指令",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "e87d89ad.e4b458"
            ]
        ]
    },
    {
        "id": "e87d89ad.e4b458",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "空调解析",
        "func": "    let pld = msg.payload.pld;\n    let extra = pld.extra;\n    let Mode = {\"0\": \"cool\",\"1\": \"dry\",\"2\": \"auto\",\"3\": \"heat\",\"4\": \"fan_only\"};\n    let Fan = {\"0\": \"auto\",\"1\": \"high\",\"2\": \"medium\",\"4\":\"low\", \"5\": \"auto\"};\n\n    if (extra) {\n        extra = extra.toLowerCase();\n        extra = extra.replace(\"Mesg Desc.:\".toLowerCase(), \"\");\n        let items = extra.split(\",\");\n        items.forEach(item => {\n            let _item = item.split(\":\");\n            let key = _item[0].trim();\n            let value = _item[1].trim();\n            switch(key) {\n                case \"power\":\n                    pld.power = value;                    \n                    break;\n                case \"temp\":                    \n                    value = value.substr(0, value.length -1)                    \n                    pld.temperature = parseInt(value);\n                    break;\n                case \"mode\":\n                    pld.mode = Mode[value[0]];\n                    break;\n                case \"fan\":\n                    pld.fanSpeed = Fan[value[0]];                   \n                    break;\n                case \"zone follow\":\n                \n                    break;     \n                case \"sensor temp\":\n            \n                    break;                          \n                                  \n            }\n        })\n    }\n    \n    let count = context.get(\"count\") \n    count = count ? count + 1 : 1;\n    context.set(\"count\", count) \n    node.status({fill:\"green\", shape:\"dot\", text: count});\n\n\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 140,
        "wires": [
            [
                "14963224.11111e",
                "2c5f8070.781e4"
            ]
        ]
    },
    {
        "id": "14963224.11111e",
        "type": "link out",
        "z": "6e9ccff0.31174",
        "d": true,
        "name": "边缘上行",
        "links": [
            "db90a60b.8feba8"
        ],
        "x": 895,
        "y": 140,
        "wires": []
    },
    {
        "id": "531590df.51c2f",
        "type": "comment",
        "z": "6e9ccff0.31174",
        "name": "终端上行",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "23eb6c55.bada24",
        "type": "comment",
        "z": "6e9ccff0.31174",
        "name": "边缘下行",
        "info": "",
        "x": 80,
        "y": 320,
        "wires": []
    },
    {
        "id": "97f05558.87bad8",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "指令",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "716d202d.38aff"
            ]
        ]
    },
    {
        "id": "716d202d.38aff",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "空调",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 420,
        "wires": [
            [
                "68c90e66.5e785"
            ]
        ]
    },
    {
        "id": "68c90e66.5e785",
        "type": "link out",
        "z": "6e9ccff0.31174",
        "name": "终端下行",
        "links": [
            "90a962bb.f07c4"
        ],
        "x": 895,
        "y": 420,
        "wires": []
    },
    {
        "id": "61046675.c20dd8",
        "type": "switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mode",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fanSpeed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "swingVert",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "swingHor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "health",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lights",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "powerSave",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "d8c89bd2.2a04a8"
            ],
            [
                "1a544b94.0ee074"
            ],
            [
                "9b5f6baa.f4cea8"
            ],
            [
                "b331259c.875d98"
            ],
            [
                "6829b2cb.ea15fc"
            ],
            [
                "b94c722a.5224c"
            ],
            [
                "17740952.0f17d7"
            ],
            [
                "875ecf15.75b7b"
            ],
            [
                "96dfc05e.8fe29"
            ],
            [
                "7673e0f8.a6f0d"
            ]
        ]
    },
    {
        "id": "d8c89bd2.2a04a8",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "开关",
        "label": "Power",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "true",
        "topic": "power",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 100,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "96dfc05e.8fe29",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "灯光",
        "label": "Lights",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "lights",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 580,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "9b5f6baa.f4cea8",
        "type": "ui_numeric",
        "z": "75a3e362.0ad2cc",
        "name": "温度",
        "label": "Temperature",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "temperature",
        "topicType": "str",
        "format": "{{value}}",
        "min": "23",
        "max": "25",
        "step": 1,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "6829b2cb.ea15fc",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "垂直扫风",
        "label": "Vertical swing ",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Default",
                "value": "default",
                "type": "str"
            },
            {
                "label": "Swing in full range",
                "value": "full",
                "type": "str"
            },
            {
                "label": "Fixed top",
                "value": "fixedTop",
                "type": "str"
            },
            {
                "label": "Fixed mid-top",
                "value": "fixedMidTop",
                "type": "str"
            },
            {
                "label": "Fixed mid",
                "value": "fixedMid",
                "type": "str"
            },
            {
                "label": "Fixed mid-bottom",
                "value": "fixedMidBottom",
                "type": "str"
            },
            {
                "label": "Fixed bottom",
                "value": "fixedBottom",
                "type": "str"
            },
            {
                "label": "Swing bottom",
                "value": "swingBottom",
                "type": "str"
            },
            {
                "label": "Swing mid-bottom",
                "value": "swingMidBottom",
                "type": "str"
            },
            {
                "label": "Swing mid",
                "value": "swingMid",
                "type": "str"
            },
            {
                "label": "Swing mid top",
                "value": "swingMidTop",
                "type": "str"
            },
            {
                "label": "Swing top",
                "value": "swingTop",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "swingVert",
        "topicType": "str",
        "x": 820,
        "y": 340,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "c4602e6e.68bd2",
        "type": "rbe",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1090,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b94c722a.5224c",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "水平扫风",
        "label": "Horizontal swing ",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Default",
                "value": "default",
                "type": "str"
            },
            {
                "label": "Full",
                "value": "full",
                "type": "str"
            },
            {
                "label": "Fixed left",
                "value": "fixedLeft",
                "type": "str"
            },
            {
                "label": "Fixed mid-left",
                "value": "fixedMidLeft",
                "type": "str"
            },
            {
                "label": "Fixed mid",
                "value": "fixedMid",
                "type": "str"
            },
            {
                "label": "Fixed mid-right",
                "value": "fixedMidRight",
                "type": "str"
            },
            {
                "label": "Fixed right",
                "value": "fixedRight",
                "type": "str"
            },
            {
                "label": "Full alt",
                "value": "fullAlt",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "swingHor",
        "topicType": "str",
        "x": 820,
        "y": 400,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ],
        "info": "Controls the swing mode of the horizontal air blades (not available on all units)"
    },
    {
        "id": "b331259c.875d98",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "风速",
        "label": "Fan speed",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Low",
                "value": "low",
                "type": "str"
            },
            {
                "label": "Medium low",
                "value": "mediumLow",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Medium high",
                "value": "mediumHigh",
                "type": "str"
            },
            {
                "label": "High",
                "value": "high",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "fanSpeed",
        "topicType": "str",
        "x": 810,
        "y": 280,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "7673e0f8.a6f0d",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "省电",
        "label": "Power save",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "powerSave",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 640,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "a5b358c2.3e4ad8",
        "type": "split",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "61046675.c20dd8"
            ]
        ]
    },
    {
        "id": "1a544b94.0ee074",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "模式",
        "label": "Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Cool",
                "value": "cool",
                "type": "str"
            },
            {
                "label": "Dry",
                "value": "dry",
                "type": "str"
            },
            {
                "label": "Fan only",
                "value": "fan_only",
                "type": "str"
            },
            {
                "label": "Heat",
                "value": "heat",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode",
        "topicType": "str",
        "x": 810,
        "y": 160,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "17740952.0f17d7",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "等离子(健康)",
        "label": "Cold plasma",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "health",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 830,
        "y": 460,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "875ecf15.75b7b",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "通风",
        "label": "X-Fan",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "blow",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 520,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "6e9291c.b1e257",
        "type": "link in",
        "z": "75a3e362.0ad2cc",
        "name": "空调看板",
        "links": [
            "de0481fa.fcbbb",
            "2c5f8070.781e4"
        ],
        "x": 175,
        "y": 160,
        "wires": [
            [
                "6187900f.e76d9"
            ]
        ]
    },
    {
        "id": "6187900f.e76d9",
        "type": "switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "property": "payload.hd.did",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ESP8266_6857248",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "732e0597.9c747c"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "732e0597.9c747c",
        "type": "function",
        "z": "75a3e362.0ad2cc",
        "name": "空调名称",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.gateway.name + device.name;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\nlet _msg = {\n    payload: msg.payload.pld\n}\nreturn _msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "a5b358c2.3e4ad8"
            ]
        ]
    },
    {
        "id": "721c33e2.eedd5c",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "744571a3.d875e",
        "type": "change",
        "z": "6e9ccff0.31174",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "ESP8266_6857248",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 760,
        "wires": [
            [
                "97f05558.87bad8"
            ]
        ]
    },
    {
        "id": "2c5f8070.781e4",
        "type": "link out",
        "z": "6e9ccff0.31174",
        "d": true,
        "name": "空调看板",
        "links": [
            "6e9291c.b1e257"
        ],
        "x": 895,
        "y": 200,
        "wires": []
    },
    {
        "id": "84a7c82a.76ee28",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f3f60c.6f1768",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"pld\":{}}",
        "payloadType": "json",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "84a7c82a.76ee28",
                "e87d89ad.e4b458"
            ]
        ]
    },
    {
        "id": "c712e54a.e9b9c8",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "93a4005a.0c7b9"
            ]
        ]
    },
    {
        "id": "7866b57a.7a4f1c",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "c712e54a.e9b9c8"
            ]
        ]
    },
    {
        "id": "93a4005a.0c7b9",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/1.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "b6d56cba.78834",
        "type": "debug",
        "z": "f57dd416.5de4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "cdb1add1.b3f59",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 86,
        "wires": [
            [
                "f2556c.0969da98"
            ]
        ]
    },
    {
        "id": "78c68c07.cc1b44",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 86,
        "wires": [
            [
                "cdb1add1.b3f59"
            ]
        ]
    },
    {
        "id": "f2556c.0969da98",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/2.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 86,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "2f4becaf.cec7c4",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 135,
        "wires": [
            [
                "79cd3a0a.086454"
            ]
        ]
    },
    {
        "id": "5247f0fc.aa75e",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 135,
        "wires": [
            [
                "2f4becaf.cec7c4"
            ]
        ]
    },
    {
        "id": "79cd3a0a.086454",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/3.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 135,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "206fb418.aa66bc",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 184,
        "wires": [
            [
                "d336ed20.6b26a"
            ]
        ]
    },
    {
        "id": "63465676.66a308",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 184,
        "wires": [
            [
                "206fb418.aa66bc"
            ]
        ]
    },
    {
        "id": "d336ed20.6b26a",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/4.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 184,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "d9c1f2d3.88612",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 233,
        "wires": [
            [
                "2fb387f2.8521a8"
            ]
        ]
    },
    {
        "id": "ea87409.b034ec",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 233,
        "wires": [
            [
                "d9c1f2d3.88612"
            ]
        ]
    },
    {
        "id": "2fb387f2.8521a8",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/5.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 233,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "16f44870.c861d8",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 282,
        "wires": [
            [
                "744ef100.8cde9"
            ]
        ]
    },
    {
        "id": "e2ba55b8.1852b8",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 282,
        "wires": [
            [
                "16f44870.c861d8"
            ]
        ]
    },
    {
        "id": "744ef100.8cde9",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/6.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 282,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "594b55a0.26293c",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "fd49e883.56c3b8"
            ]
        ]
    },
    {
        "id": "4b9536cd.d57448",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "93d7f8b7.523248"
            ]
        ]
    },
    {
        "id": "dc95799c.b991e8",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "79598c30.15fd54"
            ]
        ]
    },
    {
        "id": "15674505.b91c7b",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "e687ae18.2cd8"
            ]
        ]
    },
    {
        "id": "890ec155.cbc12",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "fb4364c9.3ecee8"
            ]
        ]
    },
    {
        "id": "35ed717c.3949ce",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "9ce60d02.a8ac"
            ]
        ]
    },
    {
        "id": "fd49e883.56c3b8",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/1.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "93d7f8b7.523248",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/2.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "79598c30.15fd54",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/3.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "e687ae18.2cd8",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/4.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "fb4364c9.3ecee8",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/5.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "9ce60d02.a8ac",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/6.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "66609404.253bdc",
        "type": "gpio-rf-sniffer",
        "z": "f57dd416.5de4f8",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "690218cb.b9d958",
                "c556118d.8a88f"
            ]
        ]
    },
    {
        "id": "6af3e721.7f1308",
        "type": "gpio-rf-sniffer",
        "z": "f57dd416.5de4f8",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "b6d56cba.78834"
            ]
        ]
    },
    {
        "id": "690218cb.b9d958",
        "type": "function",
        "z": "f57dd416.5de4f8",
        "name": "",
        "func": "let idx = 0;\nlet payload = msg.payload;\nlet count = Object.keys(payload).length;\n\nlet send = function(payload, idx, count) {\n    if (idx < count) {\n        node.send({\n            payload: payload[idx].micros\n        })\n    \n\n        idx++;\n        if (idx < count) {\n            setTimeout(() => {\n                send(payload, idx, count)\n            }, 3000)\n        }\n    }\n}\n\nsend(payload, idx, count)\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "c556118d.8a88f",
        "type": "debug",
        "z": "f57dd416.5de4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "a7500816.615e88",
        "type": "gpio-rf-sender",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": "13",
        "strMicros": "",
        "count": "1",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "be8f51ea.5a72e",
                "8b856881.e74418"
            ]
        ]
    },
    {
        "id": "ecd3fd1d.bed75",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "be8f51ea.5a72e",
        "type": "debug",
        "z": "f57dd416.5de4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "55d1ad2e.0fcaa4",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "4a41f344.2fd78c",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "10cb001f.a5d85",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "7215e451.cc5eac",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "c6c7cd48.6b691",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "8b856881.e74418",
        "type": "function",
        "z": "f57dd416.5de4f8",
        "name": "",
        "func": "let lowStr = \"0,1\"\nnode.error(msg.payload != lowStr)\nif (msg.payload != lowStr )\n    return {payload: lowStr}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 720,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "9dc5d227.d0edb",
        "type": "link in",
        "z": "b67ee71.21ee718",
        "name": "边缘下行",
        "links": [
            "a8683765.5e9b48"
        ],
        "x": 255,
        "y": 300,
        "wires": [
            [
                "3e148bd2.77a104"
            ]
        ]
    },
    {
        "id": "3e148bd2.77a104",
        "type": "switch",
        "z": "b67ee71.21ee718",
        "name": "网关",
        "property": "payload.hd.gid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CMDGATE_FZ_DEV1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "21b9416e.2a04ce"
            ]
        ]
    },
    {
        "id": "a9085e16.09a3a",
        "type": "comment",
        "z": "b67ee71.21ee718",
        "name": "边缘下行",
        "info": "",
        "x": 100,
        "y": 200,
        "wires": []
    },
    {
        "id": "21b9416e.2a04ce",
        "type": "switch",
        "z": "b67ee71.21ee718",
        "name": "指令",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "89b6f002.859f6"
            ]
        ]
    },
    {
        "id": "89b6f002.859f6",
        "type": "function",
        "z": "b67ee71.21ee718",
        "name": "433射频",
        "func": "\nreturn {\n    payload: msg.pld.ray,\n    count: msg.pld.count\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 300,
        "wires": [
            [
                "4586dddb.ccea44"
            ]
        ]
    },
    {
        "id": "4586dddb.ccea44",
        "type": "link out",
        "z": "b67ee71.21ee718",
        "name": "终端下行",
        "links": [
            "52f2f0db.4e06b"
        ],
        "x": 915,
        "y": 300,
        "wires": []
    },
    {
        "id": "52f2f0db.4e06b",
        "type": "link in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "links": [
            "4586dddb.ccea44"
        ],
        "x": 155,
        "y": 880,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    }
]