data/flows/CMDGATE_CL_FRA306.json
[
    {
        "id": "9865b6ed.3c4488",
        "type": "tab",
        "label": "全局配置（福软A306）",
        "disabled": false,
        "info": ""
    },
    {
        "id": "84e2b33.40c105",
        "type": "tab",
        "label": "射频模块",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b2853d6.84776c",
        "type": "tab",
        "label": "窗帘控制",
        "disabled": false,
        "info": ""
    },
    {
        "id": "de440d52.5fd48",
        "type": "tab",
        "label": "福软A306",
        "disabled": false,
        "info": ""
    },
    {
        "id": "849cbceb.9873d",
        "type": "mqtt-broker",
        "name": "mqtt.local",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "480b54ad.8c4e1c",
        "type": "mqtt-broker",
        "name": "mqtt.business",
        "broker": "43.231.150.88",
        "port": "1780",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5c569ec8.d608f",
        "type": "ui_group",
        "name": "AC",
        "tab": "168c092a.469d97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "168c092a.469d97",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "52556211.02a99c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "98e14510.043ba8",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "5fb4f2bf.8012dc"
            ]
        ]
    },
    {
        "id": "983a5411.92aa58",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "98e14510.043ba8"
            ]
        ]
    },
    {
        "id": "5fb4f2bf.8012dc",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/1.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "67d79541.4ac8dc",
        "type": "debug",
        "z": "84e2b33.40c105",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "a9c4cf23.a5a51",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 86,
        "wires": [
            [
                "42f63e20.c99a1"
            ]
        ]
    },
    {
        "id": "fb34906a.5425c",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 86,
        "wires": [
            [
                "a9c4cf23.a5a51"
            ]
        ]
    },
    {
        "id": "42f63e20.c99a1",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/2.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 86,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "f4317e9b.f2e6c",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 135,
        "wires": [
            [
                "66c9be46.07c45"
            ]
        ]
    },
    {
        "id": "2e934cd2.f6f034",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 135,
        "wires": [
            [
                "f4317e9b.f2e6c"
            ]
        ]
    },
    {
        "id": "66c9be46.07c45",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/3.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 135,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "e8c80f41.3cebb",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 184,
        "wires": [
            [
                "fb34e4f.a7b4518"
            ]
        ]
    },
    {
        "id": "c020e69c.820058",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 184,
        "wires": [
            [
                "e8c80f41.3cebb"
            ]
        ]
    },
    {
        "id": "fb34e4f.a7b4518",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/4.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 184,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "277839c.c6217c6",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 233,
        "wires": [
            [
                "17abadc2.a68ca2"
            ]
        ]
    },
    {
        "id": "f50349f1.9a0238",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 233,
        "wires": [
            [
                "277839c.c6217c6"
            ]
        ]
    },
    {
        "id": "17abadc2.a68ca2",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/5.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 233,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "c923a657.4d42b8",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 282,
        "wires": [
            [
                "43e2a9ad.312158"
            ]
        ]
    },
    {
        "id": "5cfbc705.8a4bf8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 282,
        "wires": [
            [
                "c923a657.4d42b8"
            ]
        ]
    },
    {
        "id": "43e2a9ad.312158",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/6.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 282,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "74b018d7.de43a8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "18e12cf0.3ac153"
            ]
        ]
    },
    {
        "id": "c5c9e1e5.70cc7",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "9f32d2e1.044ea"
            ]
        ]
    },
    {
        "id": "ece180bb.43608",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "8bd48618.82a328"
            ]
        ]
    },
    {
        "id": "eddf938a.01ed6",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "bd6cdf53.57971"
            ]
        ]
    },
    {
        "id": "98ca8334.5056c",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "c2552dea.188a7"
            ]
        ]
    },
    {
        "id": "f7824905.3743d8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "e895432f.70873"
            ]
        ]
    },
    {
        "id": "18e12cf0.3ac153",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/1.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "9f32d2e1.044ea",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/2.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "8bd48618.82a328",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/3.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "bd6cdf53.57971",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/4.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "c2552dea.188a7",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/5.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "e895432f.70873",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/6.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "b13c9538.48a0b8",
        "type": "gpio-rf-sniffer",
        "z": "84e2b33.40c105",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "4bd9ab97.0a4254",
                "57b00ff.d4523f"
            ]
        ]
    },
    {
        "id": "31ce70d1.9d45f",
        "type": "gpio-rf-sniffer",
        "z": "84e2b33.40c105",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "67d79541.4ac8dc"
            ]
        ]
    },
    {
        "id": "4bd9ab97.0a4254",
        "type": "function",
        "z": "84e2b33.40c105",
        "name": "",
        "func": "let idx = 0;\nlet payload = msg.payload;\nlet count = Object.keys(payload).length;\n\nlet send = function(payload, idx, count) {\n    if (idx < count) {\n        node.send({\n            payload: payload[idx].micros\n        })\n    \n\n        idx++;\n        if (idx < count) {\n            setTimeout(() => {\n                send(payload, idx, count)\n            }, 3000)\n        }\n    }\n}\n\nsend(payload, idx, count)\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "57b00ff.d4523f",
        "type": "debug",
        "z": "84e2b33.40c105",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "1d670aa8.6da625",
        "type": "gpio-rf-sender",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": "13",
        "strMicros": "",
        "count": "3",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "e6c9eeff.e8adb",
                "4f83eaef.5d0574"
            ]
        ]
    },
    {
        "id": "84491339.25e1c",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1,151,350,1181,220,457,898,1144,249,1135,261,1122,274,1108,296,388,965,384,970,377,978,1061,348,334,1022,1040,360,326,1026,329,1022,1038,360,326,1025,329,1023,329,1023,1037,362,325,1025,328,1023,329,1024,328,10299,362,989,356,998,1046,362,325,1025,1038,361,1032,366,1029,363,1035,363,325,1027,328,1025,329,1025,1034,365,324,1027,1035,366,322,1027,329,1025,1036,362,325,1027,329,1025,329,1024,1037,360,326,1027,331,1023,329,1025,328,10305,365,990,355,1000,1047,362,326,1025,1037,362,1035,361,1036,362,1036,363,326,1028,333,1021,328,1026,1038,362,325,1028,1037,363,325,1028,328,1027,1036,364,326,1028,327,1027,329,1025,1038,362,327,1027,327,1028,329,1024,330,10310,364,990,357,999,1049,362,327,1026,1037,364,1036,363,1037,362,1039,363,326,1030,328,1025,329,1027,1039,363,326,1028,944,65535,",
        "payloadType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "e6c9eeff.e8adb",
        "type": "debug",
        "z": "84e2b33.40c105",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "5b31f074.0747a",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1,1222,228,450,904,1144,250,1134,265,1122,279,1104,299,385,973,378,979,371,982,1058,355,332,1024,1039,362,326,1028,327,1027,1034,365,324,1028,328,1028,326,1025,328,1029,1032,366,324,1027,328,1027,327,10312,363,991,355,1001,1047,363,325,1027,1036,363,1035,363,1037,362,1036,364,325,1030,326,1029,327,1028,1036,364,325,1029,1038,363,324,1030,327,1029,1036,364,325,1030,326,1029,327,1030,325,1029,1036,363,326,1029,327,1027,328,10322,362,992,355,1001,1049,365,324,1027,1036,365,1034,365,1035,365,1035,364,326,1030,328,1029,328,1027,1037,365,324,1030,1038,364,325,1030,328,1027,1038,364,326,1029,327,1030,326,1030,326,1028,1039,361,328,1029,328,1028,328,10326,364,992,356,1000,1050,363,324,1030,1036,365,1034,367,1035,364,1036,365,325,1031,327,1030,327,1029,1036,364,326,1030,1037,364,327,1031,325,1030,502,65535,",
        "payloadType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "cc4420e3.ac7ce",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1,295,183,1197,213,444,910,1145,251,1135,260,1127,266,1122,274,412,945,406,947,404,949,1096,303,380,976,1066,339,344,1014,338,1018,1036,368,320,1031,323,1031,321,1031,324,1029,324,1031,1027,366,321,1032,322,10320,358,997,350,1003,1041,367,320,1031,1028,367,1027,367,1029,367,1030,364,325,1031,323,1030,325,1030,1031,368,319,1032,1029,368,321,1033,323,1031,1030,367,320,1034,322,1032,324,1030,323,1031,323,1032,1029,367,325,1029,322,10328,359,997,350,1006,1039,367,322,1032,1029,367,1027,367,1030,366,1030,367,323,1034,321,1033,322,1034,1028,367,322,1033,1030,368,321,1033,323,1032,1030,368,321,1031,324,1034,322,1033,321,1032,324,1032,1030,367,321,1033,323,65535,,",
        "payloadType": "str",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "913c53d.c3a87b",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "bbfd9cfd.98397",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "eaca50b0.5dd6",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "d71b7697.f65098",
        "type": "link in",
        "z": "84e2b33.40c105",
        "name": "发送",
        "links": [
            "4586dddb.ccea44",
            "f544fc9d.2dfb8",
            "335febd6.afce84"
        ],
        "x": 155,
        "y": 880,
        "wires": [
            [
                "efcec49d.d4aaf8"
            ]
        ]
    },
    {
        "id": "efcec49d.d4aaf8",
        "type": "function",
        "z": "84e2b33.40c105",
        "name": "发送队列",
        "func": "let list = flow.get(\"SendList\") || [];\nlist.push(msg);\nflow.set(\"SendList\", list);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "4f83eaef.5d0574",
        "type": "function",
        "z": "84e2b33.40c105",
        "name": "发送",
        "func": "let lowStr = \"0,1000\"\nlet sending = flow.get(\"sending\");\nlet ts = flow.get(\"timestamp\") || 0 ;\nlet now = new Date().valueOf();\n\n\nif (msg.payload || !sending || (now - ts) > 5000) {\n    if (msg.payload && msg.payload != lowStr ) {    \n        flow.set(\"sending\", true);\n        flow.set(\"timestamp\", now);\n        return {payload: lowStr};\n    } else {\n        let list = flow.get(\"SendList\") || [];\n        let _msg = list.pop();\n        if (_msg) {\n            flow.set(\"SendList\", list);\n            flow.set(\"sending\", true);\n            flow.set(\"timestamp\", now);\n            return _msg;\n        } else {\n            flow.set(\"sending\", false);\n        }        \n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 880,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "f39344bc.2386d8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 360,
        "y": 980,
        "wires": [
            [
                "4f83eaef.5d0574"
            ]
        ]
    },
    {
        "id": "806b6bd6.839b58",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "拉低电平",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0,1000,",
        "payloadType": "str",
        "x": 400,
        "y": 620,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "f2cf1e48.72396",
        "type": "inject",
        "z": "1b2853d6.84776c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "f16b4ac6.cabaf8"
            ]
        ]
    },
    {
        "id": "f16b4ac6.cabaf8",
        "type": "file in",
        "z": "1b2853d6.84776c",
        "name": "加载状态",
        "filename": "/data/cmd-gateway/data/config/curtain_state.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "f23b4d50.9f803"
            ]
        ]
    },
    {
        "id": "85ac8f87.d38e",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "缓存状态",
        "func": "let states = msg.payload || {};\n\nflow.set(\"states\", states);\n\nreturn {payload: flow.get(\"states\")};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f23b4d50.9f803",
        "type": "json",
        "z": "1b2853d6.84776c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "85ac8f87.d38e"
            ]
        ]
    },
    {
        "id": "3ea1de8d.770fd2",
        "type": "file",
        "z": "1b2853d6.84776c",
        "name": "保存状态",
        "filename": "/data/cmd-gateway/data/config/curtain_state.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1020,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5d82a5d2.dc804c",
        "type": "switch",
        "z": "1b2853d6.84776c",
        "name": "指令4",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "dcf85919.4cb008"
            ]
        ]
    },
    {
        "id": "bb21c718.670d98",
        "type": "link in",
        "z": "1b2853d6.84776c",
        "name": "输入",
        "links": [
            "65492439.6cbcec"
        ],
        "x": 195,
        "y": 440,
        "wires": [
            [
                "5d82a5d2.dc804c"
            ]
        ]
    },
    {
        "id": "dcf85919.4cb008",
        "type": "switch",
        "z": "1b2853d6.84776c",
        "name": "控制或查询",
        "property": "payload.pld.open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "5d8d5b95.e14a84"
            ],
            [
                "f73810e7.ad1e1",
                "91569849.c16e08"
            ]
        ]
    },
    {
        "id": "5d8d5b95.e14a84",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "查询",
        "func": "let hd = msg.payload.hd;\nlet states = flow.get(\"states\") || {};\nlet key = hd.gid + \"/\" + hd.did;\nlet state = states[key] || {open: -1}\nhd.stp = 1;\nmsg.payload.pld = state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "9531c25e.b8279"
            ]
        ]
    },
    {
        "id": "9531c25e.b8279",
        "type": "link out",
        "z": "1b2853d6.84776c",
        "name": "",
        "links": [
            "db90a60b.8feba8"
        ],
        "x": 985,
        "y": 340,
        "wires": []
    },
    {
        "id": "f73810e7.ad1e1",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "控制",
        "func": "let pld = msg.payload.pld;\nlet ray = pld.ray;\nif (ray) {\n  return {payload: ray, count: 4};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 540,
        "wires": [
            [
                "f544fc9d.2dfb8"
            ]
        ]
    },
    {
        "id": "91569849.c16e08",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "保存",
        "func": "let hd = msg.payload.hd;\nlet pld = msg.payload.pld;\nlet states = flow.get(\"states\") || {};\n\nlet key = hd.gid + \"/\" + hd.did;\nlet state = {open: pld.open};\nstates[key] = state;\n\n\nreturn {payload: states};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 460,
        "wires": [
            [
                "3ea1de8d.770fd2"
            ]
        ]
    },
    {
        "id": "f544fc9d.2dfb8",
        "type": "link out",
        "z": "1b2853d6.84776c",
        "name": "",
        "links": [
            "d71b7697.f65098"
        ],
        "x": 975,
        "y": 540,
        "wires": []
    },
    {
        "id": "4779fd8c.75dc44",
        "type": "comment",
        "z": "1b2853d6.84776c",
        "name": "边缘下行",
        "info": "",
        "x": 80,
        "y": 300,
        "wires": []
    },
    {
        "id": "1201cef1.d04401",
        "type": "comment",
        "z": "1b2853d6.84776c",
        "name": "状态加载",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "df0aaafb.1074a8",
        "type": "switch",
        "z": "1b2853d6.84776c",
        "name": "stp=1",
        "property": "payload.hd.stp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 740,
        "wires": [
            [
                "9bee33a8.621f1"
            ]
        ]
    },
    {
        "id": "af6fcf3.70b503",
        "type": "rf-decoder",
        "z": "1b2853d6.84776c",
        "name": "",
        "x": 860,
        "y": 740,
        "wires": [
            [
                "1efeb068.a775e"
            ]
        ]
    },
    {
        "id": "bf9579e1.268368",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "致尚窗帘",
        "func": "msg.params = [\n        {\n            tolerance: 20,\n            excess: 0,\n            atleast: true,                              \n            MSBfirst: true,\n            step: 1,\n            use_bits: false,\n\n            nbits:80,  \n            headermark: 2600,\n            headerspace: 2600,\n            onemark: 1300,   \n            onespace: 1300, \n            zeromark: 650,  \n            zerospace: 650, \n            footermark: 0,\n            footerspace: 0,\n            lastspace: 0\n        },\n        {\n            tolerance: 20,\n            excess: 0,\n            atleast: true,                              \n            MSBfirst: true,\n            step: 1,\n            use_bits: true,\n\n            nbits:2,  \n            headermark: 0,\n            headerspace: 0,\n            onemark: 1300,   \n            onespace: 1300, \n            zeromark: 650,  \n            zerospace: 650, \n            footermark: 0,\n            footerspace: 0,\n            lastspace: 0\n        }\n    ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 740,
        "wires": [
            [
                "af6fcf3.70b503"
            ]
        ]
    },
    {
        "id": "3df638ee.3cc828",
        "type": "switch",
        "z": "1b2853d6.84776c",
        "d": true,
        "name": "指令9",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "df0aaafb.1074a8"
            ]
        ]
    },
    {
        "id": "e81ef68c.81f1f8",
        "type": "link in",
        "z": "1b2853d6.84776c",
        "name": "解码",
        "links": [
            "6e8405ea.92475c",
            "95051ebe.9f6c3"
        ],
        "x": 195,
        "y": 740,
        "wires": [
            [
                "3df638ee.3cc828"
            ]
        ]
    },
    {
        "id": "ad57ea7.dc4bc18",
        "type": "debug",
        "z": "1b2853d6.84776c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 700,
        "wires": []
    },
    {
        "id": "9bee33a8.621f1",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "",
        "func": "let rays = context.get(\"rays\") || [];\nlet ts = context.get(\"ts\") || (new Date).getTime();\nlet now = (new Date).getTime();\n\nif (now - ts > 5 * 1000)\n    rays = [];\n\n\nrays.push(msg.payload.pld.sniff.raw)\ncontext.set(\"rays\", rays)\ncontext.set(\"ts\", now)\n\nlet raysStr = \"\";\nfor(let i = 0; i < rays.length; i++) {\n    raysStr = raysStr + rays[i] + \"\\r\\n\"\n}\n\n\nreturn [{payload: raysStr}, {payload: msg.payload.pld.sniff.raw}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 740,
        "wires": [
            [
                "dcc8bdbc.d21f"
            ],
            [
                "27870ea8.d0fd02",
                "bf9579e1.268368"
            ]
        ]
    },
    {
        "id": "1efeb068.a775e",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "",
        "func": "if (msg.payload.bytes.length > 0)\n    node.send(msg);\n\nfor(let i = 0; i < msg.payload.bytes.length; i++ ) {\n    node.send([null, {payload: msg.payload.bytes[i]}]);\n}\n\n    ",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 740,
        "wires": [
            [
                "ad57ea7.dc4bc18"
            ],
            [
                "1ce7129b.ed85cd",
                "9b738392.875ef"
            ]
        ]
    },
    {
        "id": "1ce7129b.ed85cd",
        "type": "debug",
        "z": "1b2853d6.84776c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 860,
        "wires": []
    },
    {
        "id": "8bde4351.b4f26",
        "type": "rf-encoder",
        "z": "1b2853d6.84776c",
        "name": "",
        "x": 860,
        "y": 860,
        "wires": [
            [
                "1ce7129b.ed85cd"
            ]
        ]
    },
    {
        "id": "9b738392.875ef",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "致尚窗帘",
        "func": "msg.params = [\n        {\n            tolerance: 20,\n            excess: 0,\n            atleast: true,                              \n            MSBfirst: true,\n            step: 1,\n            use_bits: false,\n\n            nbits:80,  \n            headermark: 2600,\n            headerspace: 2600,\n            onemark: 1300,   \n            onespace: 1300, \n            zeromark: 650,  \n            zerospace: 650, \n            footermark: 0,\n            footerspace: 0,\n            lastspace: 0\n        },\n        {\n            tolerance: 20,\n            excess: 0,\n            atleast: true,                              \n            MSBfirst: true,\n            step: 1,\n            use_bits: true,\n\n            nbits:2,  \n            headermark: 0,\n            headerspace: 0,\n            onemark: 1300,   \n            onespace: 1300, \n            zeromark: 650,  \n            zerospace: 650, \n            footermark: 0,\n            footerspace: 0,\n            lastspace: 0\n        }\n    ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 860,
        "wires": [
            [
                "8bde4351.b4f26"
            ]
        ]
    },
    {
        "id": "1c284778.7618a9",
        "type": "comment",
        "z": "1b2853d6.84776c",
        "name": "编解码",
        "info": "",
        "x": 70,
        "y": 660,
        "wires": []
    },
    {
        "id": "dcc8bdbc.d21f",
        "type": "ui_text",
        "z": "1b2853d6.84776c",
        "group": "5c569ec8.d608f",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680,
        "y": 660,
        "wires": []
    },
    {
        "id": "27870ea8.d0fd02",
        "type": "debug",
        "z": "1b2853d6.84776c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 700,
        "wires": []
    },
    {
        "id": "85beea4c.cdba18",
        "type": "link in",
        "z": "de440d52.5fd48",
        "name": "边缘下行",
        "links": [
            "e2f65558.be4b28"
        ],
        "x": 135,
        "y": 160,
        "wires": [
            [
                "aeaffa45.ea4588"
            ]
        ]
    },
    {
        "id": "aeaffa45.ea4588",
        "type": "switch",
        "z": "de440d52.5fd48",
        "name": "网关",
        "property": "payload.hd.gid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cmdgate",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "27b3d61a.1df38a"
            ]
        ]
    },
    {
        "id": "27b3d61a.1df38a",
        "type": "switch",
        "z": "de440d52.5fd48",
        "name": "指令",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "5e93cdaf.c0b714"
            ],
            [],
            []
        ]
    },
    {
        "id": "5e93cdaf.c0b714",
        "type": "change",
        "z": "de440d52.5fd48",
        "name": "窗帘",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 140,
        "wires": [
            [
                "65492439.6cbcec"
            ]
        ]
    },
    {
        "id": "65492439.6cbcec",
        "type": "link out",
        "z": "de440d52.5fd48",
        "name": "",
        "links": [
            "bb21c718.670d98"
        ],
        "x": 815,
        "y": 140,
        "wires": []
    },
    {
        "id": "f62e565f.383de8",
        "type": "comment",
        "z": "de440d52.5fd48",
        "name": "边缘下行",
        "info": "",
        "x": 80,
        "y": 100,
        "wires": []
    },
    {
        "id": "71657d75.e7fdd4",
        "type": "mqtt out",
        "z": "9865b6ed.3c4488",
        "d": true,
        "name": "mqtt",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "48d6b544.633dcc",
        "type": "comment",
        "z": "9865b6ed.3c4488",
        "name": "编号配置",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "43d586f5.88ce88",
        "type": "comment",
        "z": "9865b6ed.3c4488",
        "name": "MQTT服务地址",
        "info": "",
        "x": 100,
        "y": 140,
        "wires": []
    },
    {
        "id": "91705735.5551c8",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "",
        "func": "    let devices = global.get(\"devices\") ;\n    let setDevice = (did, device, gateway) => {\n        if (devices[did] && devices[did].gid) {\n            node.error(\"设备编号重复：\" + did);\n            node.warn(devices[did]);\n            node.warn(gateway);\n            return;\n        }\n        device.did = did;\n        device.gid = gateway ? gateway.did : null\n        device.gateway = gateway;\n        devices[did] = device;\n\n        let subdevs = device.devices;\n        if (subdevs) {\n            let subkeys = Object.keys(subdevs);\n            subkeys.forEach(subkey => {\n                let subdev = subdevs[subkey];\n                setDevice(subkey, subdev, device);            \n            });        \n\n        }\n    }\n\n\n\n    let keys = Object.keys(devices);\n    keys.forEach(key => {\n        let device = devices[key];\n        setDevice(key, device)\n        \n    });\n\nmsg.payload = devices;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 40,
        "wires": [
            [
                "116f5445.b67d1c"
            ]
        ]
    },
    {
        "id": "a27cece2.102bb",
        "type": "inject",
        "z": "9865b6ed.3c4488",
        "name": "刷新编号",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "4cd2a400.35b2fc"
            ]
        ]
    },
    {
        "id": "116f5445.b67d1c",
        "type": "debug",
        "z": "9865b6ed.3c4488",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "4cd2a400.35b2fc",
        "type": "change",
        "z": "9865b6ed.3c4488",
        "name": "config",
        "rules": [
            {
                "t": "set",
                "p": "mqtt",
                "pt": "global",
                "to": "{\"topic\":{\"business\":{\"sub\":{\"prefix\":\"business/cmdgate/\"},\"pub\":{\"prefix\":\"business/svcgate/\"}},\"terminal\":{\"sub\":{\"prefix\":\"cmdgate/central/\",\"cmd\":\"cmdgate/central/cmd\"},\"pub\":{\"prefix\":\"cmdgate/device/\",\"central\":\"cmdgate/device/central\"}}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "devices",
                "pt": "global",
                "to": "{\"CMDGATE_CL_VRTYG\":{\"name\":\"长乐VR体验馆\",\"devices\":{\"ESP8266_9926564\":{\"name\":\"二楼1成果区宣传大屏前空调\"},\"ESP8266_9928598\":{\"name\":\"二楼2成果区体验中心入口空调\"},\"ESP8266_9933676\":{\"name\":\"二楼3成果区富士康大屏处空调\"},\"ESP8266_488969\":{\"name\":\"二楼5成果区版图区域内侧空调\"},\"ESP8266_9931870\":{\"name\":\"二楼6成果区版图区域外侧空调\"},\"ESP8266_9956709\":{\"name\":\"二楼7成果区小镇沙盘前空调\"},\"ESP8266_430864\":{\"name\":\"二楼8成果区红色教育一体机旁空调\"},\"ESP8266_486720\":{\"name\":\"二楼9恐龙休息区沙发区上方空调\"},\"ESP8266_469370\":{\"name\":\"二楼10恐龙休息区恐龙区入口上方空调\"},\"ESP8266_9922593\":{\"name\":\"二楼11恐龙休息区恐龙大屏上方空调\"},\"ESP8266_491535\":{\"name\":\"二楼12恐龙休息区长桌上方空调\"},\"ESP8266_9945247\":{\"name\":\"二楼16沉浸教室地理沙盘上方空调\"},\"ESP8266_450977\":{\"name\":\"二楼17沉浸教室3D扫描上方空调\"},\"ESP8266_9954003\":{\"name\":\"二楼18沉浸教室曲面屏上方空调\"},\"ESP8266_448616\":{\"name\":\"二楼19沉浸教室座位区上方空调\"},\"ESP8266_431099\":{\"name\":\"二楼22应用区新品体验展位上方空调\"},\"ESP8266_9930630\":{\"name\":\"二楼23应用区急速风暴展位上方空调\"},\"ESP8266_502328\":{\"name\":\"二楼24应用区世宇展位上方空调\"},\"ESP8266_525449\":{\"name\":\"二楼25应用区ColdingGalaxy展位上方空调\"},\"ESP8266_9928778\":{\"name\":\"二楼26应用区虎豹骑展位上方空调\"},\"ESP8266_9930144\":{\"name\":\"二楼27应用区VR消防展位上方空调\"},\"ESP8266_523355\":{\"name\":\"二楼28应用区虚拟实验室前空调\"},\"ESP8266_524983\":{\"name\":\"二楼29应用区央馆虚拟实验展位上方空调\"},\"ESP8266_10004904\":{\"name\":\"二楼30全息舞台舞台上方空调-1\"},\"ESP8266_9921707\":{\"name\":\"二楼31全息舞台舞台上方空调-2\"},\"ESP8266_433213\":{\"name\":\"二楼32乐空间四格空间1空调\"},\"ESP8266_9920978\":{\"name\":\"二楼33乐空间入口空调\"},\"ESP8266_464648\":{\"name\":\"二楼34乐空间六轴赛车上方空调\"},\"ESP8266_9924660\":{\"name\":\"二楼35乐空间四轴赛车上方空调\"},\"ESP8266_9957889\":{\"name\":\"二楼36乐空间Switch游戏上方空调\"},\"ESP8266_9930089\":{\"name\":\"二楼37乐空间VR自行车上方空调\"},\"ESP8266_448481\":{\"name\":\"二楼38乐空间四格空间4空调\"},\"ESP8266_427331\":{\"name\":\"二楼39乐空间四格空间2&3空调\"},\"ESP8266_9934513\":{\"name\":\"二楼40乐空间仓库空调\"},\"ESP8266_9925594\":{\"name\":\"二楼41乐空间滑雪机上方空调\"},\"ESP8266_9926755\":{\"name\":\"二楼4通道、卫生间区域卫生间一外空调\"},\"ESP8266_9938106\":{\"name\":\"二楼13通道、卫生间区域卫生间二外空调\"},\"ESP8266_9932037\":{\"name\":\"二楼14通道、卫生间区域电梯厅外空调\"},\"ESP8266_465345\":{\"name\":\"二楼15通道、卫生间区域电梯厅内空调\"},\"ESP8266_10009326\":{\"name\":\"二楼20通道、卫生间区域卫生间三外新风机\"},\"ESP8266_9926288\":{\"name\":\"二楼21通道、卫生间区域卫生间三外空调\"},\"ESP8266_9937795\":{\"name\":\"三楼1直播摄影棚摄影棚后方空调1\"},\"ESP8266_10006724\":{\"name\":\"三楼2直播摄影棚摄影棚区域办公室空调1\"},\"ESP8266_442480\":{\"name\":\"三楼3直播摄影棚摄影棚后方空调2\"},\"ESP8266_519369\":{\"name\":\"三楼4直播摄影棚摄影棚区域办公室空调2\"},\"ESP8266_448586\":{\"name\":\"三楼5直播摄影棚摄影棚区域会议室空调\"},\"ESP8266_9930798\":{\"name\":\"三楼6直播摄影棚摄影棚前方空调1\"},\"ESP8266_521738\":{\"name\":\"三楼7直播摄影棚摄影棚前方空调2\"},\"ESP8266_432044\":{\"name\":\"三楼8VR办公区VR办公室新风\"},\"ESP8266_526058\":{\"name\":\"三楼9VR办公区VR办公室空调1\"},\"ESP8266_9926764\":{\"name\":\"三楼10VR办公区VR办公室空调2\"},\"ESP8266_427863\":{\"name\":\"三楼11党建办公区党建办公室空调1\"},\"ESP8266_9926765\":{\"name\":\"三楼12党建办公区党建办公室空调2\"},\"ESP8266_9958380\":{\"name\":\"三楼13党建办公区党建办公室空调3\"},\"ESP8266_474651\":{\"name\":\"三楼14党建办公区党建办公室空调4\"},\"ESP8266_432426\":{\"name\":\"三楼15通道区域电梯间空调\"},\"ESP8266_447884\":{\"name\":\"三楼16通道区域通道空调1\"},\"ESP8266_522277\":{\"name\":\"三楼17通道区域通道空调2\"},\"ESP8266_525584\":{\"name\":\"三楼18通道区域通道空调3\"},\"ESP8266_10029119\":{\"name\":\"三楼19通道区域通道区域新风\"},\"ESP8266_9944959\":{\"name\":\"三楼20党员活动室活动室空调1\"},\"ESP8266_10047940\":{\"name\":\"三楼21党员活动室活动室空调2\"},\"ESP8266_9927599\":{\"name\":\"三楼22党员活动室活动室空调3\"},\"ESP8266_440864\":{\"name\":\"三楼23党员活动室活动室空调4\"},\"ESP8266_9920788\":{\"name\":\"三楼24党员活动室活动室展区空调1\"},\"ESP8266_500512\":{\"name\":\"三楼25党员活动室活动室展区空调2\"},\"ESP8266_9934592\":{\"name\":\"三楼26党员活动室活动室展区空调3\"},\"ESP8266_469696\":{\"name\":\"三楼27党建会议室前方空调1\"},\"ESP8266_9926218\":{\"name\":\"三楼28党建会议室前方空调2\"},\"ESP8266_9955466\":{\"name\":\"三楼29党建会议室前方空调3\"},\"ESP8266_448179\":{\"name\":\"三楼30党建会议室前方空调4\"},\"ESP8266_9932108\":{\"name\":\"三楼31党建会议室前方空调5\"},\"ESP8266_10027740\":{\"name\":\"三楼32党建会议室前方空调6\"},\"ESP8266_9928853\":{\"name\":\"三楼33党建会议室前方空调7\"},\"ESP8266_433112\":{\"name\":\"三楼34党建会议室前方空调8\"},\"ESP8266_9932430\":{\"name\":\"三楼35党建会议室新风\"},\"ESP8266_9925572\":{\"name\":\"\"},\"ESP8266_10005258\":{\"name\":\"\"},\"ESP8266_524478\":{\"name\":\"\"},\"ESP8266_9959024\":{\"name\":\"\"},\"ESP8266_9924667\":{\"name\":\"\"},\"ESP8266_9931370\":{\"name\":\"\"},\"ESP8266_9923383\":{\"name\":\"\"},\"ESP8266_10006696\":{\"name\":\"\"},\"ESP8266_9944985\":{\"name\":\"\"},\"ESP8266_9941341\":{\"name\":\"\"},\"ESP8266_9936075\":{\"name\":\"\"},\"ESP8266_449971\":{\"name\":\"\"},\"ESP8266_9935390\":{\"name\":\"\"},\"ESP8266_10007032\":{\"name\":\"\"},\"ESP8266_5628343\":{\"name\":\"\"}}},\"CMDGATE_CL_JZX01\":{\"name\":\"长乐1号集装箱\",\"devices\":{\"c8f742e36fd2\":{\"name\":\"1号空调\"},\"24dfa7056ca9\":{\"name\":\"2号空调\"},\"ESP8266_2317612\":{\"name\":\"窗帘控制芯片\"},\"CL_JZX01_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_JZX01_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_JZX01_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_JZX01_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_JZX01_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_JZX01_curtain_06\":{\"name\":\"6号窗帘\"}}},\"CMDGATE_CL_JZX02\":{\"name\":\"长乐2号集装箱\",\"devices\":{}},\"CMDGATE_CL_QYA53\":{\"name\":\"长乐企业号A5-3\",\"devices\":{\"CL_QYA53_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_QYA53_curtain_02\":{\"name\":\"2号窗帘\"}}},\"CMDGATE_CL_DJHYS\":{\"name\":\"长乐DJ会议室\",\"devices\":{\"CL_DJHYS_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_DJHYS_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_DJHYS_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_DJHYS_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_DJHYS_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_DJHYS_curtain_06\":{\"name\":\"6号窗帘\"},\"CL_DJHYS_curtain_07\":{\"name\":\"7号窗帘\"},\"CL_DJHYS_curtain_08\":{\"name\":\"8号窗帘\"},\"CL_DJHYS_curtain_09\":{\"name\":\"9号窗帘\"},\"CL_DJHYS_curtain_10\":{\"name\":\"10号窗帘\"},\"CL_DJHYS_curtain_11\":{\"name\":\"11号窗帘\"},\"CL_DJHYS_curtain_12\":{\"name\":\"12号窗帘\"},\"CL_DJHYS_curtain_13\":{\"name\":\"13号窗帘\"},\"CL_DJHYS_curtain_14\":{\"name\":\"14号窗帘\"},\"CL_DJHYS_curtain_15\":{\"name\":\"15号窗帘\"},\"CL_DJHYS_curtain_16\":{\"name\":\"16号窗帘\"},\"CL_DJHYS_curtain_17\":{\"name\":\"17号窗帘\"},\"CL_DJHYS_curtain_18\":{\"name\":\"18号窗帘\"},\"CL_DJHYS_curtain_19\":{\"name\":\"19号窗帘\"},\"CL_DJHYS_curtain_20\":{\"name\":\"20号窗帘\"}}},\"CMDGATE_CL_DJHYS_CBUS\":{\"name\":\"长乐DJ会议室CBUS\",\"devices\":{\"CL_DJHYS_lighting_0\":{\"name\":\"0号灯光\"},\"CL_DJHYS_lighting_1\":{\"name\":\"1号灯光\"},\"CL_DJHYS_lighting_2\":{\"name\":\"2号灯光\"},\"CL_DJHYS_lighting_3\":{\"name\":\"3号灯光\"},\"CL_DJHYS_lighting_4\":{\"name\":\"4号灯光\"},\"CL_DJHYS_lighting_5\":{\"name\":\"5号灯光\"},\"CL_DJHYS_lighting_6\":{\"name\":\"6号灯光\"},\"CL_DJHYS_lighting_7\":{\"name\":\"7号灯光\"},\"CL_DJHYS_lighting_8\":{\"name\":\"8号灯光\"},\"CL_DJHYS_lighting_9\":{\"name\":\"9号灯光\"},\"CL_DJHYS_lighting_10\":{\"name\":\"10号灯光\"},\"CL_DJHYS_lighting_11\":{\"name\":\"11号灯光\"},\"CL_DJHYS_lighting_12\":{\"name\":\"12号灯光\"},\"CL_DJHYS_lighting_13\":{\"name\":\"13号灯光\"},\"CL_DJHYS_lighting_14\":{\"name\":\"14号灯光\"},\"CL_DJHYS_lighting_15\":{\"name\":\"15号灯光\"},\"CL_DJHYS_lighting_16\":{\"name\":\"16号灯光\"},\"CL_DJHYS_lighting_17\":{\"name\":\"17号灯光\"},\"CL_DJHYS_lighting_18\":{\"name\":\"18号灯光\"},\"CL_DJHYS_lighting_19\":{\"name\":\"19号灯光\"},\"CL_DJHYS_lighting_20\":{\"name\":\"20号灯光\"},\"CL_DJHYS_lighting_21\":{\"name\":\"21号灯光\"},\"CL_DJHYS_lighting_22\":{\"name\":\"22号灯光\"},\"CL_DJHYS_lighting_23\":{\"name\":\"23号灯光\"},\"CL_DJHYS_lighting_24\":{\"name\":\"24号灯光\"},\"CL_DJHYS_lighting_25\":{\"name\":\"25号灯光\"},\"CL_DJHYS_lighting_26\":{\"name\":\"26号灯光\"},\"CL_DJHYS_lighting_27\":{\"name\":\"27号灯光\"},\"CL_DJHYS_lighting_28\":{\"name\":\"28号灯光\"},\"CL_DJHYS_lighting_29\":{\"name\":\"29号灯光\"},\"CL_DJHYS_lighting_30\":{\"name\":\"30号灯光\"},\"CL_DJHYS_lighting_31\":{\"name\":\"31号灯光\"},\"CL_DJHYS_lighting_32\":{\"name\":\"32号灯光\"},\"CL_DJHYS_lighting_33\":{\"name\":\"33号灯光\"},\"CL_DJHYS_lighting_34\":{\"name\":\"34号灯光\"},\"CL_DJHYS_lighting_35\":{\"name\":\"35号灯光\"},\"CL_DJHYS_lighting_36\":{\"name\":\"36号灯光\"},\"CL_DJHYS_lighting_37\":{\"name\":\"37号灯光\"},\"CL_DJHYS_lighting_38\":{\"name\":\"38号灯光\"},\"CL_DJHYS_lighting_39\":{\"name\":\"39号灯光\"},\"CL_DJHYS_lighting_40\":{\"name\":\"40号灯光\"}}},\"CMDGATE_CL_FRA303\":{\"name\":\"福软教室A303\",\"devices\":{\"CL_FRA303_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA303_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRA305\":{\"name\":\"福软教室A305\",\"devices\":{\"CL_FRA305_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA305_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRA306\":{\"name\":\"福软教室A306\",\"devices\":{\"CL_FRA306_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA306_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRD302\":{\"name\":\"福软教室D302\",\"devices\":{\"CL_FRD302_curtain_01\":{\"name\":\"幕布\"},\"CL_FRD302_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRF308\":{\"name\":\"福软教室F308\",\"devices\":{\"CL_FRF308_curtain_01\":{\"name\":\"幕布\"},\"CL_FRF308_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRF319\":{\"name\":\"福软教室F319\",\"devices\":{\"CL_FRF319_curtain_01\":{\"name\":\"幕布\"},\"CL_FRF319_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_FZ_DEV1\":{\"name\":\"福州亚太二楼开发(有433射频)\",\"devices\":{\"DJ-YT-500-01\":{\"name\":\"1号舵机\"},\"6abf713c\":{\"name\":\"esp32开发板\"},\"97bf99\":{\"name\":\"esp8266开发板\"},\"android_924ed49\":{\"name\":\"采码android机1\"}}},\"CMDGATE_FZ_YT2DGN\":{\"name\":\"福州亚太二楼多功能会议室\",\"devices\":{\"FZ_YT2DGN_curtain_01\":{\"name\":\"幕布\"}}},\"CMDGATE_XA_KFDX01\":{\"name\":\"西安开放大学\",\"devices\":{\"780f7732d5f6\":{\"name\":\"1号空调\"},\"XA_KFDX01_curtain_01\":{\"name\":\"1号窗帘\"},\"XA_KFDX01_curtain_02\":{\"name\":\"2号窗帘\"},\"XA_KFDX01_curtain_03\":{\"name\":\"3号窗帘\"}}},\"CMDGATE_XA_KFDX03\":{\"name\":\"西安开放大学智慧教室303\",\"devices\":{\"XA_KFDX03_air_01\":{\"name\":\"1号空调\"}}},\"CMDGATE_XA_KFDX08\":{\"name\":\"西安开放大学智慧教室302\",\"devices\":{\"XA_KFDX08_air_01\":{\"name\":\"1号空调\"}}},\"CMDGATE_ZFZ01\":{\"name\":\"中非展01\",\"devices\":{\"tasmota_982A80\":{\"name\":\"1号风扇\"},\"tasmota_9AA972\":{\"name\":\"2号风扇\"},\"ZFZ01_curtain_01\":{\"name\":\"1号窗帘\"},\"ZFZ01_curtain_02\":{\"name\":\"2号窗帘\"}}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "cmdgate",
                "pt": "global",
                "to": "CMDGATE_CL_FRA306",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 40,
        "wires": [
            [
                "91705735.5551c8"
            ]
        ]
    },
    {
        "id": "7ea4a446.b455bc",
        "type": "mqtt in",
        "z": "9865b6ed.3c4488",
        "name": "本地终端上行",
        "topic": "cmdgate/central/cmd",
        "qos": "2",
        "datatype": "auto",
        "broker": "849cbceb.9873d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "d40d3b6d.e38dc8",
                "26265453.0b9a9c"
            ]
        ]
    },
    {
        "id": "69a492b8.3b73bc",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        \n        return [null, msg];\n    }\n}\n\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 220,
        "wires": [
            [
                "dc831b9b.7f07d8"
            ],
            [
                "527f9b68.c7f384",
                "d2ed7fc3.02f04"
            ]
        ]
    },
    {
        "id": "788a44df.9c691c",
        "type": "comment",
        "z": "9865b6ed.3c4488",
        "name": "MQTT终端上行",
        "info": "",
        "x": 100,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc831b9b.7f07d8",
        "type": "link out",
        "z": "9865b6ed.3c4488",
        "name": "终端上行(输出)",
        "links": [
            "82775b82.94d928",
            "ce4bbc35.92071"
        ],
        "x": 835,
        "y": 200,
        "wires": []
    },
    {
        "id": "3c410f31.53c37",
        "type": "mqtt out",
        "z": "9865b6ed.3c4488",
        "name": "本地终端下行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "52e53364.fbca0c",
        "type": "link in",
        "z": "9865b6ed.3c4488",
        "name": "终端下行",
        "links": [
            "c67e09e8.3b7178",
            "68c90e66.5e785",
            "a886891b.7850a8",
            "fca62cc3.67e88"
        ],
        "x": 355,
        "y": 520,
        "wires": [
            [
                "95158b52.721eb8"
            ]
        ]
    },
    {
        "id": "6ef33c01.3f7ae4",
        "type": "comment",
        "z": "9865b6ed.3c4488",
        "name": "MQTT终端下行",
        "info": "",
        "x": 100,
        "y": 520,
        "wires": []
    },
    {
        "id": "95158b52.721eb8",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "主题",
        "func": "if (!msg.dontChangeTopic)\n  msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 520,
        "wires": [
            [
                "3c410f31.53c37"
            ]
        ]
    },
    {
        "id": "7e2b7f9.011838",
        "type": "mqtt in",
        "z": "9865b6ed.3c4488",
        "name": "边缘下行",
        "topic": "business/cmdgate/CMDGATE_CL_FRA306",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 260,
        "y": 860,
        "wires": [
            [
                "ef2fa292.993c8"
            ]
        ]
    },
    {
        "id": "a1897067.5a81f",
        "type": "comment",
        "z": "9865b6ed.3c4488",
        "name": "MQTT边缘下行",
        "info": "",
        "x": 100,
        "y": 860,
        "wires": []
    },
    {
        "id": "ef2fa292.993c8",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n    let count = context.get(\"count\") \n    count = count ? count + 1 : 1;\n    context.set(\"count\", count) \n    node.status({fill:\"green\", shape:\"dot\", text: count});\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 860,
        "wires": [
            [
                "e2f65558.be4b28",
                "bfaeeb38.d339c8",
                "e91b64d5.a1aec8"
            ]
        ]
    },
    {
        "id": "e2f65558.be4b28",
        "type": "link out",
        "z": "9865b6ed.3c4488",
        "name": "边缘下行(输出)",
        "links": [
            "85beea4c.cdba18"
        ],
        "x": 615,
        "y": 860,
        "wires": []
    },
    {
        "id": "294f0a3f.626a66",
        "type": "comment",
        "z": "9865b6ed.3c4488",
        "name": "MQTT边缘上行",
        "info": "",
        "x": 100,
        "y": 720,
        "wires": []
    },
    {
        "id": "85da4806.367508",
        "type": "mqtt out",
        "z": "9865b6ed.3c4488",
        "name": "边缘上行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "953c7273.bd8fd",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "主题",
        "func": "if (!msg.dontChangeTopic)\n    msg.topic = global.get(\"mqtt\").topic.business.pub.prefix + msg.payload.hd.gid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 720,
        "wires": [
            [
                "85da4806.367508",
                "47388bdb.e37254"
            ]
        ]
    },
    {
        "id": "f7eab5ce.212518",
        "type": "link in",
        "z": "9865b6ed.3c4488",
        "name": "边缘上行",
        "links": [
            "14963224.11111e",
            "9531c25e.b8279",
            "6bf23d77.ebb954",
            "5dcefcf0.8ada74",
            "9fdb7274.296f",
            "22930ee.3ca26f2",
            "ad2c8f69.252f1"
        ],
        "x": 355,
        "y": 720,
        "wires": [
            [
                "2d5c602a.d99d2"
            ]
        ]
    },
    {
        "id": "d40d3b6d.e38dc8",
        "type": "json",
        "z": "9865b6ed.3c4488",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "69a492b8.3b73bc"
            ]
        ]
    },
    {
        "id": "bfaeeb38.d339c8",
        "type": "debug",
        "z": "9865b6ed.3c4488",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 940,
        "wires": []
    },
    {
        "id": "87f1ebd9.1c2af8",
        "type": "link in",
        "z": "9865b6ed.3c4488",
        "name": "边缘下行(模拟输入)",
        "links": [
            "61bd7a00.126998"
        ],
        "x": 335,
        "y": 980,
        "wires": [
            [
                "ef2fa292.993c8"
            ]
        ]
    },
    {
        "id": "2d5c602a.d99d2",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "设备",
        "func": "if (msg.payload.hd && !msg.payload.hd.gid) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 720,
        "wires": [
            [
                "953c7273.bd8fd"
            ]
        ]
    },
    {
        "id": "47388bdb.e37254",
        "type": "debug",
        "z": "9865b6ed.3c4488",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "370ad2bb.a50dfe",
        "type": "mqtt in",
        "z": "9865b6ed.3c4488",
        "name": "边缘终端上行",
        "topic": "cmdgate/central/cmd",
        "qos": "2",
        "datatype": "auto",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "d40d3b6d.e38dc8"
            ]
        ]
    },
    {
        "id": "cfbaff7f.41811",
        "type": "mqtt out",
        "z": "9865b6ed.3c4488",
        "name": "边缘终端下行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "280f37a2.56bcd8",
        "type": "link in",
        "z": "9865b6ed.3c4488",
        "name": "边缘终端下行",
        "links": [
            "d0bdb25b.1b0b9"
        ],
        "x": 355,
        "y": 580,
        "wires": [
            [
                "ce7de653.c23cc8"
            ]
        ]
    },
    {
        "id": "ce7de653.c23cc8",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "主题",
        "func": "if (!msg.dontChangeTopic)\n  msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 580,
        "wires": [
            [
                "cfbaff7f.41811"
            ]
        ]
    },
    {
        "id": "527f9b68.c7f384",
        "type": "debug",
        "z": "9865b6ed.3c4488",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "1a9f6f0e.2018d1",
        "type": "mqtt in",
        "z": "9865b6ed.3c4488",
        "name": "风扇终端上行",
        "topic": "stat/+/RESULT",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "15a1dcbb.6c7773"
            ]
        ]
    },
    {
        "id": "15a1dcbb.6c7773",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "协议转换",
        "func": "let did = msg.topic.substring(5, msg.topic.length-7)\nlet power = msg.payload.POWER == \"OFF\" ? 0: msg.payload.POWER == \"ON\" ? 1 : undefined\nlet speed = msg.payload.Dimmer\nlet payload = {\n    hd: {\n        did: did,\n        cmd: 13,\n        stp: 1\n    },\n    pld: {\n        power: power,\n        speed: speed\n    }\n}\nreturn {payload: payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "d40d3b6d.e38dc8"
            ]
        ]
    },
    {
        "id": "26265453.0b9a9c",
        "type": "debug",
        "z": "9865b6ed.3c4488",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "d2ed7fc3.02f04",
        "type": "link out",
        "z": "9865b6ed.3c4488",
        "name": "设备未登记",
        "links": [
            "e81ef68c.81f1f8"
        ],
        "x": 835,
        "y": 280,
        "wires": []
    },
    {
        "id": "992780dc.407ab",
        "type": "mqtt in",
        "z": "9865b6ed.3c4488",
        "name": "指令网关上线",
        "topic": "business/svcgate/null",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "9379e3b1.d2f8f"
            ]
        ]
    },
    {
        "id": "9379e3b1.d2f8f",
        "type": "debug",
        "z": "9865b6ed.3c4488",
        "name": "指令网关上线",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1040,
        "wires": []
    },
    {
        "id": "13022a33.a59676",
        "type": "comment",
        "z": "9865b6ed.3c4488",
        "name": "上线通知",
        "info": "",
        "x": 80,
        "y": 1140,
        "wires": []
    },
    {
        "id": "39389773.4d04f8",
        "type": "inject",
        "z": "9865b6ed.3c4488",
        "name": "上线",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 270,
        "y": 1280,
        "wires": [
            [
                "4ee23054.d9f11"
            ]
        ]
    },
    {
        "id": "5dcefcf0.8ada74",
        "type": "link out",
        "z": "9865b6ed.3c4488",
        "name": "",
        "links": [
            "f7eab5ce.212518"
        ],
        "x": 955,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4ee23054.d9f11",
        "type": "exec",
        "z": "9865b6ed.3c4488",
        "command": "ifconfig -a",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 1280,
        "wires": [
            [
                "451ab19b.334dd"
            ],
            [
                "451ab19b.334dd"
            ],
            []
        ]
    },
    {
        "id": "c6c4f1ac.09a43",
        "type": "change",
        "z": "9865b6ed.3c4488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "cmdgate",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.hd.stp",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.pld.st",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.pld.ts",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1280,
        "wires": [
            [
                "5dcefcf0.8ada74"
            ]
        ]
    },
    {
        "id": "451ab19b.334dd",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "",
        "func": "\nreturn {payload: {\n    pld: {\n        ext: msg.payload.split(\"\\n\\n\")\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1280,
        "wires": [
            [
                "c6c4f1ac.09a43"
            ]
        ]
    },
    {
        "id": "e91b64d5.a1aec8",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "",
        "func": "if (msg.payload.hd.cmd = 1 && msg.payload.hd.stp == 0 && msg.payload.hd.did == global.get(\"cmdgate\") )\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1240,
        "wires": [
            [
                "4ee23054.d9f11"
            ]
        ]
    },
    {
        "id": "5bd023f0.47710c",
        "type": "inject",
        "z": "9865b6ed.3c4488",
        "name": "上报 IP",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 1360,
        "wires": [
            [
                "42958de1.7a91c4"
            ]
        ]
    },
    {
        "id": "42958de1.7a91c4",
        "type": "change",
        "z": "9865b6ed.3c4488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "CMDGATE_CL_DJHYS",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.hd.stp",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1360,
        "wires": [
            [
                "6b0cc50a.00541c"
            ]
        ]
    },
    {
        "id": "ad2c8f69.252f1",
        "type": "link out",
        "z": "9865b6ed.3c4488",
        "name": "上报 IP",
        "links": [
            "f7eab5ce.212518",
            "d95dc0fd.41964"
        ],
        "x": 795,
        "y": 1360,
        "wires": []
    },
    {
        "id": "6b0cc50a.00541c",
        "type": "function",
        "z": "9865b6ed.3c4488",
        "name": "",
        "func": "msg.topic = global.get(\"mqtt\").topic.business.sub.prefix + msg.payload.hd.did\nmsg.dontChangeTopic = true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1360,
        "wires": [
            [
                "ad2c8f69.252f1"
            ]
        ]
    },
    {
        "id": "a270171b.d1cb68",
        "type": "change",
        "z": "de440d52.5fd48",
        "name": "指令4",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "4",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "business/cmdgate/CMDGATE_CL_FRA306",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "dontChangeTopic",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "9fdb7274.296f"
            ]
        ]
    },
    {
        "id": "9fdb7274.296f",
        "type": "link out",
        "z": "de440d52.5fd48",
        "name": "",
        "links": [
            "f7eab5ce.212518"
        ],
        "x": 835,
        "y": 520,
        "wires": []
    },
    {
        "id": "5ffe351c.5d201c",
        "type": "inject",
        "z": "de440d52.5fd48",
        "name": "up",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "1,151,350,1181,220,457,898,1144,249,1135,261,1122,274,1108,296,388,965,384,970,377,978,1061,348,334,1022,1040,360,326,1026,329,1022,1038,360,326,1025,329,1023,329,1023,1037,362,325,1025,328,1023,329,1024,328,10299,362,989,356,998,1046,362,325,1025,1038,361,1032,366,1029,363,1035,363,325,1027,328,1025,329,1025,1034,365,324,1027,1035,366,322,1027,329,1025,1036,362,325,1027,329,1025,329,1024,1037,360,326,1027,331,1023,329,1025,328,10305,365,990,355,1000,1047,362,326,1025,1037,362,1035,361,1036,362,1036,363,326,1028,333,1021,328,1026,1038,362,325,1028,1037,363,325,1028,328,1027,1036,364,326,1028,327,1027,329,1025,1038,362,327,1027,327,1028,329,1024,330,10310,364,990,357,999,1049,362,327,1026,1037,364,1036,363,1037,362,1039,363,326,1030,328,1025,329,1027,1039,363,326,1028,944,65535,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "3e5eba45.7a2736"
            ]
        ]
    },
    {
        "id": "c2523c0c.309e8",
        "type": "inject",
        "z": "de440d52.5fd48",
        "name": "down",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "1,295,183,1197,213,444,910,1145,251,1135,260,1127,266,1122,274,412,945,406,947,404,949,1096,303,380,976,1066,339,344,1014,338,1018,1036,368,320,1031,323,1031,321,1031,324,1029,324,1031,1027,366,321,1032,322,10320,358,997,350,1003,1041,367,320,1031,1028,367,1027,367,1029,367,1030,364,325,1031,323,1030,325,1030,1031,368,319,1032,1029,368,321,1033,323,1031,1030,367,320,1034,322,1032,324,1030,323,1031,323,1032,1029,367,325,1029,322,10328,359,997,350,1006,1039,367,322,1032,1029,367,1027,367,1030,366,1030,367,323,1034,321,1033,322,1034,1028,367,322,1033,1030,368,321,1033,323,1032,1030,368,321,1031,324,1034,322,1033,321,1032,324,1032,1030,367,321,1033,323,65535,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "3e5eba45.7a2736"
            ]
        ]
    },
    {
        "id": "de50ca88.1aca18",
        "type": "inject",
        "z": "de440d52.5fd48",
        "name": "stop",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "-2",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "1,1222,228,450,904,1144,250,1134,265,1122,279,1104,299,385,973,378,979,371,982,1058,355,332,1024,1039,362,326,1028,327,1027,1034,365,324,1028,328,1028,326,1025,328,1029,1032,366,324,1027,328,1027,327,10312,363,991,355,1001,1047,363,325,1027,1036,363,1035,363,1037,362,1036,364,325,1030,326,1029,327,1028,1036,364,325,1029,1038,363,324,1030,327,1029,1036,364,325,1030,326,1029,327,1030,325,1029,1036,363,326,1029,327,1027,328,10322,362,992,355,1001,1049,365,324,1027,1036,365,1034,365,1035,365,1035,364,326,1030,328,1029,328,1027,1037,365,324,1030,1038,364,325,1030,328,1027,1038,364,326,1029,327,1030,326,1030,326,1028,1039,361,328,1029,328,1028,328,10326,364,992,356,1000,1050,363,324,1030,1036,365,1034,367,1035,364,1036,365,325,1031,327,1030,327,1029,1036,364,326,1030,1037,364,327,1031,325,1030,502,65535,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "3e5eba45.7a2736"
            ]
        ]
    },
    {
        "id": "3e5eba45.7a2736",
        "type": "change",
        "z": "de440d52.5fd48",
        "name": "幕布",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "CL_FRA306_curtain_01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "a270171b.d1cb68"
            ]
        ]
    }
]