data/flows/CMDGATE_CL_JZX01.json
[
    {
        "id": "d9535c37.c62e9",
        "type": "tab",
        "label": "全局配置",
        "disabled": false,
        "info": ""
    },
    {
        "id": "84e2b33.40c105",
        "type": "tab",
        "label": "射频模块",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b2853d6.84776c",
        "type": "tab",
        "label": "窗帘状态",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3dde26d.e2daf",
        "type": "tab",
        "label": "长乐集装箱",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f57dd416.5de4f8",
        "type": "tab",
        "label": "射频模块",
        "disabled": true,
        "info": ""
    },
    {
        "id": "7f966f2b.565cf",
        "type": "tab",
        "label": "全局配置",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9892755d.518348",
        "type": "tab",
        "label": "其它配置",
        "disabled": true,
        "info": ""
    },
    {
        "id": "70a97e65.10882",
        "type": "tab",
        "label": "终端上行指令",
        "disabled": true,
        "info": ""
    },
    {
        "id": "2a593e50.77ef92",
        "type": "tab",
        "label": "终端下行指令",
        "disabled": true,
        "info": ""
    },
    {
        "id": "95689f3b.069d6",
        "type": "tab",
        "label": "业务网关输入",
        "disabled": true,
        "info": ""
    },
    {
        "id": "7f4f785d.e83d58",
        "type": "tab",
        "label": "业务网关输出",
        "disabled": true,
        "info": ""
    },
    {
        "id": "75a3e362.0ad2cc",
        "type": "tab",
        "label": "格力空调No1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "8bcb415f.af69a",
        "type": "tab",
        "label": "格力空调No2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "a56da18a.6be18",
        "type": "tab",
        "label": "窗帘",
        "disabled": true,
        "info": ""
    },
    {
        "id": "5c569ec8.d608f",
        "type": "ui_group",
        "name": "AC",
        "tab": "168c092a.469d97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "168c092a.469d97",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83343b26.8b5988",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5f3bc18d.7141c",
        "type": "gree-hvac-config",
        "name": "air-no1",
        "host": "192.168.1.114"
    },
    {
        "id": "849cbceb.9873d",
        "type": "mqtt-broker",
        "name": "mqtt.local",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "834b23cd.9a174",
        "type": "gree-hvac-config",
        "name": "air-no2",
        "host": "192.168.1.189"
    },
    {
        "id": "480b54ad.8c4e1c",
        "type": "mqtt-broker",
        "name": "mqtt.business",
        "broker": "43.231.150.88",
        "port": "1780",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b584174.814dfe8",
        "type": "debug",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "50cd83fb.98b19c",
        "type": "gree-hvac",
        "z": "75a3e362.0ad2cc",
        "d": true,
        "name": "AC",
        "device": "5f3bc18d.7141c",
        "interval": "3",
        "debug": false,
        "x": 410,
        "y": 560,
        "wires": [
            [
                "b584174.814dfe8"
            ],
            [
                "a5b358c2.3e4ad8",
                "b584174.814dfe8",
                "a30580c5.47783"
            ]
        ]
    },
    {
        "id": "61046675.c20dd8",
        "type": "switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mode",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fanSpeed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "swingVert",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "swingHor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "health",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lights",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "powerSave",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "d8c89bd2.2a04a8"
            ],
            [
                "1a544b94.0ee074"
            ],
            [
                "9b5f6baa.f4cea8"
            ],
            [
                "b331259c.875d98"
            ],
            [
                "6829b2cb.ea15fc"
            ],
            [
                "b94c722a.5224c"
            ],
            [
                "17740952.0f17d7"
            ],
            [
                "875ecf15.75b7b"
            ],
            [
                "96dfc05e.8fe29"
            ],
            [
                "7673e0f8.a6f0d"
            ]
        ]
    },
    {
        "id": "d8c89bd2.2a04a8",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "true",
        "topic": "power",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 100,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "96dfc05e.8fe29",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Lights",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "lights",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 580,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "9b5f6baa.f4cea8",
        "type": "ui_numeric",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "temperature",
        "topicType": "str",
        "format": "{{value}}",
        "min": "23",
        "max": "25",
        "step": 1,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "6829b2cb.ea15fc",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Vertical swing ",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Default",
                "value": "default",
                "type": "str"
            },
            {
                "label": "Swing in full range",
                "value": "full",
                "type": "str"
            },
            {
                "label": "Fixed top",
                "value": "fixedTop",
                "type": "str"
            },
            {
                "label": "Fixed mid-top",
                "value": "fixedMidTop",
                "type": "str"
            },
            {
                "label": "Fixed mid",
                "value": "fixedMid",
                "type": "str"
            },
            {
                "label": "Fixed mid-bottom",
                "value": "fixedMidBottom",
                "type": "str"
            },
            {
                "label": "Fixed bottom",
                "value": "fixedBottom",
                "type": "str"
            },
            {
                "label": "Swing bottom",
                "value": "swingBottom",
                "type": "str"
            },
            {
                "label": "Swing mid-bottom",
                "value": "swingMidBottom",
                "type": "str"
            },
            {
                "label": "Swing mid",
                "value": "swingMid",
                "type": "str"
            },
            {
                "label": "Swing mid top",
                "value": "swingMidTop",
                "type": "str"
            },
            {
                "label": "Swing top",
                "value": "swingTop",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "swingVert",
        "topicType": "str",
        "x": 840,
        "y": 340,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "c4602e6e.68bd2",
        "type": "rbe",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1090,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b94c722a.5224c",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Horizontal swing ",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "Default",
                "value": "default",
                "type": "str"
            },
            {
                "label": "Full",
                "value": "full",
                "type": "str"
            },
            {
                "label": "Fixed left",
                "value": "fixedLeft",
                "type": "str"
            },
            {
                "label": "Fixed mid-left",
                "value": "fixedMidLeft",
                "type": "str"
            },
            {
                "label": "Fixed mid",
                "value": "fixedMid",
                "type": "str"
            },
            {
                "label": "Fixed mid-right",
                "value": "fixedMidRight",
                "type": "str"
            },
            {
                "label": "Fixed right",
                "value": "fixedRight",
                "type": "str"
            },
            {
                "label": "Full alt",
                "value": "fullAlt",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "swingHor",
        "x": 840,
        "y": 400,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ],
        "info": "Controls the swing mode of the horizontal air blades (not available on all units)"
    },
    {
        "id": "b331259c.875d98",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Fan speed",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Low",
                "value": "low",
                "type": "str"
            },
            {
                "label": "Medium low",
                "value": "mediumLow",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Medium high",
                "value": "mediumHigh",
                "type": "str"
            },
            {
                "label": "High",
                "value": "high",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "fanSpeed",
        "topicType": "str",
        "x": 830,
        "y": 280,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "7673e0f8.a6f0d",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Power save",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "powerSave",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 830,
        "y": 640,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "a5b358c2.3e4ad8",
        "type": "split",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "61046675.c20dd8"
            ]
        ]
    },
    {
        "id": "1a544b94.0ee074",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Cool",
                "value": "cool",
                "type": "str"
            },
            {
                "label": "Dry",
                "value": "dry",
                "type": "str"
            },
            {
                "label": "Fan only",
                "value": "fan_only",
                "type": "str"
            },
            {
                "label": "Heat",
                "value": "heat",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode",
        "x": 810,
        "y": 160,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "17740952.0f17d7",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Cold plasma",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "health",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 830,
        "y": 460,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "875ecf15.75b7b",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "X-Fan",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "blow",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 810,
        "y": 520,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "6e9291c.b1e257",
        "type": "link in",
        "z": "75a3e362.0ad2cc",
        "name": "Gree.In",
        "links": [
            "8caa50fc.ee778",
            "f7963ab9.1c02b8"
        ],
        "x": 175,
        "y": 180,
        "wires": [
            [
                "ff37e69f.7c2708",
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "1da3abfe.d62c34",
        "type": "link out",
        "z": "75a3e362.0ad2cc",
        "name": "GreeFront.out",
        "links": [
            "3ea7b3a4.0365ec",
            "13a600cb.6df89f"
        ],
        "x": 955,
        "y": 740,
        "wires": []
    },
    {
        "id": "1a25cef8.3c9021",
        "type": "mqtt out",
        "z": "7f4f785d.e83d58",
        "name": "svcgate.out",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "790663c8.47f1ec",
        "type": "switch",
        "z": "95689f3b.069d6",
        "name": "cmd",
        "property": "hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "307c3829.7b7bf8"
            ],
            [
                "f7de62ed.c6c1f"
            ],
            [
                "1e8948c1.08d1f7"
            ]
        ]
    },
    {
        "id": "7cf4138d.a6c55c",
        "type": "switch",
        "z": "95689f3b.069d6",
        "name": "air",
        "property": "hd.did",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "device.air.no1.did",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "device.air.no2.did",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "8caa50fc.ee778",
                "29f7bf8a.2f5a3"
            ],
            [
                "6e5381a.29a758"
            ]
        ]
    },
    {
        "id": "8caa50fc.ee778",
        "type": "link out",
        "z": "95689f3b.069d6",
        "name": "svcgate.air.no1.out",
        "links": [
            "6e9291c.b1e257"
        ],
        "x": 945,
        "y": 160,
        "wires": []
    },
    {
        "id": "6e5381a.29a758",
        "type": "link out",
        "z": "95689f3b.069d6",
        "name": "svcgate.air.no2.out",
        "links": [
            "ef73bbfa.acda48"
        ],
        "x": 945,
        "y": 240,
        "wires": []
    },
    {
        "id": "29f7bf8a.2f5a3",
        "type": "debug",
        "z": "95689f3b.069d6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "hd",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 200,
        "wires": []
    },
    {
        "id": "1e8948c1.08d1f7",
        "type": "debug",
        "z": "95689f3b.069d6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "playload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "ff37e69f.7c2708",
        "type": "debug",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "c7393102.dd7af",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "power",
        "payload": "off",
        "payloadType": "str",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "4b98fbf7.d44b04",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "power",
        "payload": "on",
        "payloadType": "str",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "90095639.c1abb8",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "16",
        "payloadType": "num",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "b9c78ac4.f2ce38",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "26",
        "payloadType": "num",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "368e643f.4ac9ac",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fanSpeed",
        "payload": "auto",
        "payloadType": "str",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "c965d782.01cae8",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "lights",
        "payload": "off",
        "payloadType": "str",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "2de57060.09769",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "lights",
        "payload": "on",
        "payloadType": "str",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "31385e6.ad591a2",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fanSpeed",
        "payload": "low",
        "payloadType": "str",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "307c3829.7b7bf8",
        "type": "change",
        "z": "95689f3b.069d6",
        "name": "air change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pld",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 100,
        "wires": [
            [
                "7cf4138d.a6c55c"
            ]
        ]
    },
    {
        "id": "3ea7b3a4.0365ec",
        "type": "link in",
        "z": "7f4f785d.e83d58",
        "name": "svcgate.air.in",
        "links": [
            "1da3abfe.d62c34",
            "135a5141.d5d8bf"
        ],
        "x": 175,
        "y": 160,
        "wires": [
            [
                "a4ff2753.5e9f58"
            ]
        ]
    },
    {
        "id": "a30580c5.47783",
        "type": "change",
        "z": "75a3e362.0ad2cc",
        "name": "sethd.did",
        "rules": [
            {
                "t": "set",
                "p": "hd.did",
                "pt": "msg",
                "to": "device.air.no1.did",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 740,
        "wires": [
            [
                "1da3abfe.d62c34"
            ]
        ]
    },
    {
        "id": "a4ff2753.5e9f58",
        "type": "change",
        "z": "7f4f785d.e83d58",
        "name": "air.change",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "pld",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "hd.cmd",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "hd.stp",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.hd",
                "pt": "msg",
                "to": "hd",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.pld",
                "pt": "msg",
                "to": "pld",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "ce224e58.40c51",
                "a3f4c10.5c5a24"
            ]
        ]
    },
    {
        "id": "ce224e58.40c51",
        "type": "debug",
        "z": "7f4f785d.e83d58",
        "name": "air.change",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "833a9f0f.2467",
        "type": "link in",
        "z": "7f4f785d.e83d58",
        "name": "svcgate.in",
        "links": [],
        "x": 355,
        "y": 460,
        "wires": [
            [
                "a3f4c10.5c5a24"
            ]
        ]
    },
    {
        "id": "d0ffb263.2bb0e",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":17}",
        "payloadType": "json",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "52067151.05f5c",
        "type": "debug",
        "z": "8bcb415f.af69a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 580,
        "wires": []
    },
    {
        "id": "233890b5.de81d",
        "type": "gree-hvac",
        "z": "8bcb415f.af69a",
        "d": true,
        "name": "AC",
        "device": "834b23cd.9a174",
        "interval": "3",
        "debug": false,
        "x": 470,
        "y": 580,
        "wires": [
            [
                "52067151.05f5c"
            ],
            [
                "a66fe3a4.f6675",
                "52067151.05f5c",
                "3553d0ce.a5f73"
            ]
        ]
    },
    {
        "id": "9d034f2.d40acb",
        "type": "switch",
        "z": "8bcb415f.af69a",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mode",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fanSpeed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "swingVert",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "swingHor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "health",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lights",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "powerSave",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 670,
        "y": 360,
        "wires": [
            [
                "f910cba7.f7e458"
            ],
            [
                "5c2ba7b3.6ef838"
            ],
            [
                "4a3a89e8.447108"
            ],
            [
                "5700254a.1e033c"
            ],
            [
                "6fbe30cb.64303"
            ],
            [
                "c14b2f38.483bb"
            ],
            [
                "4e60bf68.faabd"
            ],
            [
                "5c5d2a9c.d019b4"
            ],
            [
                "40ed4b61.1aab84"
            ],
            [
                "2321976b.b28ab8"
            ]
        ]
    },
    {
        "id": "f910cba7.f7e458",
        "type": "ui_switch",
        "z": "8bcb415f.af69a",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "true",
        "topic": "power",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 870,
        "y": 120,
        "wires": [
            [
                "32f1f22f.b7c1be"
            ]
        ]
    },
    {
        "id": "40ed4b61.1aab84",
        "type": "ui_switch",
        "z": "8bcb415f.af69a",
        "name": "",
        "label": "Lights",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "lights",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 870,
        "y": 600,
        "wires": [
            [
                "32f1f22f.b7c1be"
            ]
        ]
    },
    {
        "id": "4a3a89e8.447108",
        "type": "ui_numeric",
        "z": "8bcb415f.af69a",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "temperature",
        "topicType": "str",
        "format": "{{value}}",
        "min": "23",
        "max": "25",
        "step": 1,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "32f1f22f.b7c1be"
            ]
        ]
    },
    {
        "id": "6fbe30cb.64303",
        "type": "ui_dropdown",
        "z": "8bcb415f.af69a",
        "name": "",
        "label": "Vertical swing ",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Default",
                "value": "default",
                "type": "str"
            },
            {
                "label": "Swing in full range",
                "value": "full",
                "type": "str"
            },
            {
                "label": "Fixed top",
                "value": "fixedTop",
                "type": "str"
            },
            {
                "label": "Fixed mid-top",
                "value": "fixedMidTop",
                "type": "str"
            },
            {
                "label": "Fixed mid",
                "value": "fixedMid",
                "type": "str"
            },
            {
                "label": "Fixed mid-bottom",
                "value": "fixedMidBottom",
                "type": "str"
            },
            {
                "label": "Fixed bottom",
                "value": "fixedBottom",
                "type": "str"
            },
            {
                "label": "Swing bottom",
                "value": "swingBottom",
                "type": "str"
            },
            {
                "label": "Swing mid-bottom",
                "value": "swingMidBottom",
                "type": "str"
            },
            {
                "label": "Swing mid",
                "value": "swingMid",
                "type": "str"
            },
            {
                "label": "Swing mid top",
                "value": "swingMidTop",
                "type": "str"
            },
            {
                "label": "Swing top",
                "value": "swingTop",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "swingVert",
        "topicType": "str",
        "x": 900,
        "y": 360,
        "wires": [
            [
                "32f1f22f.b7c1be"
            ]
        ]
    },
    {
        "id": "32f1f22f.b7c1be",
        "type": "rbe",
        "z": "8bcb415f.af69a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1150,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c14b2f38.483bb",
        "type": "ui_dropdown",
        "z": "8bcb415f.af69a",
        "name": "",
        "label": "Horizontal swing ",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "Default",
                "value": "default",
                "type": "str"
            },
            {
                "label": "Full",
                "value": "full",
                "type": "str"
            },
            {
                "label": "Fixed left",
                "value": "fixedLeft",
                "type": "str"
            },
            {
                "label": "Fixed mid-left",
                "value": "fixedMidLeft",
                "type": "str"
            },
            {
                "label": "Fixed mid",
                "value": "fixedMid",
                "type": "str"
            },
            {
                "label": "Fixed mid-right",
                "value": "fixedMidRight",
                "type": "str"
            },
            {
                "label": "Fixed right",
                "value": "fixedRight",
                "type": "str"
            },
            {
                "label": "Full alt",
                "value": "fullAlt",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "swingHor",
        "x": 900,
        "y": 420,
        "wires": [
            [
                "32f1f22f.b7c1be"
            ]
        ],
        "info": "Controls the swing mode of the horizontal air blades (not available on all units)"
    },
    {
        "id": "5700254a.1e033c",
        "type": "ui_dropdown",
        "z": "8bcb415f.af69a",
        "name": "",
        "label": "Fan speed",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Low",
                "value": "low",
                "type": "str"
            },
            {
                "label": "Medium low",
                "value": "mediumLow",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Medium high",
                "value": "mediumHigh",
                "type": "str"
            },
            {
                "label": "High",
                "value": "high",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "fanSpeed",
        "topicType": "str",
        "x": 890,
        "y": 300,
        "wires": [
            [
                "32f1f22f.b7c1be"
            ]
        ]
    },
    {
        "id": "2321976b.b28ab8",
        "type": "ui_switch",
        "z": "8bcb415f.af69a",
        "name": "",
        "label": "Power save",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "powerSave",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 890,
        "y": 660,
        "wires": [
            [
                "32f1f22f.b7c1be"
            ]
        ]
    },
    {
        "id": "a66fe3a4.f6675",
        "type": "split",
        "z": "8bcb415f.af69a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 550,
        "y": 360,
        "wires": [
            [
                "9d034f2.d40acb"
            ]
        ]
    },
    {
        "id": "5c2ba7b3.6ef838",
        "type": "ui_dropdown",
        "z": "8bcb415f.af69a",
        "name": "",
        "label": "Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Cool",
                "value": "cool",
                "type": "str"
            },
            {
                "label": "Dry",
                "value": "dry",
                "type": "str"
            },
            {
                "label": "Fan only",
                "value": "fan_only",
                "type": "str"
            },
            {
                "label": "Heat",
                "value": "heat",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode",
        "x": 870,
        "y": 180,
        "wires": [
            [
                "32f1f22f.b7c1be"
            ]
        ]
    },
    {
        "id": "4e60bf68.faabd",
        "type": "ui_switch",
        "z": "8bcb415f.af69a",
        "name": "",
        "label": "Cold plasma",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "health",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 890,
        "y": 480,
        "wires": [
            [
                "32f1f22f.b7c1be"
            ]
        ]
    },
    {
        "id": "5c5d2a9c.d019b4",
        "type": "ui_switch",
        "z": "8bcb415f.af69a",
        "name": "",
        "label": "X-Fan",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "blow",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 870,
        "y": 540,
        "wires": [
            [
                "32f1f22f.b7c1be"
            ]
        ]
    },
    {
        "id": "ef73bbfa.acda48",
        "type": "link in",
        "z": "8bcb415f.af69a",
        "name": "Gree.In",
        "links": [
            "6e5381a.29a758",
            "48d79df7.2d9804"
        ],
        "x": 175,
        "y": 200,
        "wires": [
            [
                "b6c48a96.2377e8",
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "135a5141.d5d8bf",
        "type": "link out",
        "z": "8bcb415f.af69a",
        "name": "GreeFront.out",
        "links": [
            "3ea7b3a4.0365ec",
            "13a600cb.6df89f"
        ],
        "x": 1015,
        "y": 760,
        "wires": []
    },
    {
        "id": "b6c48a96.2377e8",
        "type": "debug",
        "z": "8bcb415f.af69a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 180,
        "wires": []
    },
    {
        "id": "b55f9221.ccd69",
        "type": "inject",
        "z": "8bcb415f.af69a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "power",
        "payload": "off",
        "payloadType": "str",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "8f51bb1a.05f2d8",
        "type": "inject",
        "z": "8bcb415f.af69a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "power",
        "payload": "on",
        "payloadType": "str",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "b370fd13.4a211",
        "type": "inject",
        "z": "8bcb415f.af69a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "16",
        "payloadType": "num",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "b405e110.956c6",
        "type": "inject",
        "z": "8bcb415f.af69a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "26",
        "payloadType": "num",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "6f1c76d1.63b608",
        "type": "inject",
        "z": "8bcb415f.af69a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fanSpeed",
        "payload": "auto",
        "payloadType": "str",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "58aa7108.0e6c3",
        "type": "inject",
        "z": "8bcb415f.af69a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "lights",
        "payload": "off",
        "payloadType": "str",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "7235768b.949fa8",
        "type": "inject",
        "z": "8bcb415f.af69a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "lights",
        "payload": "on",
        "payloadType": "str",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "218b2a17.06e666",
        "type": "inject",
        "z": "8bcb415f.af69a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fanSpeed",
        "payload": "low",
        "payloadType": "str",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "3553d0ce.a5f73",
        "type": "change",
        "z": "8bcb415f.af69a",
        "name": "sethd.did",
        "rules": [
            {
                "t": "set",
                "p": "hd.did",
                "pt": "msg",
                "to": "device.air.no2.did",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 760,
        "wires": [
            [
                "135a5141.d5d8bf"
            ]
        ]
    },
    {
        "id": "b9e8f95a.a62ac8",
        "type": "inject",
        "z": "8bcb415f.af69a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":17}",
        "payloadType": "json",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "dc39bfc0.4640a",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "status",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "4b3ee1a1.8807",
        "type": "inject",
        "z": "8bcb415f.af69a",
        "name": "status",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "233890b5.de81d"
            ]
        ]
    },
    {
        "id": "16310797.512578",
        "type": "inject",
        "z": "7f966f2b.565cf",
        "name": "config.inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "4b5d64c7.7adcac"
            ]
        ]
    },
    {
        "id": "17414852.0b9ee8",
        "type": "change",
        "z": "7f966f2b.565cf",
        "name": "空调",
        "rules": [
            {
                "t": "set",
                "p": "device.air.no1.did",
                "pt": "global",
                "to": "c8f742e36fd2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device.air.no2.did",
                "pt": "global",
                "to": "24dfa7056ca9",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "188b9959.accb37"
            ]
        ]
    },
    {
        "id": "2fe26375.6df5ac",
        "type": "announce",
        "z": "7f966f2b.565cf",
        "name": "cmd-gateway-mqtt-server",
        "service": "_mqtt._tcp",
        "port": "1883",
        "txt": "",
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "9739c1aa.ee9b2",
        "type": "discovery",
        "z": "7f966f2b.565cf",
        "name": "cmd-gateway-mqtt-server",
        "topic": "cmd-gateway-mqtt-server",
        "service": "_mqtt._tcp",
        "x": 650,
        "y": 620,
        "wires": [
            [
                "cb472e9a.724b6"
            ]
        ]
    },
    {
        "id": "11606554.65d71b",
        "type": "inject",
        "z": "7f966f2b.565cf",
        "name": "mDNS",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "2fe26375.6df5ac"
            ]
        ]
    },
    {
        "id": "cb472e9a.724b6",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "mDNS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 620,
        "wires": []
    },
    {
        "id": "154dae3c.baf342",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "d": true,
        "name": "mqtt",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 110,
        "y": 340,
        "wires": []
    },
    {
        "id": "a3f4c10.5c5a24",
        "type": "change",
        "z": "7f4f785d.e83d58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$globalContext(\"business.mqtt.pub.topic\")\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "1a25cef8.3c9021",
                "b85f5350.df1ee"
            ]
        ]
    },
    {
        "id": "90c2e4a1.45c568",
        "type": "mqtt in",
        "z": "7f966f2b.565cf",
        "name": "svcgate.in",
        "topic": "business/cmdgate/CMDGATE_CL_JZX01",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "e859dc9a.b89e7",
                "980e597.75131a8"
            ]
        ]
    },
    {
        "id": "e859dc9a.b89e7",
        "type": "link out",
        "z": "7f966f2b.565cf",
        "name": "svcgate.in",
        "links": [
            "1366c86e.c03958",
            "4063d63.69da628"
        ],
        "x": 735,
        "y": 340,
        "wires": []
    },
    {
        "id": "1366c86e.c03958",
        "type": "link in",
        "z": "95689f3b.069d6",
        "name": "svcgate.in",
        "links": [
            "e859dc9a.b89e7"
        ],
        "x": 155,
        "y": 280,
        "wires": [
            [
                "d5e8f15a.efde6"
            ]
        ]
    },
    {
        "id": "980e597.75131a8",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "1b2bd928.c474e7",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "编号配置",
        "info": "",
        "x": 60,
        "y": 40,
        "wires": []
    },
    {
        "id": "b892f30e.722aa",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT服务地址及订阅主题配置",
        "info": "",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "3af7bd46.01dd62",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "mDNS配置",
        "info": "",
        "x": 60,
        "y": 540,
        "wires": []
    },
    {
        "id": "e1cfc28.4b1ea4",
        "type": "comment",
        "z": "9892755d.518348",
        "name": "格力空调IP地址配置",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "fbfa88f5.968de8",
        "type": "gree-hvac",
        "z": "9892755d.518348",
        "d": true,
        "name": "Gree HVAC",
        "device": "834b23cd.9a174",
        "interval": "3",
        "debug": false,
        "x": 330,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d5e8f15a.efde6",
        "type": "change",
        "z": "95689f3b.069d6",
        "name": "payload change",
        "rules": [
            {
                "t": "set",
                "p": "hd",
                "pt": "msg",
                "to": "payload.hd",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pld",
                "pt": "msg",
                "to": "payload.pld",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "790663c8.47f1ec"
            ]
        ]
    },
    {
        "id": "ef656a0a.2f3b08",
        "type": "switch",
        "z": "70a97e65.10882",
        "name": "cmd",
        "property": "hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "6445d034.4ee2b"
            ],
            []
        ]
    },
    {
        "id": "380ec41f.3d8d0c",
        "type": "debug",
        "z": "70a97e65.10882",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "e1cf3cd2.0c5e3",
        "type": "change",
        "z": "70a97e65.10882",
        "name": "payload",
        "rules": [
            {
                "t": "set",
                "p": "hd",
                "pt": "msg",
                "to": "payload.hd",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pld",
                "pt": "msg",
                "to": "payload.pld",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 300,
        "wires": [
            [
                "ef656a0a.2f3b08",
                "380ec41f.3d8d0c"
            ]
        ]
    },
    {
        "id": "733bfe48.a5f4d",
        "type": "mqtt in",
        "z": "70a97e65.10882",
        "name": "cmdgate.in",
        "topic": "cmdgate/central/cmd",
        "qos": "2",
        "datatype": "json",
        "broker": "849cbceb.9873d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "e1cf3cd2.0c5e3"
            ]
        ]
    },
    {
        "id": "4b5d64c7.7adcac",
        "type": "change",
        "z": "7f966f2b.565cf",
        "name": "网关",
        "rules": [
            {
                "t": "set",
                "p": "device.cmdgate.did",
                "pt": "global",
                "to": "CMDGATE_CL_JZX01",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "business.mqtt.sub.topic",
                "pt": "global",
                "to": "\"business/cmdgate/\" & $globalContext(\"device.cmdgate.did\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "business.mqtt.pub.topic",
                "pt": "global",
                "to": "\"business/svcgate/\" & $globalContext(\"device.cmdgate.did\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "terminal.mqtt.sub.topic",
                "pt": "global",
                "to": "cmdgate/central/cmd",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "terminal.mqtt.pub.topic.prefix",
                "pt": "global",
                "to": "cmdgate/device/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "17414852.0b9ee8"
            ]
        ]
    },
    {
        "id": "9a7c5bd5.1c48e8",
        "type": "mqtt out",
        "z": "2a593e50.77ef92",
        "name": "cmdgate.out",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "c4fea7d.262de58",
        "type": "link in",
        "z": "2a593e50.77ef92",
        "name": "cmdgate.in",
        "links": [
            "3f69284a.5521e8"
        ],
        "x": 235,
        "y": 240,
        "wires": [
            [
                "9a7c5bd5.1c48e8",
                "93d1dd50.35d66",
                "944addd3.5bb31"
            ]
        ]
    },
    {
        "id": "9703f774.751138",
        "type": "inject",
        "z": "2a593e50.77ef92",
        "name": "",
        "props": [
            {
                "p": "payload.hd.did",
                "v": "1234",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a3ccadd4.4985e",
        "type": "link in",
        "z": "7f4f785d.e83d58",
        "name": "svcgate.curtain.in",
        "links": [
            "d35b1db3.7ecc8",
            "c54d2d0d.3774d"
        ],
        "x": 175,
        "y": 260,
        "wires": [
            [
                "67d71c7.49ec4e4"
            ]
        ]
    },
    {
        "id": "67d71c7.49ec4e4",
        "type": "change",
        "z": "7f4f785d.e83d58",
        "name": "curtain.change",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.hd.stp",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "a3f4c10.5c5a24"
            ]
        ]
    },
    {
        "id": "b7646f9b.cc91b",
        "type": "link out",
        "z": "95689f3b.069d6",
        "name": "svcgate.curtain.out",
        "links": [
            "d00ba3f9.a6ac8"
        ],
        "x": 935,
        "y": 280,
        "wires": []
    },
    {
        "id": "6445d034.4ee2b",
        "type": "link out",
        "z": "70a97e65.10882",
        "name": "cmdgate.curtain.out",
        "links": [
            "3698498c.a8f3c6"
        ],
        "x": 655,
        "y": 240,
        "wires": []
    },
    {
        "id": "d00ba3f9.a6ac8",
        "type": "link in",
        "z": "a56da18a.6be18",
        "name": "svcgate.in",
        "links": [
            "b7646f9b.cc91b"
        ],
        "x": 275,
        "y": 120,
        "wires": [
            [
                "17d6a2db.54ca0d"
            ]
        ]
    },
    {
        "id": "188b9959.accb37",
        "type": "change",
        "z": "7f966f2b.565cf",
        "name": "窗帘收发器",
        "rules": [
            {
                "t": "set",
                "p": "device.transceiver.no1.did",
                "pt": "global",
                "to": "ESP8266_5628343",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device.curtain.no1.did",
                "pt": "global",
                "to": "CL_JZX01_curtain_01",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device.curtain.no2.did",
                "pt": "global",
                "to": "CL_JZX01_curtain_02",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3698498c.a8f3c6",
        "type": "link in",
        "z": "a56da18a.6be18",
        "name": "cmdgate.in",
        "links": [
            "6445d034.4ee2b"
        ],
        "x": 275,
        "y": 460,
        "wires": [
            [
                "c54d2d0d.3774d",
                "f28726fc.8bf688"
            ]
        ]
    },
    {
        "id": "15cdff43.6c9b51",
        "type": "inject",
        "z": "a56da18a.6be18",
        "name": "UP",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.curtain.no1.did\"),\t   \"cmd\":4\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{    \t   \"open\": 100,\t   \"ray\":$flowContext(\"device.curtain.ray.up\")\t}",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "17d6a2db.54ca0d"
            ]
        ]
    },
    {
        "id": "b2b532d0.a0b31",
        "type": "inject",
        "z": "a56da18a.6be18",
        "name": "Down",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.curtain.no1.did\"),\t   \"cmd\":4\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{    \t   \"open\": 0,\t   \"ray\":$flowContext(\"device.curtain.ray.down\")\t}",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "17d6a2db.54ca0d"
            ]
        ]
    },
    {
        "id": "8b057859.70c738",
        "type": "inject",
        "z": "a56da18a.6be18",
        "name": "Stop",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.curtain.no1.did\"),\t   \"cmd\":4\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{       \"open\": -2,   \"ray\":$flowContext(\"device.curtain.ray.stop\")}",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "17d6a2db.54ca0d"
            ]
        ]
    },
    {
        "id": "f1e5b790.b9de08",
        "type": "inject",
        "z": "a56da18a.6be18",
        "name": "Hello1",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.curtain.no1.did\"),\t   \"cmd\":4\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"open\":-1}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "17d6a2db.54ca0d"
            ]
        ]
    },
    {
        "id": "17d6a2db.54ca0d",
        "type": "change",
        "z": "a56da18a.6be18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$globalContext(\"terminal.mqtt.pub.topic.prefix\") & $globalContext(\"device.transceiver.no1.did\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 120,
        "wires": [
            [
                "3f69284a.5521e8"
            ]
        ]
    },
    {
        "id": "f898cc03.a26fe",
        "type": "inject",
        "z": "a56da18a.6be18",
        "name": "Hello2",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\t   \"did\":$globalContext(\"device.curtain.no2.did\"),\t   \"cmd\":4\t}",
                "vt": "jsonata"
            },
            {
                "p": "payload.pld",
                "v": "{\"open\":-1}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "17d6a2db.54ca0d"
            ]
        ]
    },
    {
        "id": "3f69284a.5521e8",
        "type": "link out",
        "z": "a56da18a.6be18",
        "name": "cmdgate.out",
        "links": [
            "c4fea7d.262de58"
        ],
        "x": 865,
        "y": 120,
        "wires": []
    },
    {
        "id": "8420141.54741e8",
        "type": "change",
        "z": "a56da18a.6be18",
        "name": "窗帘红码配置",
        "rules": [
            {
                "t": "set",
                "p": "device.curtain.ray.up",
                "pt": "flow",
                "to": "2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device.curtain.ray.down",
                "pt": "flow",
                "to": "2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,650,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,650,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,650,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device.curtain.ray.stop",
                "pt": "flow",
                "to": "655, 646, 654, 655, 646, 639, 654, 654, 647, 654, 646, 647, 654, 639, 654, 639, 2601, 2609, 646, 639, 654, 1295, 662, 646, 647, 654, 646, 647, 1300, 1285, 1309, 1293, 662, 646, 654, 647, 646, 647, 654, 639, 654, 654, 647, 654, 1293, 1292, 1301, 662, 639, 1300, 1295, 646, 662, 647, 654, 1301, 646, 662, 1285, 1301, 646, 654, 655, 638, 655, 646, 654, 639, 654, 647, 1308, 1285, 662, 647, 1293, 654, 646, 1293, 654, 647, 1308, 1290, 654, 646, 655, 638, 662, 647, 646, 647, 646, 654, 655, 654, 646, 647, 639, 654, 654, 654, 2586, 2601, 646, 663, 637, 1571, 378, 647, 654, 646, 655, 644, 1301, 1292, 1301, 1301, 646, 647, 654, 654, 654, 647, 646, 647, 654, 639, 662, 638, 1301, 1308, 1293, 654, 647, 1300, 1293, 647, 654, 639, 654, 1301, 655, 639, 1293, 1308, 647, 646, 654, 655, 646, 654, 639, 647, 654, 646, 1309, 1292, 663, 646, 1301, 654, 639, 1292, 662, 639, 1308, 1293, 655, 646, 654, 639, 656, 638, 662, 655, 638, 655, 638, 670, 639, 662, 638, 663, 638, 639, 2601, 2601, 647, 646, 654, 1285, 662, 655, 646, 639, 662, 638, 1309, 1293, 1300, 1302, 647, 646, 654, 647, 654, 654, 639, 654, 647, 646, 655, 646, 1308, 1293, 1309, 646, 639, 1308,1301, 654, 639, 654, 654, 1285, 654, 654, 1301, 1283, 656, 646, 663, 646, 654, 647, 654, 631, 662, 654, 1293, 1293, 654, 646, 1309, 639, 654, 1293, 654, 646, 1293, 1293, 670, ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "7821ac8c.faaf04",
        "type": "inject",
        "z": "a56da18a.6be18",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "8420141.54741e8"
            ]
        ]
    },
    {
        "id": "93d1dd50.35d66",
        "type": "debug",
        "z": "2a593e50.77ef92",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "c54d2d0d.3774d",
        "type": "link out",
        "z": "a56da18a.6be18",
        "name": "",
        "links": [
            "a3ccadd4.4985e"
        ],
        "x": 425,
        "y": 460,
        "wires": []
    },
    {
        "id": "f7de62ed.c6c1f",
        "type": "change",
        "z": "95689f3b.069d6",
        "name": "curtain.change",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 280,
        "wires": [
            [
                "b7646f9b.cc91b"
            ]
        ]
    },
    {
        "id": "f28726fc.8bf688",
        "type": "debug",
        "z": "a56da18a.6be18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "944addd3.5bb31",
        "type": "debug",
        "z": "2a593e50.77ef92",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "b85f5350.df1ee",
        "type": "debug",
        "z": "7f4f785d.e83d58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "ee412c0d.4d82b",
        "type": "change",
        "z": "a56da18a.6be18",
        "name": "窗帘红码配置",
        "rules": [
            {
                "t": "set",
                "p": "device.curtain.ray.up",
                "pt": "flow",
                "to": "646, 653, 793, 506, 637, 653, 661, 638, 661, 630, 661, 637, 654, 661, 637, 646, 2589, 2605, 661, 629, 661, 1299, 653, 646, 645, 653, 653, 654, 1290, 1307, 1290, 1285, 661, 645, 654, 645, 646, 660, 654, 630, 661, 645, 661, 638, 1306, 1306, 1299, 637, 654, 1298, 1291, 653, 653, 646, 653, 1298, 1291, 1306, 646, 653, 638, 653, 654, 645, 645, 661, 654, 637, 661, 3233, 654, 639, 1300, 655, 1741, 199, 662, 647, 1300, 1293, 647, 646, 662, 654, 647, 631, 662, 638, 662, 639, 654, 645, 654, 639, 654, 654, 647, 654, 2578, 2609, 646, 654, 647, 1293, 662, 638, 655, 638, 662, 639, 1308, 1293, 1301, 1293, 646, 647, 662, 646, 647, 658, 646, 647, 654, 631, 662, 638, 1301, 1316, 1285, 647, 662, 1285, 1300, 647, 654, 639, 662, 1300, 1293, 1285, 662, 631, 670, 639, 654, 639, 662, 638, 662, 664, 631, 639, 654, 654, 647, 638, 662, 647, 1308, 639, 654, 1285, 654, 647, 1300, 1309, 646, 639, 662, 646, 647, 646, 647, 654, 647, 646, 654, 639, 662, 639, 654, 639, 662, 638, 2610, 2608, 639, 639, 654, 1300, 655, 638, 662, 639, 654, 639, 1301, 1313, 1285, 1301, 654, 646, 655, 646, 647, 646, 647, 638, 662, 647, 654, 640, 1309, 1285, 1308, 654, 647, 1308, 1285, 639, 654, 654, 647, 1293, 1300, 1301, 646, 662,647, 639, 646, 647, 662, 646, 646, 639, 662, 639, 662, 639, 662, 646, 649, 647, 1300, 639, 662, 1285, 654, 647, 1300, 1285, 662, ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device.curtain.ray.down",
                "pt": "flow",
                "to": "648, 1287, 1314, 638, 645, 646, 661, 1290, 1307, 645, 653, 1299, 645, 638, 661, 638, 653, 645, 661, 646, 653, 661, 630, 797, 1158, 1283, 1314, 669, 630, 1291, 653, 645, 1307, 1290, 654, 653, 645, 646, 653, 645, 661, 646, 653, 645, 646, 645, 661, 638, 661, 637, 654, 637, 2589, 2613, 646, 676, 622, 1291, 669, 645, 646, 637, 665, 645, 1298, 1291, 1314, 1307, 637, 653, 646, 653, 646, 637, 661, 646, 661, 637, 653, 3236, 1310, 646,654, 1293, 1352, 588, 654, 647, 654, 1301, 1300, 647, 638, 1309, 654, 646, 655, 638, 662, 647, 646, 639, 670, 646, 639, 662, 1285, 1308, 1293, 652, 647, 1300, 647, 654, 1285, 1301, 662, 638, 655, 638, 655, 646, 662, 647, 646, 639, 670, 638, 654, 647, 662, 639, 654, 639, 2601, 2601, 646, 647, 798, 1153, 654, 639, 662, 638, 662, 639, 1308, 1285, 1301, 1301, 662, 638, 655, 654, 646, 647, 646, 639, 670, 631, 662, 638, 1301, 1301, 1300, 639, 654, 1293, 1301, 654, 654, 647, 654, 1285, 1316, 647, 646, 1418, 538, 654, 646, 639, 654, 655, 646, 662, 639, 654, 646, 655, 1293, 1292, 1301, 646, 655, 1300, 647, 646, 1306, 1293, 647, ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device.curtain.ray.stop",
                "pt": "flow",
                "to": "655, 646, 654, 655, 646, 639, 654, 654, 647, 654, 646, 647, 654, 639, 654, 639, 2601, 2609, 646, 639, 654, 1295, 662, 646, 647, 654, 646, 647, 1300, 1285, 1309, 1293, 662, 646, 654, 647, 646, 647, 654, 639, 654, 654, 647, 654, 1293, 1292, 1301, 662, 639, 1300, 1295, 646, 662, 647, 654, 1301, 646, 662, 1285, 1301, 646, 654, 655, 638, 655, 646, 654, 639, 654, 647, 1308, 1285, 662, 647, 1293, 654, 646, 1293, 654, 647, 1308, 1290, 654, 646, 655, 638, 662, 647, 646, 647, 646, 654, 655, 654, 646, 647, 639, 654, 654, 654, 2586, 2601, 646, 663, 637, 1571, 378, 647, 654, 646, 655, 644, 1301, 1292, 1301, 1301, 646, 647, 654, 654, 654, 647, 646, 647, 654, 639, 662, 638, 1301, 1308, 1293, 654, 647, 1300, 1293, 647, 654, 639, 654, 1301, 655, 639, 1293, 1308, 647, 646, 654, 655, 646, 654, 639, 647, 654, 646, 1309, 1292, 663, 646, 1301, 654, 639, 1292, 662, 639, 1308, 1293, 655, 646, 654, 639, 656, 638, 662, 655, 638, 655, 638, 670, 639, 662, 638, 663, 638, 639, 2601, 2601, 647, 646, 654, 1285, 662, 655, 646, 639, 662, 638, 1309, 1293, 1300, 1302, 647, 646, 654, 647, 654, 654, 639, 654, 647, 646, 655, 646, 1308, 1293, 1309, 646, 639, 1308,1301, 654, 639, 654, 654, 1285, 654, 654, 1301, 1283, 656, 646, 663, 646, 654, 647, 654, 631, 662, 654, 1293, 1293, 654, 646, 1309, 639, 654, 1293, 654, 646, 1293, 1293, 670, ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d2d8dcb8.ef7b",
        "type": "mqtt out",
        "z": "d9535c37.c62e9",
        "d": true,
        "name": "mqtt",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "3e8ba86a.c1ce78",
        "type": "comment",
        "z": "d9535c37.c62e9",
        "name": "编号配置",
        "info": "",
        "x": 60,
        "y": 40,
        "wires": []
    },
    {
        "id": "fcbd8e21.e05c1",
        "type": "comment",
        "z": "d9535c37.c62e9",
        "name": "MQTT服务地址",
        "info": "",
        "x": 80,
        "y": 140,
        "wires": []
    },
    {
        "id": "8d7b4c9f.0c9c9",
        "type": "function",
        "z": "d9535c37.c62e9",
        "name": "",
        "func": "    let devices = global.get(\"devices\") ;\n    let setDevice = (did, device, gateway) => {\n        if (devices[did] && devices[did].gid) {\n            node.error(\"设备编号重复：\" + did);\n            node.warn(devices[did]);\n            node.warn(gateway);\n            return;\n        }\n        device.did = did;\n        device.gid = gateway ? gateway.did : null\n        device.gateway = gateway;\n        devices[did] = device;\n\n        let subdevs = device.devices;\n        if (subdevs) {\n            let subkeys = Object.keys(subdevs);\n            subkeys.forEach(subkey => {\n                let subdev = subdevs[subkey];\n                setDevice(subkey, subdev, device);            \n            });        \n\n        }\n    }\n\n\n\n    let keys = Object.keys(devices);\n    keys.forEach(key => {\n        let device = devices[key];\n        setDevice(key, device)\n        \n    });\n\nmsg.payload = devices;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 40,
        "wires": [
            [
                "7c0d7a11.1d8184"
            ]
        ]
    },
    {
        "id": "f93acb11.ff2808",
        "type": "inject",
        "z": "d9535c37.c62e9",
        "name": "刷新编号",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 40,
        "wires": [
            [
                "22664b4f.810b44"
            ]
        ]
    },
    {
        "id": "7c0d7a11.1d8184",
        "type": "debug",
        "z": "d9535c37.c62e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "22664b4f.810b44",
        "type": "change",
        "z": "d9535c37.c62e9",
        "name": "config",
        "rules": [
            {
                "t": "set",
                "p": "mqtt",
                "pt": "global",
                "to": "{\"topic\":{\"business\":{\"sub\":{\"prefix\":\"business/cmdgate/\"},\"pub\":{\"prefix\":\"business/svcgate/\"}},\"terminal\":{\"sub\":{\"prefix\":\"cmdgate/central/\",\"cmd\":\"cmdgate/central/cmd\"},\"pub\":{\"prefix\":\"cmdgate/device/\",\"central\":\"cmdgate/device/central\"}}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "devices",
                "pt": "global",
                "to": "{\"CMDGATE_CL_JZX01\":{\"name\":\"长乐1号集装箱\",\"devices\":{\"c8f742e36fd2\":{\"name\":\"1号空调\"},\"24dfa7056ca9\":{\"name\":\"2号空调\"},\"ESP8266_2317612\":{\"name\":\"窗帘控制芯片\"},\"CL_JZX01_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_JZX01_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_JZX01_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_JZX01_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_JZX01_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_JZX01_curtain_06\":{\"name\":\"6号窗帘\"}}},\"CMDGATE_CL_JZX02\":{\"name\":\"长乐2号集装箱\",\"devices\":{}},\"CMDGATE_CL_QYA53\":{\"name\":\"长乐企业号A5-3\",\"devices\":{\"CL_QYA53_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_QYA53_curtain_02\":{\"name\":\"2号窗帘\"}}},\"CMDGATE_FZ_DEV1\":{\"name\":\"福州亚太二楼开发(有433射频)\",\"devices\":{\"DJ-YT-500-01\":{\"name\":\"1号舵机\"}}},\"CMDGATE_XA_KFDX01\":{\"name\":\"西安开放大学\",\"devices\":{\"780f7732d5f6\":{\"name\":\"1号空调\"},\"XA_KFDX01_curtain_01\":{\"name\":\"1号窗帘\"},\"XA_KFDX01_curtain_02\":{\"name\":\"2号窗帘\"},\"XA_KFDX01_curtain_03\":{\"name\":\"3号窗帘\"}}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "8d7b4c9f.0c9c9"
            ]
        ]
    },
    {
        "id": "1bb5708c.a1285f",
        "type": "mqtt in",
        "z": "d9535c37.c62e9",
        "name": "终端上行",
        "topic": "cmdgate/central/cmd",
        "qos": "2",
        "datatype": "auto",
        "broker": "849cbceb.9873d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "70620a72.fe6e74",
                "9d38a5b5.c210c8"
            ]
        ]
    },
    {
        "id": "f9a09580.edc4b8",
        "type": "function",
        "z": "d9535c37.c62e9",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 220,
        "wires": [
            [
                "b7b7146b.dff4d8"
            ]
        ]
    },
    {
        "id": "7bdc1534.1725fc",
        "type": "comment",
        "z": "d9535c37.c62e9",
        "name": "MQTT终端上行",
        "info": "",
        "x": 80,
        "y": 220,
        "wires": []
    },
    {
        "id": "b7b7146b.dff4d8",
        "type": "link out",
        "z": "d9535c37.c62e9",
        "name": "终端上行(输出)",
        "links": [],
        "x": 895,
        "y": 220,
        "wires": []
    },
    {
        "id": "5ba98130.2a235",
        "type": "mqtt out",
        "z": "d9535c37.c62e9",
        "name": "终端下行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "2ac2f78e.8d66a8",
        "type": "link in",
        "z": "d9535c37.c62e9",
        "name": "终端下行",
        "links": [
            "c67e09e8.3b7178",
            "68c90e66.5e785",
            "a886891b.7850a8"
        ],
        "x": 315,
        "y": 360,
        "wires": [
            [
                "27048be1.95e134"
            ]
        ]
    },
    {
        "id": "fd986519.e8bd98",
        "type": "comment",
        "z": "d9535c37.c62e9",
        "name": "MQTT终端下行",
        "info": "",
        "x": 80,
        "y": 360,
        "wires": []
    },
    {
        "id": "27048be1.95e134",
        "type": "function",
        "z": "d9535c37.c62e9",
        "name": "主题",
        "func": "msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 360,
        "wires": [
            [
                "5ba98130.2a235"
            ]
        ]
    },
    {
        "id": "91a9a496.d8a4a8",
        "type": "mqtt in",
        "z": "d9535c37.c62e9",
        "name": "边缘下行",
        "topic": "business/cmdgate/CMDGATE_CL_JZX01",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "8eaca90a.d48ba8"
            ]
        ]
    },
    {
        "id": "9a349459.998c18",
        "type": "comment",
        "z": "d9535c37.c62e9",
        "name": "MQTT边缘下行",
        "info": "",
        "x": 80,
        "y": 560,
        "wires": []
    },
    {
        "id": "8eaca90a.d48ba8",
        "type": "function",
        "z": "d9535c37.c62e9",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n    let count = context.get(\"count\") \n    count = count ? count + 1 : 1;\n    context.set(\"count\", count) \n    node.status({fill:\"green\", shape:\"dot\", text: count});\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "be4b9155.e9014",
                "cecb9247.53ca8"
            ]
        ]
    },
    {
        "id": "be4b9155.e9014",
        "type": "link out",
        "z": "d9535c37.c62e9",
        "name": "边缘下行(输出)",
        "links": [
            "44eaef01.a1461"
        ],
        "x": 595,
        "y": 560,
        "wires": []
    },
    {
        "id": "7eb9289d.3d5808",
        "type": "comment",
        "z": "d9535c37.c62e9",
        "name": "MQTT边缘上行",
        "info": "",
        "x": 80,
        "y": 420,
        "wires": []
    },
    {
        "id": "1ef339bc.e4cce6",
        "type": "mqtt out",
        "z": "d9535c37.c62e9",
        "name": "边缘上行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 780,
        "y": 420,
        "wires": []
    },
    {
        "id": "7ea06e3e.55fe",
        "type": "function",
        "z": "d9535c37.c62e9",
        "name": "主题",
        "func": "msg.topic = global.get(\"mqtt\").topic.business.pub.prefix + msg.payload.hd.gid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 420,
        "wires": [
            [
                "1ef339bc.e4cce6",
                "3205dba.429aa24"
            ]
        ]
    },
    {
        "id": "37f528b0.14a908",
        "type": "link in",
        "z": "d9535c37.c62e9",
        "name": "边缘上行",
        "links": [
            "14963224.11111e",
            "9531c25e.b8279",
            "1e215df6.a85c12"
        ],
        "x": 315,
        "y": 420,
        "wires": [
            [
                "dffcfaf9.b652d8"
            ]
        ]
    },
    {
        "id": "70620a72.fe6e74",
        "type": "debug",
        "z": "d9535c37.c62e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "9d38a5b5.c210c8",
        "type": "json",
        "z": "d9535c37.c62e9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "f9a09580.edc4b8",
                "70620a72.fe6e74"
            ]
        ]
    },
    {
        "id": "cecb9247.53ca8",
        "type": "debug",
        "z": "d9535c37.c62e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "b94f8dd5.bfd84",
        "type": "link in",
        "z": "d9535c37.c62e9",
        "name": "边缘下行(模拟输入)",
        "links": [
            "61bd7a00.126998"
        ],
        "x": 315,
        "y": 680,
        "wires": [
            [
                "8eaca90a.d48ba8",
                "2d490656.0c353a"
            ]
        ]
    },
    {
        "id": "c712e54a.e9b9c8",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "93a4005a.0c7b9"
            ]
        ]
    },
    {
        "id": "7866b57a.7a4f1c",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "c712e54a.e9b9c8"
            ]
        ]
    },
    {
        "id": "93a4005a.0c7b9",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/1.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "b6d56cba.78834",
        "type": "debug",
        "z": "f57dd416.5de4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "cdb1add1.b3f59",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 86,
        "wires": [
            [
                "f2556c.0969da98"
            ]
        ]
    },
    {
        "id": "78c68c07.cc1b44",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 86,
        "wires": [
            [
                "cdb1add1.b3f59"
            ]
        ]
    },
    {
        "id": "f2556c.0969da98",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/2.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 86,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "2f4becaf.cec7c4",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 135,
        "wires": [
            [
                "79cd3a0a.086454"
            ]
        ]
    },
    {
        "id": "5247f0fc.aa75e",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 135,
        "wires": [
            [
                "2f4becaf.cec7c4"
            ]
        ]
    },
    {
        "id": "79cd3a0a.086454",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/3.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 135,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "206fb418.aa66bc",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 184,
        "wires": [
            [
                "d336ed20.6b26a"
            ]
        ]
    },
    {
        "id": "63465676.66a308",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 184,
        "wires": [
            [
                "206fb418.aa66bc"
            ]
        ]
    },
    {
        "id": "d336ed20.6b26a",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/4.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 184,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "d9c1f2d3.88612",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 233,
        "wires": [
            [
                "2fb387f2.8521a8"
            ]
        ]
    },
    {
        "id": "ea87409.b034ec",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 233,
        "wires": [
            [
                "d9c1f2d3.88612"
            ]
        ]
    },
    {
        "id": "2fb387f2.8521a8",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/5.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 233,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "16f44870.c861d8",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 282,
        "wires": [
            [
                "744ef100.8cde9"
            ]
        ]
    },
    {
        "id": "e2ba55b8.1852b8",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 282,
        "wires": [
            [
                "16f44870.c861d8"
            ]
        ]
    },
    {
        "id": "744ef100.8cde9",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/6.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 282,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "594b55a0.26293c",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "fd49e883.56c3b8"
            ]
        ]
    },
    {
        "id": "4b9536cd.d57448",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "93d7f8b7.523248"
            ]
        ]
    },
    {
        "id": "dc95799c.b991e8",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "79598c30.15fd54"
            ]
        ]
    },
    {
        "id": "15674505.b91c7b",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "e687ae18.2cd8"
            ]
        ]
    },
    {
        "id": "890ec155.cbc12",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "fb4364c9.3ecee8"
            ]
        ]
    },
    {
        "id": "35ed717c.3949ce",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "9ce60d02.a8ac"
            ]
        ]
    },
    {
        "id": "fd49e883.56c3b8",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/1.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "93d7f8b7.523248",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/2.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "79598c30.15fd54",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/3.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "e687ae18.2cd8",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/4.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "fb4364c9.3ecee8",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/5.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "9ce60d02.a8ac",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/6.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "66609404.253bdc",
        "type": "gpio-rf-sniffer",
        "z": "f57dd416.5de4f8",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "690218cb.b9d958",
                "c556118d.8a88f"
            ]
        ]
    },
    {
        "id": "6af3e721.7f1308",
        "type": "gpio-rf-sniffer",
        "z": "f57dd416.5de4f8",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "b6d56cba.78834"
            ]
        ]
    },
    {
        "id": "690218cb.b9d958",
        "type": "function",
        "z": "f57dd416.5de4f8",
        "name": "",
        "func": "let idx = 0;\nlet payload = msg.payload;\nlet count = Object.keys(payload).length;\n\nlet send = function(payload, idx, count) {\n    if (idx < count) {\n        node.send({\n            payload: payload[idx].micros\n        })\n    \n\n        idx++;\n        if (idx < count) {\n            setTimeout(() => {\n                send(payload, idx, count)\n            }, 3000)\n        }\n    }\n}\n\nsend(payload, idx, count)\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "c556118d.8a88f",
        "type": "debug",
        "z": "f57dd416.5de4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "a7500816.615e88",
        "type": "gpio-rf-sender",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": "13",
        "strMicros": "",
        "count": "4",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "be8f51ea.5a72e",
                "8b856881.e74418"
            ]
        ]
    },
    {
        "id": "ecd3fd1d.bed75",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,650,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
        "payloadType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "be8f51ea.5a72e",
        "type": "debug",
        "z": "f57dd416.5de4f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "55d1ad2e.0fcaa4",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "4a41f344.2fd78c",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "10cb001f.a5d85",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "7215e451.cc5eac",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "c6c7cd48.6b691",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "8b856881.e74418",
        "type": "function",
        "z": "f57dd416.5de4f8",
        "name": "",
        "func": "let lowStr = \"0,1\"\nnode.error(msg.payload != lowStr)\nif (msg.payload != lowStr )\n    return {payload: lowStr}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 720,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "52f2f0db.4e06b",
        "type": "link in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "links": [
            "4586dddb.ccea44"
        ],
        "x": 155,
        "y": 880,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "4db61805.af1308",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "1-up",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 720,
        "wires": [
            [
                "35a8e52a.d4d07a"
            ]
        ]
    },
    {
        "id": "f0cbe7d1.b75088",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "cmd=4",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "4",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.pld.count",
                "pt": "msg",
                "to": "4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 960,
        "wires": [
            [
                "61bd7a00.126998"
            ]
        ]
    },
    {
        "id": "35a8e52a.d4d07a",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "CL_JZX01_curtain_01",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "CL_JZX01_curtain_01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 760,
        "wires": [
            [
                "f0cbe7d1.b75088"
            ]
        ]
    },
    {
        "id": "e1b0790e.067428",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "1-down",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,650,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 760,
        "wires": [
            [
                "35a8e52a.d4d07a"
            ]
        ]
    },
    {
        "id": "5379e4c2.83cf9c",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "1-stop",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "-2",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,1300,650,650,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 800,
        "wires": [
            [
                "35a8e52a.d4d07a"
            ]
        ]
    },
    {
        "id": "61bd7a00.126998",
        "type": "link out",
        "z": "f3dde26d.e2daf",
        "name": "",
        "links": [
            "b94f8dd5.bfd84"
        ],
        "x": 955,
        "y": 960,
        "wires": []
    },
    {
        "id": "97130952.42ece8",
        "type": "comment",
        "z": "f3dde26d.e2daf",
        "name": "窗帘",
        "info": "",
        "x": 50,
        "y": 680,
        "wires": []
    },
    {
        "id": "3448d062.b385b",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "2-up",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,1300,1300,650,650,1300,1300,650,650,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "58d250aa.71799"
            ]
        ]
    },
    {
        "id": "58d250aa.71799",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "CL_JZX01_curtain_02",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "CL_JZX01_curtain_02",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 860,
        "wires": [
            [
                "f0cbe7d1.b75088"
            ]
        ]
    },
    {
        "id": "1efe9ae5.a95a45",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "2-down",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,1300,1300,650,650,1300,1300,650,650,650,650,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,1300,1300,650,650,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "58d250aa.71799"
            ]
        ]
    },
    {
        "id": "1fe6a4b4.74b52b",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "2-stop",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "-2",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,650,650,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "58d250aa.71799"
            ]
        ]
    },
    {
        "id": "491575f.9ae518c",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "3-up",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,1300,650,650,1300,1300,650,650,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 920,
        "wires": [
            [
                "7acf22a9.28617c"
            ]
        ]
    },
    {
        "id": "7acf22a9.28617c",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "CL_JZX01_curtain_03",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "CL_JZX01_curtain_03",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 960,
        "wires": [
            [
                "f0cbe7d1.b75088"
            ]
        ]
    },
    {
        "id": "75137c17.255a24",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "3-down",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,1300,650,650,1300,1300,650,650,650,650,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,650,650,1300,1300,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 960,
        "wires": [
            [
                "7acf22a9.28617c"
            ]
        ]
    },
    {
        "id": "81c10b1c.b8e398",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "3-stop",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "-2",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,1300,1300,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "7acf22a9.28617c"
            ]
        ]
    },
    {
        "id": "44eaef01.a1461",
        "type": "link in",
        "z": "f3dde26d.e2daf",
        "name": "边缘下行",
        "links": [
            "be4b9155.e9014"
        ],
        "x": 135,
        "y": 160,
        "wires": [
            [
                "dd6d1d9e.b00cc"
            ]
        ]
    },
    {
        "id": "dd6d1d9e.b00cc",
        "type": "switch",
        "z": "f3dde26d.e2daf",
        "name": "网关",
        "property": "payload.hd.gid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CMDGATE_CL_JZX01",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "8b2d8a5b.367408"
            ]
        ]
    },
    {
        "id": "8b2d8a5b.367408",
        "type": "switch",
        "z": "f3dde26d.e2daf",
        "name": "指令",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "1849dda6.c19192"
            ],
            [
                "b9c31880.e74348"
            ]
        ]
    },
    {
        "id": "1849dda6.c19192",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "窗帘",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "b72222e5.415bc"
            ]
        ]
    },
    {
        "id": "b72222e5.415bc",
        "type": "link out",
        "z": "f3dde26d.e2daf",
        "name": "",
        "links": [
            "bb21c718.670d98"
        ],
        "x": 855,
        "y": 160,
        "wires": []
    },
    {
        "id": "ec60b7f3.d6c108",
        "type": "gree-hvac",
        "z": "f3dde26d.e2daf",
        "name": "AC1",
        "device": "5f3bc18d.7141c",
        "interval": "3",
        "debug": false,
        "x": 410,
        "y": 380,
        "wires": [
            [],
            [
                "cf6f0a64.ed2f38"
            ]
        ]
    },
    {
        "id": "f0437e2a.bcdf8",
        "type": "function",
        "z": "f3dde26d.e2daf",
        "name": "空调1",
        "func": "let pld = msg.payload.pld;\nreturn {payload: pld};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 380,
        "wires": [
            [
                "ec60b7f3.d6c108"
            ]
        ]
    },
    {
        "id": "b9c31880.e74348",
        "type": "switch",
        "z": "f3dde26d.e2daf",
        "name": "空调",
        "property": "payload.hd.did",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "c8f742e36fd2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "24dfa7056ca9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "f0437e2a.bcdf8"
            ],
            [
                "f68674d5.4ad288"
            ]
        ]
    },
    {
        "id": "cf6f0a64.ed2f38",
        "type": "function",
        "z": "f3dde26d.e2daf",
        "name": "状态",
        "func": "\nnode.status({fill:\"green\", shape:\"dot\", text: JSON.stringify(msg.payload)});\nreturn {payload:{pld: msg.payload}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 380,
        "wires": [
            [
                "e645083d.dbea48"
            ]
        ]
    },
    {
        "id": "e645083d.dbea48",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "设置did",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "c8f742e36fd2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 380,
        "wires": [
            [
                "9144895f.f02238"
            ]
        ]
    },
    {
        "id": "f68674d5.4ad288",
        "type": "function",
        "z": "f3dde26d.e2daf",
        "name": "空调2",
        "func": "let pld = msg.payload.pld;\nreturn {payload: pld};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 500,
        "wires": [
            [
                "3e8a861f.b7b3ba"
            ]
        ]
    },
    {
        "id": "811b0b66.609318",
        "type": "function",
        "z": "f3dde26d.e2daf",
        "name": "状态",
        "func": "\nnode.status({fill:\"green\", shape:\"dot\", text: JSON.stringify(msg.payload)});\nreturn {payload:{pld: msg.payload}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 500,
        "wires": [
            [
                "246a2c68.e43f84"
            ]
        ]
    },
    {
        "id": "246a2c68.e43f84",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "设置did",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "24dfa7056ca9",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 500,
        "wires": [
            [
                "9144895f.f02238"
            ]
        ]
    },
    {
        "id": "3e8a861f.b7b3ba",
        "type": "gree-hvac",
        "z": "f3dde26d.e2daf",
        "name": "AC2",
        "device": "834b23cd.9a174",
        "interval": "3",
        "debug": false,
        "x": 410,
        "y": 500,
        "wires": [
            [],
            [
                "811b0b66.609318"
            ]
        ]
    },
    {
        "id": "9144895f.f02238",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "设置指令",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.hd.stp",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 440,
        "wires": [
            [
                "1e215df6.a85c12"
            ]
        ]
    },
    {
        "id": "1e215df6.a85c12",
        "type": "link out",
        "z": "f3dde26d.e2daf",
        "name": "",
        "links": [
            "37f528b0.14a908"
        ],
        "x": 1095,
        "y": 440,
        "wires": []
    },
    {
        "id": "dffcfaf9.b652d8",
        "type": "function",
        "z": "d9535c37.c62e9",
        "name": "设备",
        "func": "if (msg.payload.hd && !msg.payload.hd.gid) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 420,
        "wires": [
            [
                "7ea06e3e.55fe"
            ]
        ]
    },
    {
        "id": "3205dba.429aa24",
        "type": "debug",
        "z": "d9535c37.c62e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "63ff78bb.ccd2e8",
        "type": "comment",
        "z": "f3dde26d.e2daf",
        "name": "空调",
        "info": "",
        "x": 50,
        "y": 300,
        "wires": []
    },
    {
        "id": "f2cf1e48.72396",
        "type": "inject",
        "z": "1b2853d6.84776c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "f16b4ac6.cabaf8"
            ]
        ]
    },
    {
        "id": "f16b4ac6.cabaf8",
        "type": "file in",
        "z": "1b2853d6.84776c",
        "name": "加载状态",
        "filename": "/data/cmd-gateway/data/config/curtain_state.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "f23b4d50.9f803"
            ]
        ]
    },
    {
        "id": "85ac8f87.d38e",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "缓存状态",
        "func": "let states = msg.payload || {};\n\nflow.set(\"states\", states);\n\nreturn {payload: flow.get(\"states\")};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f23b4d50.9f803",
        "type": "json",
        "z": "1b2853d6.84776c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "85ac8f87.d38e"
            ]
        ]
    },
    {
        "id": "3ea1de8d.770fd2",
        "type": "file",
        "z": "1b2853d6.84776c",
        "name": "保存状态",
        "filename": "/data/cmd-gateway/data/config/curtain_state.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1020,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5d82a5d2.dc804c",
        "type": "switch",
        "z": "1b2853d6.84776c",
        "name": "指令4",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "dcf85919.4cb008"
            ]
        ]
    },
    {
        "id": "bb21c718.670d98",
        "type": "link in",
        "z": "1b2853d6.84776c",
        "name": "",
        "links": [
            "b72222e5.415bc"
        ],
        "x": 195,
        "y": 440,
        "wires": [
            [
                "5d82a5d2.dc804c"
            ]
        ]
    },
    {
        "id": "dcf85919.4cb008",
        "type": "switch",
        "z": "1b2853d6.84776c",
        "name": "控制或查询",
        "property": "payload.pld.open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "5d8d5b95.e14a84"
            ],
            [
                "f73810e7.ad1e1",
                "91569849.c16e08"
            ]
        ]
    },
    {
        "id": "5d8d5b95.e14a84",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "查询",
        "func": "let hd = msg.payload.hd;\nlet states = flow.get(\"states\") || {};\nlet key = hd.gid + \"/\" + hd.did;\nlet state = states[key] || {open: -1}\nhd.stp = 1;\nmsg.payload.pld = state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "9531c25e.b8279",
                "9c543de4.9f4e8"
            ]
        ]
    },
    {
        "id": "9531c25e.b8279",
        "type": "link out",
        "z": "1b2853d6.84776c",
        "name": "",
        "links": [
            "37f528b0.14a908"
        ],
        "x": 985,
        "y": 340,
        "wires": []
    },
    {
        "id": "f73810e7.ad1e1",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "控制",
        "func": "let pld = msg.payload.pld;\nlet hd = msg.payload.hd;\nlet ray = pld.ray;\nif (ray) {\n  return {payload: ray, count: 4, did: hd.did};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 540,
        "wires": [
            [
                "f544fc9d.2dfb8"
            ]
        ]
    },
    {
        "id": "91569849.c16e08",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "保存",
        "func": "let hd = msg.payload.hd;\nlet pld = msg.payload.pld;\nlet states = flow.get(\"states\") || {};\n\nlet key = hd.gid + \"/\" + hd.did;\nlet state = {open: pld.open};\nstates[key] = state;\n\n\nreturn {payload: states};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 460,
        "wires": [
            [
                "3ea1de8d.770fd2"
            ]
        ]
    },
    {
        "id": "f544fc9d.2dfb8",
        "type": "link out",
        "z": "1b2853d6.84776c",
        "name": "",
        "links": [
            "d71b7697.f65098"
        ],
        "x": 975,
        "y": 540,
        "wires": []
    },
    {
        "id": "4779fd8c.75dc44",
        "type": "comment",
        "z": "1b2853d6.84776c",
        "name": "边缘下行",
        "info": "",
        "x": 80,
        "y": 300,
        "wires": []
    },
    {
        "id": "1201cef1.d04401",
        "type": "comment",
        "z": "1b2853d6.84776c",
        "name": "状态加载",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "9c543de4.9f4e8",
        "type": "debug",
        "z": "1b2853d6.84776c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "2d490656.0c353a",
        "type": "debug",
        "z": "d9535c37.c62e9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "b748d0b8.c2c53",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "4-up",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,650,650,650,650,1300,650,650,650,650,1300,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 1060,
        "wires": [
            [
                "fff042a5.8f015"
            ]
        ]
    },
    {
        "id": "fff042a5.8f015",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "CL_JZX01_curtain_04",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "CL_JZX01_curtain_04",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1100,
        "wires": [
            [
                "f0cbe7d1.b75088"
            ]
        ]
    },
    {
        "id": "72f3de75.23dc3",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "4-down",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,650,650,650,650,1300,650,650,650,650,1300,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 1100,
        "wires": [
            [
                "fff042a5.8f015"
            ]
        ]
    },
    {
        "id": "a65c2257.19941",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "4-stop",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "-2",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,650,650,650,650,1300,650,650,650,650,1300,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,650,650,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 1140,
        "wires": [
            [
                "fff042a5.8f015"
            ]
        ]
    },
    {
        "id": "e59f3d5b.3e59c",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "5-up",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,650,650,650,650,1300,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "31f5290d.36e606"
            ]
        ]
    },
    {
        "id": "31f5290d.36e606",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "CL_JZX01_curtain_05",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "CL_JZX01_curtain_05",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1200,
        "wires": [
            [
                "f0cbe7d1.b75088"
            ]
        ]
    },
    {
        "id": "3e0b11d5.84d45e",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "5-down",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,1300,650,650,1300,650,650,650,650,1300,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "31f5290d.36e606"
            ]
        ]
    },
    {
        "id": "929c553b.3237c8",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "5-stop",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "-2",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,1300,1300,650,650,1300,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,650,650,1300,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "31f5290d.36e606"
            ]
        ]
    },
    {
        "id": "bd568072.0b166",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "6-up",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,1300,650,650,1300,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 1260,
        "wires": [
            [
                "8e0b387f.41d8d8"
            ]
        ]
    },
    {
        "id": "8e0b387f.41d8d8",
        "type": "change",
        "z": "f3dde26d.e2daf",
        "name": "CL_JZX01_curtain_05",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "CL_JZX01_curtain_05",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1300,
        "wires": [
            [
                "f0cbe7d1.b75088"
            ]
        ]
    },
    {
        "id": "3296261.e65e5da",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "6-down",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,1300,650,650,1300,650,650,1300,650,650,1300,1300,650,650,650,650,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,1300,1300,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 1300,
        "wires": [
            [
                "8e0b387f.41d8d8"
            ]
        ]
    },
    {
        "id": "e435e2d2.4bc6d",
        "type": "inject",
        "z": "f3dde26d.e2daf",
        "name": "6-stop",
        "props": [
            {
                "p": "payload.pld.open",
                "v": "-2",
                "vt": "num"
            },
            {
                "p": "payload.pld.ray",
                "v": "2600,2600,650,650,650,1300,650,650,650,650,650,650,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,1300,650,650,1300,650,650,1300,650,650,1300,1300,650,650,650,650,1300,650,650,1300,1300,650,650,650,650,650,650,650,650,650,650,1300,1300,650,650,1300,650,650,1300,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 1340,
        "wires": [
            [
                "8e0b387f.41d8d8"
            ]
        ]
    },
    {
        "id": "98e14510.043ba8",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "5fb4f2bf.8012dc"
            ]
        ]
    },
    {
        "id": "983a5411.92aa58",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "98e14510.043ba8"
            ]
        ]
    },
    {
        "id": "5fb4f2bf.8012dc",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/1.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "67d79541.4ac8dc",
        "type": "debug",
        "z": "84e2b33.40c105",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "a9c4cf23.a5a51",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 86,
        "wires": [
            [
                "42f63e20.c99a1"
            ]
        ]
    },
    {
        "id": "fb34906a.5425c",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 86,
        "wires": [
            [
                "a9c4cf23.a5a51"
            ]
        ]
    },
    {
        "id": "42f63e20.c99a1",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/2.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 86,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "f4317e9b.f2e6c",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 135,
        "wires": [
            [
                "66c9be46.07c45"
            ]
        ]
    },
    {
        "id": "2e934cd2.f6f034",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 135,
        "wires": [
            [
                "f4317e9b.f2e6c"
            ]
        ]
    },
    {
        "id": "66c9be46.07c45",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/3.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 135,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "e8c80f41.3cebb",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 184,
        "wires": [
            [
                "fb34e4f.a7b4518"
            ]
        ]
    },
    {
        "id": "c020e69c.820058",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 184,
        "wires": [
            [
                "e8c80f41.3cebb"
            ]
        ]
    },
    {
        "id": "fb34e4f.a7b4518",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/4.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 184,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "277839c.c6217c6",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 233,
        "wires": [
            [
                "17abadc2.a68ca2"
            ]
        ]
    },
    {
        "id": "f50349f1.9a0238",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 233,
        "wires": [
            [
                "277839c.c6217c6"
            ]
        ]
    },
    {
        "id": "17abadc2.a68ca2",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/5.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 233,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "c923a657.4d42b8",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 282,
        "wires": [
            [
                "43e2a9ad.312158"
            ]
        ]
    },
    {
        "id": "5cfbc705.8a4bf8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 282,
        "wires": [
            [
                "c923a657.4d42b8"
            ]
        ]
    },
    {
        "id": "43e2a9ad.312158",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/6.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 282,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "74b018d7.de43a8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "18e12cf0.3ac153"
            ]
        ]
    },
    {
        "id": "c5c9e1e5.70cc7",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "9f32d2e1.044ea"
            ]
        ]
    },
    {
        "id": "ece180bb.43608",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "8bd48618.82a328"
            ]
        ]
    },
    {
        "id": "eddf938a.01ed6",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "bd6cdf53.57971"
            ]
        ]
    },
    {
        "id": "98ca8334.5056c",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "c2552dea.188a7"
            ]
        ]
    },
    {
        "id": "f7824905.3743d8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "e895432f.70873"
            ]
        ]
    },
    {
        "id": "18e12cf0.3ac153",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/1.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "9f32d2e1.044ea",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/2.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "8bd48618.82a328",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/3.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "bd6cdf53.57971",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/4.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "c2552dea.188a7",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/5.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "e895432f.70873",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/6.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "b13c9538.48a0b8",
        "type": "gpio-rf-sniffer",
        "z": "84e2b33.40c105",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "4bd9ab97.0a4254",
                "57b00ff.d4523f"
            ]
        ]
    },
    {
        "id": "31ce70d1.9d45f",
        "type": "gpio-rf-sniffer",
        "z": "84e2b33.40c105",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "67d79541.4ac8dc"
            ]
        ]
    },
    {
        "id": "4bd9ab97.0a4254",
        "type": "function",
        "z": "84e2b33.40c105",
        "name": "",
        "func": "let idx = 0;\nlet payload = msg.payload;\nlet count = Object.keys(payload).length;\n\nlet send = function(payload, idx, count) {\n    if (idx < count) {\n        node.send({\n            payload: payload[idx].micros\n        })\n    \n\n        idx++;\n        if (idx < count) {\n            setTimeout(() => {\n                send(payload, idx, count)\n            }, 3000)\n        }\n    }\n}\n\nsend(payload, idx, count)\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "57b00ff.d4523f",
        "type": "debug",
        "z": "84e2b33.40c105",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "1d670aa8.6da625",
        "type": "gpio-rf-sender",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": "13",
        "strMicros": "",
        "count": "3",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "e6c9eeff.e8adb",
                "4f83eaef.5d0574"
            ]
        ]
    },
    {
        "id": "84491339.25e1c",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "e6c9eeff.e8adb",
        "type": "debug",
        "z": "84e2b33.40c105",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "5b31f074.0747a",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "cc4420e3.ac7ce",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "913c53d.c3a87b",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "bbfd9cfd.98397",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "eaca50b0.5dd6",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "d71b7697.f65098",
        "type": "link in",
        "z": "84e2b33.40c105",
        "name": "",
        "links": [
            "4586dddb.ccea44",
            "f544fc9d.2dfb8"
        ],
        "x": 155,
        "y": 880,
        "wires": [
            [
                "efcec49d.d4aaf8"
            ]
        ]
    },
    {
        "id": "efcec49d.d4aaf8",
        "type": "function",
        "z": "84e2b33.40c105",
        "name": "发送队列",
        "func": "let list = flow.get(\"SendList\") || [];\nlist.push(msg);\nflow.set(\"SendList\", list);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "4f83eaef.5d0574",
        "type": "function",
        "z": "84e2b33.40c105",
        "name": "发送",
        "func": "let lowStr = \"0,1000\"\nlet sending = flow.get(\"sending\");\nlet ts = flow.get(\"timestamp\") || 0 ;\nlet now = new Date().valueOf();\n\n\nif (msg.payload || !sending || (now - ts) > 5000) {\n    if (msg.payload && msg.payload != lowStr ) {    \n        flow.set(\"sending\", true);\n        flow.set(\"timestamp\", now);\n        return {payload: lowStr};\n    } else {\n        let list = flow.get(\"SendList\") || [];\n        let _msg = list.pop();\n        if (_msg) {\n            flow.set(\"SendList\", list);\n            flow.set(\"sending\", true);\n            flow.set(\"timestamp\", now);\n            return _msg;\n        } else {\n            flow.set(\"sending\", false);\n        }        \n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 880,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "f39344bc.2386d8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 360,
        "y": 980,
        "wires": [
            [
                "4f83eaef.5d0574"
            ]
        ]
    }
]