data/flows/CMDGATE_CL_DJHYS_CBUS.json
[
    {
        "id": "8c38b362.6d097",
        "type": "tab",
        "label": "全局配置（DJ会议室CBUS）",
        "disabled": false,
        "info": ""
    },
    {
        "id": "545271fa.bb534",
        "type": "tab",
        "label": "DJ会议室CBUS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "480b54ad.8c4e1c",
        "type": "mqtt-broker",
        "name": "mqtt.business",
        "broker": "43.231.150.88",
        "port": "1780",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "849cbceb.9873d",
        "type": "mqtt-broker",
        "name": "mqtt.local",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "81c92987.1a5a38",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "44eaef01.a1461",
        "type": "link in",
        "z": "545271fa.bb534",
        "name": "边缘下行",
        "links": [
            "a8683765.5e9b48"
        ],
        "x": 135,
        "y": 160,
        "wires": [
            [
                "dd6d1d9e.b00cc"
            ]
        ]
    },
    {
        "id": "dd6d1d9e.b00cc",
        "type": "switch",
        "z": "545271fa.bb534",
        "name": "网关",
        "property": "payload.hd.gid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cmdgate",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "8b2d8a5b.367408",
                "aaecd2fa.7a327"
            ]
        ]
    },
    {
        "id": "8b2d8a5b.367408",
        "type": "switch",
        "z": "545271fa.bb534",
        "name": "指令",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "99a8396e.a8e538"
            ],
            []
        ]
    },
    {
        "id": "b72222e5.415bc",
        "type": "link out",
        "z": "545271fa.bb534",
        "name": "",
        "links": [
            "bb21c718.670d98"
        ],
        "x": 995,
        "y": 160,
        "wires": []
    },
    {
        "id": "e289a201.424b4",
        "type": "comment",
        "z": "545271fa.bb534",
        "name": "窗帘",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "99a8396e.a8e538",
        "type": "change",
        "z": "545271fa.bb534",
        "name": "窗帘",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "b72222e5.415bc"
            ]
        ]
    },
    {
        "id": "aaecd2fa.7a327",
        "type": "debug",
        "z": "545271fa.bb534",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "7c330153.c2296",
        "type": "mqtt out",
        "z": "8c38b362.6d097",
        "d": true,
        "name": "mqtt",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "654b2f2b.1c7ed",
        "type": "comment",
        "z": "8c38b362.6d097",
        "name": "编号配置",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "81073b31.7d2c98",
        "type": "comment",
        "z": "8c38b362.6d097",
        "name": "MQTT服务地址",
        "info": "",
        "x": 100,
        "y": 140,
        "wires": []
    },
    {
        "id": "afb4ba98.420458",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "",
        "func": "    let devices = global.get(\"devices\") ;\n    let setDevice = (did, device, gateway) => {\n        if (devices[did] && devices[did].gid) {\n            node.error(\"设备编号重复：\" + did);\n            node.warn(devices[did]);\n            node.warn(gateway);\n            return;\n        }\n        device.did = did;\n        device.gid = gateway ? gateway.did : null\n        device.gateway = gateway;\n        devices[did] = device;\n\n        let subdevs = device.devices;\n        if (subdevs) {\n            let subkeys = Object.keys(subdevs);\n            subkeys.forEach(subkey => {\n                let subdev = subdevs[subkey];\n                setDevice(subkey, subdev, device);            \n            });        \n\n        }\n    }\n\n\n\n    let keys = Object.keys(devices);\n    keys.forEach(key => {\n        let device = devices[key];\n        setDevice(key, device)\n        \n    });\n\nmsg.payload = devices;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 40,
        "wires": [
            [
                "f07e0148.b842b"
            ]
        ]
    },
    {
        "id": "fb9ef1aa.5f3",
        "type": "inject",
        "z": "8c38b362.6d097",
        "name": "刷新编号",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "ca113984.198818"
            ]
        ]
    },
    {
        "id": "f07e0148.b842b",
        "type": "debug",
        "z": "8c38b362.6d097",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "ca113984.198818",
        "type": "change",
        "z": "8c38b362.6d097",
        "name": "config",
        "rules": [
            {
                "t": "set",
                "p": "mqtt",
                "pt": "global",
                "to": "{\"topic\":{\"business\":{\"sub\":{\"prefix\":\"business/cmdgate/\"},\"pub\":{\"prefix\":\"business/svcgate/\"}},\"terminal\":{\"sub\":{\"prefix\":\"cmdgate/central/\",\"cmd\":\"cmdgate/central/cmd\"},\"pub\":{\"prefix\":\"cmdgate/device/\",\"central\":\"cmdgate/device/central\"}}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "devices",
                "pt": "global",
                "to": "{\"CMDGATE_CL_VRTYG\":{\"name\":\"长乐VR体验馆\",\"devices\":{\"ESP8266_9926564\":{\"name\":\"二楼1成果区宣传大屏前空调\"},\"ESP8266_9928598\":{\"name\":\"二楼2成果区体验中心入口空调\"},\"ESP8266_9933676\":{\"name\":\"二楼3成果区富士康大屏处空调\"},\"ESP8266_488969\":{\"name\":\"二楼5成果区版图区域内侧空调\"},\"ESP8266_9931870\":{\"name\":\"二楼6成果区版图区域外侧空调\"},\"ESP8266_9956709\":{\"name\":\"二楼7成果区小镇沙盘前空调\"},\"ESP8266_430864\":{\"name\":\"二楼8成果区红色教育一体机旁空调\"},\"ESP8266_486720\":{\"name\":\"二楼9恐龙休息区沙发区上方空调\"},\"ESP8266_469370\":{\"name\":\"二楼10恐龙休息区恐龙区入口上方空调\"},\"ESP8266_9922593\":{\"name\":\"二楼11恐龙休息区恐龙大屏上方空调\"},\"ESP8266_491535\":{\"name\":\"二楼12恐龙休息区长桌上方空调\"},\"ESP8266_9945247\":{\"name\":\"二楼16沉浸教室地理沙盘上方空调\"},\"ESP8266_450977\":{\"name\":\"二楼17沉浸教室3D扫描上方空调\"},\"ESP8266_9954003\":{\"name\":\"二楼18沉浸教室曲面屏上方空调\"},\"ESP8266_448616\":{\"name\":\"二楼19沉浸教室座位区上方空调\"},\"ESP8266_431099\":{\"name\":\"二楼22应用区新品体验展位上方空调\"},\"ESP8266_9930630\":{\"name\":\"二楼23应用区急速风暴展位上方空调\"},\"ESP8266_502328\":{\"name\":\"二楼24应用区世宇展位上方空调\"},\"ESP8266_525449\":{\"name\":\"二楼25应用区ColdingGalaxy展位上方空调\"},\"ESP8266_9928778\":{\"name\":\"二楼26应用区虎豹骑展位上方空调\"},\"ESP8266_9930144\":{\"name\":\"二楼27应用区VR消防展位上方空调\"},\"ESP8266_523355\":{\"name\":\"二楼28应用区虚拟实验室前空调\"},\"ESP8266_524983\":{\"name\":\"二楼29应用区央馆虚拟实验展位上方空调\"},\"ESP8266_10004904\":{\"name\":\"二楼30全息舞台舞台上方空调-1\"},\"ESP8266_9921707\":{\"name\":\"二楼31全息舞台舞台上方空调-2\"},\"ESP8266_433213\":{\"name\":\"二楼32乐空间四格空间1空调\"},\"ESP8266_9920978\":{\"name\":\"二楼33乐空间入口空调\"},\"ESP8266_464648\":{\"name\":\"二楼34乐空间六轴赛车上方空调\"},\"ESP8266_9924660\":{\"name\":\"二楼35乐空间四轴赛车上方空调\"},\"ESP8266_9957889\":{\"name\":\"二楼36乐空间Switch游戏上方空调\"},\"ESP8266_9930089\":{\"name\":\"二楼37乐空间VR自行车上方空调\"},\"ESP8266_448481\":{\"name\":\"二楼38乐空间四格空间4空调\"},\"ESP8266_427331\":{\"name\":\"二楼39乐空间四格空间2&3空调\"},\"ESP8266_9934513\":{\"name\":\"二楼40乐空间仓库空调\"},\"ESP8266_9925594\":{\"name\":\"二楼41乐空间滑雪机上方空调\"},\"ESP8266_9926755\":{\"name\":\"二楼4通道、卫生间区域卫生间一外空调\"},\"ESP8266_9938106\":{\"name\":\"二楼13通道、卫生间区域卫生间二外空调\"},\"ESP8266_9932037\":{\"name\":\"二楼14通道、卫生间区域电梯厅外空调\"},\"ESP8266_465345\":{\"name\":\"二楼15通道、卫生间区域电梯厅内空调\"},\"ESP8266_10009326\":{\"name\":\"二楼20通道、卫生间区域卫生间三外新风机\"},\"ESP8266_9926288\":{\"name\":\"二楼21通道、卫生间区域卫生间三外空调\"},\"ESP8266_9937795\":{\"name\":\"三楼1直播摄影棚摄影棚后方空调1\"},\"ESP8266_10006724\":{\"name\":\"三楼2直播摄影棚摄影棚区域办公室空调1\"},\"ESP8266_442480\":{\"name\":\"三楼3直播摄影棚摄影棚后方空调2\"},\"ESP8266_519369\":{\"name\":\"三楼4直播摄影棚摄影棚区域办公室空调2\"},\"ESP8266_448586\":{\"name\":\"三楼5直播摄影棚摄影棚区域会议室空调\"},\"ESP8266_9930798\":{\"name\":\"三楼6直播摄影棚摄影棚前方空调1\"},\"ESP8266_521738\":{\"name\":\"三楼7直播摄影棚摄影棚前方空调2\"},\"ESP8266_432044\":{\"name\":\"三楼8VR办公区VR办公室新风\"},\"ESP8266_526058\":{\"name\":\"三楼9VR办公区VR办公室空调1\"},\"ESP8266_9926764\":{\"name\":\"三楼10VR办公区VR办公室空调2\"},\"ESP8266_427863\":{\"name\":\"三楼11党建办公区党建办公室空调1\"},\"ESP8266_9926765\":{\"name\":\"三楼12党建办公区党建办公室空调2\"},\"ESP8266_9958380\":{\"name\":\"三楼13党建办公区党建办公室空调3\"},\"ESP8266_474651\":{\"name\":\"三楼14党建办公区党建办公室空调4\"},\"ESP8266_432426\":{\"name\":\"三楼15通道区域电梯间空调\"},\"ESP8266_447884\":{\"name\":\"三楼16通道区域通道空调1\"},\"ESP8266_522277\":{\"name\":\"三楼17通道区域通道空调2\"},\"ESP8266_525584\":{\"name\":\"三楼18通道区域通道空调3\"},\"ESP8266_10029119\":{\"name\":\"三楼19通道区域通道区域新风\"},\"ESP8266_9944959\":{\"name\":\"三楼20党员活动室活动室空调1\"},\"ESP8266_10047940\":{\"name\":\"三楼21党员活动室活动室空调2\"},\"ESP8266_9927599\":{\"name\":\"三楼22党员活动室活动室空调3\"},\"ESP8266_440864\":{\"name\":\"三楼23党员活动室活动室空调4\"},\"ESP8266_9920788\":{\"name\":\"三楼24党员活动室活动室展区空调1\"},\"ESP8266_500512\":{\"name\":\"三楼25党员活动室活动室展区空调2\"},\"ESP8266_9934592\":{\"name\":\"三楼26党员活动室活动室展区空调3\"},\"ESP8266_469696\":{\"name\":\"三楼27党建会议室前方空调1\"},\"ESP8266_9926218\":{\"name\":\"三楼28党建会议室前方空调2\"},\"ESP8266_9955466\":{\"name\":\"三楼29党建会议室前方空调3\"},\"ESP8266_448179\":{\"name\":\"三楼30党建会议室前方空调4\"},\"ESP8266_9932108\":{\"name\":\"三楼31党建会议室前方空调5\"},\"ESP8266_10027740\":{\"name\":\"三楼32党建会议室前方空调6\"},\"ESP8266_9928853\":{\"name\":\"三楼33党建会议室前方空调7\"},\"ESP8266_433112\":{\"name\":\"三楼34党建会议室前方空调8\"},\"ESP8266_9932430\":{\"name\":\"三楼35党建会议室新风\"},\"ESP8266_9925572\":{\"name\":\"\"},\"ESP8266_10005258\":{\"name\":\"\"},\"ESP8266_524478\":{\"name\":\"\"},\"ESP8266_9959024\":{\"name\":\"\"},\"ESP8266_9924667\":{\"name\":\"\"},\"ESP8266_9931370\":{\"name\":\"\"},\"ESP8266_9923383\":{\"name\":\"\"},\"ESP8266_10006696\":{\"name\":\"\"},\"ESP8266_9944985\":{\"name\":\"\"},\"ESP8266_9941341\":{\"name\":\"\"},\"ESP8266_9936075\":{\"name\":\"\"},\"ESP8266_449971\":{\"name\":\"\"},\"ESP8266_9935390\":{\"name\":\"\"},\"ESP8266_10007032\":{\"name\":\"\"},\"ESP8266_5628343\":{\"name\":\"\"}}},\"CMDGATE_CL_JZX01\":{\"name\":\"长乐1号集装箱\",\"devices\":{\"c8f742e36fd2\":{\"name\":\"1号空调\"},\"24dfa7056ca9\":{\"name\":\"2号空调\"},\"ESP8266_2317612\":{\"name\":\"窗帘控制芯片\"},\"CL_JZX01_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_JZX01_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_JZX01_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_JZX01_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_JZX01_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_JZX01_curtain_06\":{\"name\":\"6号窗帘\"}}},\"CMDGATE_CL_JZX02\":{\"name\":\"长乐2号集装箱\",\"devices\":{}},\"CMDGATE_CL_QYA53\":{\"name\":\"长乐企业号A5-3\",\"devices\":{\"CL_QYA53_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_QYA53_curtain_02\":{\"name\":\"2号窗帘\"}}},\"CMDGATE_CL_DJHYS\":{\"name\":\"长乐DJ会议室\",\"devices\":{\"CL_DJHYS_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_DJHYS_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_DJHYS_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_DJHYS_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_DJHYS_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_DJHYS_curtain_06\":{\"name\":\"6号窗帘\"},\"CL_DJHYS_curtain_07\":{\"name\":\"7号窗帘\"},\"CL_DJHYS_curtain_08\":{\"name\":\"8号窗帘\"},\"CL_DJHYS_curtain_09\":{\"name\":\"9号窗帘\"},\"CL_DJHYS_curtain_10\":{\"name\":\"10号窗帘\"},\"CL_DJHYS_curtain_11\":{\"name\":\"11号窗帘\"},\"CL_DJHYS_curtain_12\":{\"name\":\"12号窗帘\"},\"CL_DJHYS_curtain_13\":{\"name\":\"13号窗帘\"},\"CL_DJHYS_curtain_14\":{\"name\":\"14号窗帘\"},\"CL_DJHYS_curtain_15\":{\"name\":\"15号窗帘\"},\"CL_DJHYS_curtain_16\":{\"name\":\"16号窗帘\"},\"CL_DJHYS_curtain_17\":{\"name\":\"17号窗帘\"},\"CL_DJHYS_curtain_18\":{\"name\":\"18号窗帘\"},\"CL_DJHYS_curtain_19\":{\"name\":\"19号窗帘\"},\"CL_DJHYS_curtain_20\":{\"name\":\"20号窗帘\"}}},\"CMDGATE_CL_DJHYS_CBUS\":{\"name\":\"长乐DJ会议室CBUS\",\"devices\":{\"CL_DJHYS_lighting_01\":{\"name\":\"1号灯光\"},\"CL_DJHYS_lighting_02\":{\"name\":\"2号灯光\"},\"CL_DJHYS_lighting_03\":{\"name\":\"3号灯光\"},\"CL_DJHYS_lighting_04\":{\"name\":\"4号灯光\"},\"CL_DJHYS_lighting_05\":{\"name\":\"5号灯光\"},\"CL_DJHYS_lighting_06\":{\"name\":\"6号灯光\"},\"CL_DJHYS_lighting_07\":{\"name\":\"7号灯光\"},\"CL_DJHYS_lighting_08\":{\"name\":\"8号灯光\"},\"CL_DJHYS_lighting_09\":{\"name\":\"9号灯光\"},\"CL_DJHYS_lighting_10\":{\"name\":\"10号灯光\"},\"CL_DJHYS_lighting_11\":{\"name\":\"11号灯光\"},\"CL_DJHYS_lighting_12\":{\"name\":\"12号灯光\"},\"CL_DJHYS_lighting_13\":{\"name\":\"13号灯光\"},\"CL_DJHYS_lighting_14\":{\"name\":\"14号灯光\"},\"CL_DJHYS_lighting_15\":{\"name\":\"15号灯光\"},\"CL_DJHYS_lighting_16\":{\"name\":\"16号灯光\"},\"CL_DJHYS_lighting_17\":{\"name\":\"17号灯光\"},\"CL_DJHYS_lighting_18\":{\"name\":\"18号灯光\"},\"CL_DJHYS_lighting_19\":{\"name\":\"19号灯光\"},\"CL_DJHYS_lighting_20\":{\"name\":\"20号灯光\"},\"CL_DJHYS_lighting_21\":{\"name\":\"21号灯光\"},\"CL_DJHYS_lighting_22\":{\"name\":\"22号灯光\"},\"CL_DJHYS_lighting_23\":{\"name\":\"23号灯光\"},\"CL_DJHYS_lighting_24\":{\"name\":\"24号灯光\"},\"CL_DJHYS_lighting_25\":{\"name\":\"25号灯光\"},\"CL_DJHYS_lighting_26\":{\"name\":\"26号灯光\"},\"CL_DJHYS_lighting_27\":{\"name\":\"27号灯光\"},\"CL_DJHYS_lighting_28\":{\"name\":\"28号灯光\"},\"CL_DJHYS_lighting_29\":{\"name\":\"29号灯光\"},\"CL_DJHYS_lighting_30\":{\"name\":\"30号灯光\"},\"CL_DJHYS_lighting_31\":{\"name\":\"31号灯光\"},\"CL_DJHYS_lighting_32\":{\"name\":\"32号灯光\"},\"CL_DJHYS_lighting_33\":{\"name\":\"33号灯光\"},\"CL_DJHYS_lighting_34\":{\"name\":\"34号灯光\"},\"CL_DJHYS_lighting_35\":{\"name\":\"35号灯光\"},\"CL_DJHYS_lighting_36\":{\"name\":\"36号灯光\"},\"CL_DJHYS_lighting_37\":{\"name\":\"37号灯光\"},\"CL_DJHYS_lighting_38\":{\"name\":\"38号灯光\"},\"CL_DJHYS_lighting_39\":{\"name\":\"39号灯光\"},\"CL_DJHYS_lighting_40\":{\"name\":\"40号灯光\"}}},\"CMDGATE_CL_FRA303\":{\"name\":\"福软教室A303\",\"devices\":{\"CL_FRA303_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA303_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRA305\":{\"name\":\"福软教室A305\",\"devices\":{\"CL_FRA305_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA305_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRA306\":{\"name\":\"福软教室A306\",\"devices\":{\"CL_FRA306_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA306_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRD302\":{\"name\":\"福软教室D302\",\"devices\":{\"CL_FRD302_curtain_01\":{\"name\":\"幕布\"},\"CL_FRD302_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRF308\":{\"name\":\"福软教室F308\",\"devices\":{\"CL_FRF308_curtain_01\":{\"name\":\"幕布\"},\"CL_FRF308_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRF319\":{\"name\":\"福软教室F319\",\"devices\":{\"CL_FRF319_curtain_01\":{\"name\":\"幕布\"},\"CL_FRF319_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_FZ_DEV1\":{\"name\":\"福州亚太二楼开发(有433射频)\",\"devices\":{\"DJ-YT-500-01\":{\"name\":\"1号舵机\"},\"6abf713c\":{\"name\":\"esp32开发板\"},\"97bf99\":{\"name\":\"esp8266开发板\"},\"android_924ed49\":{\"name\":\"采码android机1\"}}},\"CMDGATE_FZ_YT2DGN\":{\"name\":\"福州亚太二楼多功能会议室\",\"devices\":{\"FZ_YT2DGN_curtain_01\":{\"name\":\"幕布\"}}},\"CMDGATE_XA_KFDX01\":{\"name\":\"西安开放大学\",\"devices\":{\"780f7732d5f6\":{\"name\":\"1号空调\"},\"XA_KFDX01_curtain_01\":{\"name\":\"1号窗帘\"},\"XA_KFDX01_curtain_02\":{\"name\":\"2号窗帘\"},\"XA_KFDX01_curtain_03\":{\"name\":\"3号窗帘\"}}},\"CMDGATE_XA_KFDX03\":{\"name\":\"西安开放大学智慧教室303\",\"devices\":{\"XA_KFDX03_air_01\":{\"name\":\"1号空调\"}}},\"CMDGATE_XA_KFDX08\":{\"name\":\"西安开放大学智慧教室302\",\"devices\":{\"XA_KFDX08_air_01\":{\"name\":\"1号空调\"}}},\"CMDGATE_ZFZ01\":{\"name\":\"中非展01\",\"devices\":{\"tasmota_982A80\":{\"name\":\"1号风扇\"},\"tasmota_9AA972\":{\"name\":\"2号风扇\"},\"ZFZ01_curtain_01\":{\"name\":\"1号窗帘\"},\"ZFZ01_curtain_02\":{\"name\":\"2号窗帘\"}}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "cmdgate",
                "pt": "global",
                "to": "CMDGATE_CL_DJHYS_CBUS",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 40,
        "wires": [
            [
                "afb4ba98.420458"
            ]
        ]
    },
    {
        "id": "f711dd9b.06dec",
        "type": "mqtt in",
        "z": "8c38b362.6d097",
        "name": "本地终端上行",
        "topic": "cmdgate/central/cmd",
        "qos": "2",
        "datatype": "auto",
        "broker": "849cbceb.9873d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "cf00f1ce.5024d",
                "14fb8590.f278da"
            ]
        ]
    },
    {
        "id": "5eff5cc8.a04d64",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        \n        return [null, msg];\n    }\n}\n\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 220,
        "wires": [
            [
                "2615bcc6.0f0484"
            ],
            [
                "1d602f9.fc4afd",
                "6069cd6.82aa934"
            ]
        ]
    },
    {
        "id": "1a704f68.22c561",
        "type": "comment",
        "z": "8c38b362.6d097",
        "name": "MQTT终端上行",
        "info": "",
        "x": 100,
        "y": 220,
        "wires": []
    },
    {
        "id": "2615bcc6.0f0484",
        "type": "link out",
        "z": "8c38b362.6d097",
        "name": "终端上行(输出)",
        "links": [
            "82775b82.94d928",
            "ce4bbc35.92071"
        ],
        "x": 835,
        "y": 200,
        "wires": []
    },
    {
        "id": "ecf66ba1.3a1608",
        "type": "mqtt out",
        "z": "8c38b362.6d097",
        "name": "本地终端下行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "370e7ffc.a48d2",
        "type": "link in",
        "z": "8c38b362.6d097",
        "name": "终端下行",
        "links": [
            "c67e09e8.3b7178",
            "68c90e66.5e785",
            "a886891b.7850a8",
            "fca62cc3.67e88"
        ],
        "x": 355,
        "y": 520,
        "wires": [
            [
                "7472eaf.9515314"
            ]
        ]
    },
    {
        "id": "6707577a.975648",
        "type": "comment",
        "z": "8c38b362.6d097",
        "name": "MQTT终端下行",
        "info": "",
        "x": 100,
        "y": 520,
        "wires": []
    },
    {
        "id": "7472eaf.9515314",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "主题",
        "func": "if (!msg.dontChangeTopic)\n  msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 520,
        "wires": [
            [
                "ecf66ba1.3a1608"
            ]
        ]
    },
    {
        "id": "d286d165.baaa5",
        "type": "mqtt in",
        "z": "8c38b362.6d097",
        "name": "边缘下行",
        "topic": "business/cmdgate/CMDGATE_CL_DJHYS_CBUS",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 260,
        "y": 860,
        "wires": [
            [
                "1b07b7a2.ebcd58"
            ]
        ]
    },
    {
        "id": "f21fbe4f.ca36e",
        "type": "comment",
        "z": "8c38b362.6d097",
        "name": "MQTT边缘下行",
        "info": "",
        "x": 100,
        "y": 860,
        "wires": []
    },
    {
        "id": "1b07b7a2.ebcd58",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n    let count = context.get(\"count\") \n    count = count ? count + 1 : 1;\n    context.set(\"count\", count) \n    node.status({fill:\"green\", shape:\"dot\", text: count});\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 860,
        "wires": [
            [
                "67013df3.27b214",
                "a5930767.f6e788",
                "e2048279.4e1db"
            ]
        ]
    },
    {
        "id": "67013df3.27b214",
        "type": "link out",
        "z": "8c38b362.6d097",
        "name": "边缘下行(输出)",
        "links": [
            "9dc5d227.d0edb",
            "bf6a789a.410a38",
            "44eaef01.a1461"
        ],
        "x": 615,
        "y": 860,
        "wires": []
    },
    {
        "id": "5767b257.6aa47c",
        "type": "comment",
        "z": "8c38b362.6d097",
        "name": "MQTT边缘上行",
        "info": "",
        "x": 100,
        "y": 720,
        "wires": []
    },
    {
        "id": "56825ece.73103",
        "type": "mqtt out",
        "z": "8c38b362.6d097",
        "name": "边缘上行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "f152b7e1.7d6478",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "主题",
        "func": "if (!msg.dontChangeTopic)\n    msg.topic = global.get(\"mqtt\").topic.business.pub.prefix + msg.payload.hd.gid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 720,
        "wires": [
            [
                "56825ece.73103",
                "cbed026b.ff455"
            ]
        ]
    },
    {
        "id": "d95dc0fd.41964",
        "type": "link in",
        "z": "8c38b362.6d097",
        "name": "边缘上行",
        "links": [
            "14963224.11111e",
            "9531c25e.b8279",
            "6bf23d77.ebb954",
            "a02e5cb.8e100a",
            "9fdb7274.296f",
            "7912f1cf.0172d",
            "66265751.046f38"
        ],
        "x": 355,
        "y": 720,
        "wires": [
            [
                "f38a1ab7.43e408"
            ]
        ]
    },
    {
        "id": "cf00f1ce.5024d",
        "type": "json",
        "z": "8c38b362.6d097",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "5eff5cc8.a04d64"
            ]
        ]
    },
    {
        "id": "a5930767.f6e788",
        "type": "debug",
        "z": "8c38b362.6d097",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 900,
        "wires": []
    },
    {
        "id": "d82fecf.14f701",
        "type": "link in",
        "z": "8c38b362.6d097",
        "name": "边缘下行(模拟输入)",
        "links": [
            "61bd7a00.126998"
        ],
        "x": 335,
        "y": 980,
        "wires": [
            [
                "1b07b7a2.ebcd58"
            ]
        ]
    },
    {
        "id": "f38a1ab7.43e408",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "设备",
        "func": "if (msg.payload.hd && !msg.payload.hd.gid) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 720,
        "wires": [
            [
                "f152b7e1.7d6478"
            ]
        ]
    },
    {
        "id": "cbed026b.ff455",
        "type": "debug",
        "z": "8c38b362.6d097",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "df107dcf.0fe1a",
        "type": "mqtt in",
        "z": "8c38b362.6d097",
        "d": true,
        "name": "边缘终端上行",
        "topic": "cmdgate/central/cmd",
        "qos": "2",
        "datatype": "auto",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "cf00f1ce.5024d"
            ]
        ]
    },
    {
        "id": "a9d6617a.ac52c",
        "type": "mqtt out",
        "z": "8c38b362.6d097",
        "name": "边缘终端下行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "e6e8f920.76d4b8",
        "type": "link in",
        "z": "8c38b362.6d097",
        "name": "边缘终端下行",
        "links": [
            "d0bdb25b.1b0b9"
        ],
        "x": 355,
        "y": 580,
        "wires": [
            [
                "9b41d5a9.6392c8"
            ]
        ]
    },
    {
        "id": "9b41d5a9.6392c8",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "主题",
        "func": "if (!msg.dontChangeTopic)\n  msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 580,
        "wires": [
            [
                "a9d6617a.ac52c"
            ]
        ]
    },
    {
        "id": "1d602f9.fc4afd",
        "type": "debug",
        "z": "8c38b362.6d097",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "a4c1267d.08b798",
        "type": "mqtt in",
        "z": "8c38b362.6d097",
        "d": true,
        "name": "风扇终端上行",
        "topic": "stat/+/RESULT",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "783977ba.e3c9b8"
            ]
        ]
    },
    {
        "id": "783977ba.e3c9b8",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "协议转换",
        "func": "let did = msg.topic.substring(5, msg.topic.length-7)\nlet power = msg.payload.POWER == \"OFF\" ? 0: msg.payload.POWER == \"ON\" ? 1 : undefined\nlet speed = msg.payload.Dimmer\nlet payload = {\n    hd: {\n        did: did,\n        cmd: 13,\n        stp: 1\n    },\n    pld: {\n        power: power,\n        speed: speed\n    }\n}\nreturn {payload: payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "cf00f1ce.5024d"
            ]
        ]
    },
    {
        "id": "14fb8590.f278da",
        "type": "debug",
        "z": "8c38b362.6d097",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "6069cd6.82aa934",
        "type": "link out",
        "z": "8c38b362.6d097",
        "name": "设备未登记",
        "links": [
            "e81ef68c.81f1f8"
        ],
        "x": 835,
        "y": 280,
        "wires": []
    },
    {
        "id": "c59d2fae.fae1f",
        "type": "mqtt in",
        "z": "8c38b362.6d097",
        "name": "指令网关上线",
        "topic": "business/svcgate/null",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "5a8f18d.609d1e8"
            ]
        ]
    },
    {
        "id": "5a8f18d.609d1e8",
        "type": "debug",
        "z": "8c38b362.6d097",
        "name": "指令网关上线",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a9ea32d4.152fa",
        "type": "comment",
        "z": "8c38b362.6d097",
        "name": "上线通知",
        "info": "",
        "x": 80,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9791738.bd6569",
        "type": "nd-cgate",
        "z": "545271fa.bb534",
        "name": "",
        "host": "127.0.0.1",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "76675308.7997fc"
            ],
            [
                "aff36871.858a38"
            ],
            [
                "f8d19ec5.9e129"
            ],
            [
                "d7c07e29.31ce1"
            ]
        ]
    },
    {
        "id": "d7c07e29.31ce1",
        "type": "debug",
        "z": "545271fa.bb534",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 720,
        "wires": []
    },
    {
        "id": "76675308.7997fc",
        "type": "debug",
        "z": "545271fa.bb534",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "aff36871.858a38",
        "type": "debug",
        "z": "545271fa.bb534",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 580,
        "wires": []
    },
    {
        "id": "f8d19ec5.9e129",
        "type": "debug",
        "z": "545271fa.bb534",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "39e499b2.b8f946",
        "type": "inject",
        "z": "545271fa.bb534",
        "name": "查询状态",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "GET //DJMR/254/56/* level",
        "payloadType": "str",
        "x": 220,
        "y": 580,
        "wires": [
            [
                "9791738.bd6569"
            ]
        ]
    },
    {
        "id": "f005e47.eddc018",
        "type": "inject",
        "z": "545271fa.bb534",
        "name": "查询状态",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "GET //DJMR *",
        "payloadType": "str",
        "x": 220,
        "y": 700,
        "wires": [
            [
                "9791738.bd6569"
            ]
        ]
    },
    {
        "id": "5851736.161c48c",
        "type": "inject",
        "z": "545271fa.bb534",
        "name": "noop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "noop",
        "payloadType": "str",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "9791738.bd6569"
            ]
        ]
    },
    {
        "id": "84002728.b5c648",
        "type": "inject",
        "z": "8c38b362.6d097",
        "name": "上线",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 230,
        "y": 1280,
        "wires": [
            [
                "f9f73417.ff5ea8"
            ]
        ]
    },
    {
        "id": "7912f1cf.0172d",
        "type": "link out",
        "z": "8c38b362.6d097",
        "name": "",
        "links": [
            "db90a60b.8feba8",
            "d95dc0fd.41964"
        ],
        "x": 915,
        "y": 1280,
        "wires": []
    },
    {
        "id": "f9f73417.ff5ea8",
        "type": "exec",
        "z": "8c38b362.6d097",
        "command": "ifconfig -a",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 1280,
        "wires": [
            [
                "308dc492.60250c"
            ],
            [
                "308dc492.60250c"
            ],
            []
        ]
    },
    {
        "id": "2ead10c.dc7b3f",
        "type": "change",
        "z": "8c38b362.6d097",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "cmdgate",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.hd.stp",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.pld.st",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.pld.ts",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1280,
        "wires": [
            [
                "7912f1cf.0172d"
            ]
        ]
    },
    {
        "id": "308dc492.60250c",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "",
        "func": "\nreturn {payload: {\n    pld: {\n        ext: msg.payload.split(\"\\n\\n\")\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1280,
        "wires": [
            [
                "2ead10c.dc7b3f"
            ]
        ]
    },
    {
        "id": "e2048279.4e1db",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "",
        "func": "if (msg.payload.hd.cmd = 1 && msg.payload.hd.stp == 0 && msg.payload.hd.did == global.get(\"cmdgate\") )\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1240,
        "wires": [
            [
                "f9f73417.ff5ea8"
            ]
        ]
    },
    {
        "id": "e80a3292.f2d09",
        "type": "inject",
        "z": "8c38b362.6d097",
        "name": "上报 IP",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 1340,
        "wires": [
            [
                "2619480f.3b39b8"
            ]
        ]
    },
    {
        "id": "2619480f.3b39b8",
        "type": "change",
        "z": "8c38b362.6d097",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "CMDGATE_CL_DJHYS_CBUS",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.hd.stp",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1340,
        "wires": [
            [
                "6b81193f.a5dd68"
            ]
        ]
    },
    {
        "id": "66265751.046f38",
        "type": "link out",
        "z": "8c38b362.6d097",
        "name": "上报 IP",
        "links": [
            "db90a60b.8feba8",
            "d95dc0fd.41964"
        ],
        "x": 755,
        "y": 1340,
        "wires": []
    },
    {
        "id": "6b81193f.a5dd68",
        "type": "function",
        "z": "8c38b362.6d097",
        "name": "",
        "func": "msg.topic = global.get(\"mqtt\").topic.business.sub.prefix + msg.payload.hd.did\nmsg.dontChangeTopic = true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1340,
        "wires": [
            [
                "66265751.046f38"
            ]
        ]
    }
]