data/flows/CMDGATE_CL_FRF308.json
[
    {
        "id": "7f966f2b.565cf",
        "type": "tab",
        "label": "全局配置（福软F308）",
        "disabled": false,
        "info": ""
    },
    {
        "id": "84e2b33.40c105",
        "type": "tab",
        "label": "射频模块",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b2853d6.84776c",
        "type": "tab",
        "label": "窗帘控制",
        "disabled": false,
        "info": ""
    },
    {
        "id": "de440d52.5fd48",
        "type": "tab",
        "label": "福软F308",
        "disabled": false,
        "info": ""
    },
    {
        "id": "849cbceb.9873d",
        "type": "mqtt-broker",
        "name": "mqtt.local",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "480b54ad.8c4e1c",
        "type": "mqtt-broker",
        "name": "mqtt.business",
        "broker": "43.231.150.88",
        "port": "1780",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5c569ec8.d608f",
        "type": "ui_group",
        "name": "AC",
        "tab": "168c092a.469d97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "168c092a.469d97",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "52556211.02a99c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "154dae3c.baf342",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "d": true,
        "name": "mqtt",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b2bd928.c474e7",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "编号配置",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "b892f30e.722aa",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT服务地址",
        "info": "",
        "x": 100,
        "y": 140,
        "wires": []
    },
    {
        "id": "3b4727b1.907a78",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "",
        "func": "    let devices = global.get(\"devices\") ;\n    let setDevice = (did, device, gateway) => {\n        if (devices[did] && devices[did].gid) {\n            node.error(\"设备编号重复：\" + did);\n            node.warn(devices[did]);\n            node.warn(gateway);\n            return;\n        }\n        device.did = did;\n        device.gid = gateway ? gateway.did : null\n        device.gateway = gateway;\n        devices[did] = device;\n\n        let subdevs = device.devices;\n        if (subdevs) {\n            let subkeys = Object.keys(subdevs);\n            subkeys.forEach(subkey => {\n                let subdev = subdevs[subkey];\n                setDevice(subkey, subdev, device);            \n            });        \n\n        }\n    }\n\n\n\n    let keys = Object.keys(devices);\n    keys.forEach(key => {\n        let device = devices[key];\n        setDevice(key, device)\n        \n    });\n\nmsg.payload = devices;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 40,
        "wires": [
            [
                "b792b146.59037"
            ]
        ]
    },
    {
        "id": "f544f205.d51a7",
        "type": "inject",
        "z": "7f966f2b.565cf",
        "name": "刷新编号",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "d6802406.a5a078"
            ]
        ]
    },
    {
        "id": "b792b146.59037",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "d6802406.a5a078",
        "type": "change",
        "z": "7f966f2b.565cf",
        "name": "config",
        "rules": [
            {
                "t": "set",
                "p": "mqtt",
                "pt": "global",
                "to": "{\"topic\":{\"business\":{\"sub\":{\"prefix\":\"business/cmdgate/\"},\"pub\":{\"prefix\":\"business/svcgate/\"}},\"terminal\":{\"sub\":{\"prefix\":\"cmdgate/central/\",\"cmd\":\"cmdgate/central/cmd\"},\"pub\":{\"prefix\":\"cmdgate/device/\",\"central\":\"cmdgate/device/central\"}}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "devices",
                "pt": "global",
                "to": "{\"CMDGATE_CL_VRTYG\":{\"name\":\"长乐VR体验馆\",\"devices\":{\"ESP8266_9926564\":{\"name\":\"二楼1成果区宣传大屏前空调\"},\"ESP8266_9928598\":{\"name\":\"二楼2成果区体验中心入口空调\"},\"ESP8266_9933676\":{\"name\":\"二楼3成果区富士康大屏处空调\"},\"ESP8266_488969\":{\"name\":\"二楼5成果区版图区域内侧空调\"},\"ESP8266_9931870\":{\"name\":\"二楼6成果区版图区域外侧空调\"},\"ESP8266_9956709\":{\"name\":\"二楼7成果区小镇沙盘前空调\"},\"ESP8266_430864\":{\"name\":\"二楼8成果区红色教育一体机旁空调\"},\"ESP8266_486720\":{\"name\":\"二楼9恐龙休息区沙发区上方空调\"},\"ESP8266_469370\":{\"name\":\"二楼10恐龙休息区恐龙区入口上方空调\"},\"ESP8266_9922593\":{\"name\":\"二楼11恐龙休息区恐龙大屏上方空调\"},\"ESP8266_491535\":{\"name\":\"二楼12恐龙休息区长桌上方空调\"},\"ESP8266_9945247\":{\"name\":\"二楼16沉浸教室地理沙盘上方空调\"},\"ESP8266_450977\":{\"name\":\"二楼17沉浸教室3D扫描上方空调\"},\"ESP8266_9954003\":{\"name\":\"二楼18沉浸教室曲面屏上方空调\"},\"ESP8266_448616\":{\"name\":\"二楼19沉浸教室座位区上方空调\"},\"ESP8266_431099\":{\"name\":\"二楼22应用区新品体验展位上方空调\"},\"ESP8266_9930630\":{\"name\":\"二楼23应用区急速风暴展位上方空调\"},\"ESP8266_502328\":{\"name\":\"二楼24应用区世宇展位上方空调\"},\"ESP8266_525449\":{\"name\":\"二楼25应用区ColdingGalaxy展位上方空调\"},\"ESP8266_9928778\":{\"name\":\"二楼26应用区虎豹骑展位上方空调\"},\"ESP8266_9930144\":{\"name\":\"二楼27应用区VR消防展位上方空调\"},\"ESP8266_523355\":{\"name\":\"二楼28应用区虚拟实验室前空调\"},\"ESP8266_524983\":{\"name\":\"二楼29应用区央馆虚拟实验展位上方空调\"},\"ESP8266_10004904\":{\"name\":\"二楼30全息舞台舞台上方空调-1\"},\"ESP8266_9921707\":{\"name\":\"二楼31全息舞台舞台上方空调-2\"},\"ESP8266_433213\":{\"name\":\"二楼32乐空间四格空间1空调\"},\"ESP8266_9920978\":{\"name\":\"二楼33乐空间入口空调\"},\"ESP8266_464648\":{\"name\":\"二楼34乐空间六轴赛车上方空调\"},\"ESP8266_9924660\":{\"name\":\"二楼35乐空间四轴赛车上方空调\"},\"ESP8266_9957889\":{\"name\":\"二楼36乐空间Switch游戏上方空调\"},\"ESP8266_9930089\":{\"name\":\"二楼37乐空间VR自行车上方空调\"},\"ESP8266_448481\":{\"name\":\"二楼38乐空间四格空间4空调\"},\"ESP8266_427331\":{\"name\":\"二楼39乐空间四格空间2&3空调\"},\"ESP8266_9934513\":{\"name\":\"二楼40乐空间仓库空调\"},\"ESP8266_9925594\":{\"name\":\"二楼41乐空间滑雪机上方空调\"},\"ESP8266_9926755\":{\"name\":\"二楼4通道、卫生间区域卫生间一外空调\"},\"ESP8266_9938106\":{\"name\":\"二楼13通道、卫生间区域卫生间二外空调\"},\"ESP8266_9932037\":{\"name\":\"二楼14通道、卫生间区域电梯厅外空调\"},\"ESP8266_465345\":{\"name\":\"二楼15通道、卫生间区域电梯厅内空调\"},\"ESP8266_10009326\":{\"name\":\"二楼20通道、卫生间区域卫生间三外新风机\"},\"ESP8266_9926288\":{\"name\":\"二楼21通道、卫生间区域卫生间三外空调\"},\"ESP8266_9937795\":{\"name\":\"三楼1直播摄影棚摄影棚后方空调1\"},\"ESP8266_10006724\":{\"name\":\"三楼2直播摄影棚摄影棚区域办公室空调1\"},\"ESP8266_442480\":{\"name\":\"三楼3直播摄影棚摄影棚后方空调2\"},\"ESP8266_519369\":{\"name\":\"三楼4直播摄影棚摄影棚区域办公室空调2\"},\"ESP8266_448586\":{\"name\":\"三楼5直播摄影棚摄影棚区域会议室空调\"},\"ESP8266_9930798\":{\"name\":\"三楼6直播摄影棚摄影棚前方空调1\"},\"ESP8266_521738\":{\"name\":\"三楼7直播摄影棚摄影棚前方空调2\"},\"ESP8266_432044\":{\"name\":\"三楼8VR办公区VR办公室新风\"},\"ESP8266_526058\":{\"name\":\"三楼9VR办公区VR办公室空调1\"},\"ESP8266_9926764\":{\"name\":\"三楼10VR办公区VR办公室空调2\"},\"ESP8266_427863\":{\"name\":\"三楼11党建办公区党建办公室空调1\"},\"ESP8266_9926765\":{\"name\":\"三楼12党建办公区党建办公室空调2\"},\"ESP8266_9958380\":{\"name\":\"三楼13党建办公区党建办公室空调3\"},\"ESP8266_474651\":{\"name\":\"三楼14党建办公区党建办公室空调4\"},\"ESP8266_432426\":{\"name\":\"三楼15通道区域电梯间空调\"},\"ESP8266_447884\":{\"name\":\"三楼16通道区域通道空调1\"},\"ESP8266_522277\":{\"name\":\"三楼17通道区域通道空调2\"},\"ESP8266_525584\":{\"name\":\"三楼18通道区域通道空调3\"},\"ESP8266_10029119\":{\"name\":\"三楼19通道区域通道区域新风\"},\"ESP8266_9944959\":{\"name\":\"三楼20党员活动室活动室空调1\"},\"ESP8266_10047940\":{\"name\":\"三楼21党员活动室活动室空调2\"},\"ESP8266_9927599\":{\"name\":\"三楼22党员活动室活动室空调3\"},\"ESP8266_440864\":{\"name\":\"三楼23党员活动室活动室空调4\"},\"ESP8266_9920788\":{\"name\":\"三楼24党员活动室活动室展区空调1\"},\"ESP8266_500512\":{\"name\":\"三楼25党员活动室活动室展区空调2\"},\"ESP8266_9934592\":{\"name\":\"三楼26党员活动室活动室展区空调3\"},\"ESP8266_469696\":{\"name\":\"三楼27党建会议室前方空调1\"},\"ESP8266_9926218\":{\"name\":\"三楼28党建会议室前方空调2\"},\"ESP8266_9955466\":{\"name\":\"三楼29党建会议室前方空调3\"},\"ESP8266_448179\":{\"name\":\"三楼30党建会议室前方空调4\"},\"ESP8266_9932108\":{\"name\":\"三楼31党建会议室前方空调5\"},\"ESP8266_10027740\":{\"name\":\"三楼32党建会议室前方空调6\"},\"ESP8266_9928853\":{\"name\":\"三楼33党建会议室前方空调7\"},\"ESP8266_433112\":{\"name\":\"三楼34党建会议室前方空调8\"},\"ESP8266_9932430\":{\"name\":\"三楼35党建会议室新风\"},\"ESP8266_9925572\":{\"name\":\"\"},\"ESP8266_10005258\":{\"name\":\"\"},\"ESP8266_524478\":{\"name\":\"\"},\"ESP8266_9959024\":{\"name\":\"\"},\"ESP8266_9924667\":{\"name\":\"\"},\"ESP8266_9931370\":{\"name\":\"\"},\"ESP8266_9923383\":{\"name\":\"\"},\"ESP8266_10006696\":{\"name\":\"\"},\"ESP8266_9944985\":{\"name\":\"\"},\"ESP8266_9941341\":{\"name\":\"\"},\"ESP8266_9936075\":{\"name\":\"\"},\"ESP8266_449971\":{\"name\":\"\"},\"ESP8266_9935390\":{\"name\":\"\"},\"ESP8266_10007032\":{\"name\":\"\"},\"ESP8266_5628343\":{\"name\":\"\"}}},\"CMDGATE_CL_JZX01\":{\"name\":\"长乐1号集装箱\",\"devices\":{\"c8f742e36fd2\":{\"name\":\"1号空调\"},\"24dfa7056ca9\":{\"name\":\"2号空调\"},\"ESP8266_2317612\":{\"name\":\"窗帘控制芯片\"},\"CL_JZX01_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_JZX01_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_JZX01_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_JZX01_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_JZX01_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_JZX01_curtain_06\":{\"name\":\"6号窗帘\"}}},\"CMDGATE_CL_JZX02\":{\"name\":\"长乐2号集装箱\",\"devices\":{}},\"CMDGATE_CL_QYA53\":{\"name\":\"长乐企业号A5-3\",\"devices\":{\"CL_QYA53_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_QYA53_curtain_02\":{\"name\":\"2号窗帘\"}}},\"CMDGATE_CL_DJHYS\":{\"name\":\"长乐DJ会议室\",\"devices\":{\"CL_DJHYS_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_DJHYS_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_DJHYS_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_DJHYS_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_DJHYS_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_DJHYS_curtain_06\":{\"name\":\"6号窗帘\"},\"CL_DJHYS_curtain_07\":{\"name\":\"7号窗帘\"},\"CL_DJHYS_curtain_08\":{\"name\":\"8号窗帘\"},\"CL_DJHYS_curtain_09\":{\"name\":\"9号窗帘\"},\"CL_DJHYS_curtain_10\":{\"name\":\"10号窗帘\"},\"CL_DJHYS_curtain_11\":{\"name\":\"11号窗帘\"},\"CL_DJHYS_curtain_12\":{\"name\":\"12号窗帘\"},\"CL_DJHYS_curtain_13\":{\"name\":\"13号窗帘\"},\"CL_DJHYS_curtain_14\":{\"name\":\"14号窗帘\"},\"CL_DJHYS_curtain_15\":{\"name\":\"15号窗帘\"},\"CL_DJHYS_curtain_16\":{\"name\":\"16号窗帘\"},\"CL_DJHYS_curtain_17\":{\"name\":\"17号窗帘\"},\"CL_DJHYS_curtain_18\":{\"name\":\"18号窗帘\"},\"CL_DJHYS_curtain_19\":{\"name\":\"19号窗帘\"},\"CL_DJHYS_curtain_20\":{\"name\":\"20号窗帘\"}}},\"CMDGATE_CL_FRA303\":{\"name\":\"福软教室A303\",\"devices\":{\"CL_FRA303_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA303_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRA305\":{\"name\":\"福软教室A305\",\"devices\":{\"CL_FRA305_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA305_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRA306\":{\"name\":\"福软教室A306\",\"devices\":{\"CL_FRA306_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA306_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRD302\":{\"name\":\"福软教室D302\",\"devices\":{\"CL_FRD302_curtain_01\":{\"name\":\"幕布\"},\"CL_FRD302_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRF308\":{\"name\":\"福软教室F308\",\"devices\":{\"CL_FRF308_curtain_01\":{\"name\":\"幕布\"},\"CL_FRF308_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRF319\":{\"name\":\"福软教室F319\",\"devices\":{\"CL_FRF319_curtain_01\":{\"name\":\"幕布\"},\"CL_FRF319_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_FZ_DEV1\":{\"name\":\"福州亚太二楼开发(有433射频)\",\"devices\":{\"DJ-YT-500-01\":{\"name\":\"1号舵机\"},\"6abf713c\":{\"name\":\"esp32开发板\"},\"97bf99\":{\"name\":\"esp8266开发板\"},\"android_924ed49\":{\"name\":\"采码android机1\"}}},\"CMDGATE_FZ_YT2DGN\":{\"name\":\"福州亚太二楼多功能会议室\",\"devices\":{\"FZ_YT2DGN_curtain_01\":{\"name\":\"幕布\"}}},\"CMDGATE_XA_KFDX01\":{\"name\":\"西安开放大学\",\"devices\":{\"780f7732d5f6\":{\"name\":\"1号空调\"},\"XA_KFDX01_curtain_01\":{\"name\":\"1号窗帘\"},\"XA_KFDX01_curtain_02\":{\"name\":\"2号窗帘\"},\"XA_KFDX01_curtain_03\":{\"name\":\"3号窗帘\"}}},\"CMDGATE_ZFZ01\":{\"name\":\"中非展01\",\"devices\":{\"tasmota_982A80\":{\"name\":\"1号风扇\"},\"ZFZ01_curtain_01\":{\"name\":\"1号窗帘\"},\"ZFZ01_curtain_02\":{\"name\":\"2号窗帘\"}}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "cmdgate",
                "pt": "global",
                "to": "CMDGATE_CL_FRF308",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 40,
        "wires": [
            [
                "3b4727b1.907a78"
            ]
        ]
    },
    {
        "id": "7577ab7.99dc554",
        "type": "mqtt in",
        "z": "7f966f2b.565cf",
        "name": "本地终端上行",
        "topic": "cmdgate/central/cmd",
        "qos": "2",
        "datatype": "auto",
        "broker": "849cbceb.9873d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "16d263fa.4e507c",
                "5b4cd677.6c5048"
            ]
        ]
    },
    {
        "id": "55cc1676.e1e1e8",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        \n        return [null, msg];\n    }\n}\n\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 220,
        "wires": [
            [
                "50aa8a65.6a2c04"
            ],
            [
                "9bdb235c.c9408",
                "95051ebe.9f6c3"
            ]
        ]
    },
    {
        "id": "e63c8469.e2ed68",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT终端上行",
        "info": "",
        "x": 100,
        "y": 220,
        "wires": []
    },
    {
        "id": "50aa8a65.6a2c04",
        "type": "link out",
        "z": "7f966f2b.565cf",
        "name": "终端上行(输出)",
        "links": [
            "82775b82.94d928",
            "ce4bbc35.92071"
        ],
        "x": 835,
        "y": 200,
        "wires": []
    },
    {
        "id": "c1235d37.633ea",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "name": "本地终端下行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "90a962bb.f07c4",
        "type": "link in",
        "z": "7f966f2b.565cf",
        "name": "终端下行",
        "links": [
            "c67e09e8.3b7178",
            "68c90e66.5e785",
            "a886891b.7850a8",
            "fca62cc3.67e88"
        ],
        "x": 355,
        "y": 520,
        "wires": [
            [
                "ef55a887.19d568"
            ]
        ]
    },
    {
        "id": "94b3038a.dd76c",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT终端下行",
        "info": "",
        "x": 100,
        "y": 520,
        "wires": []
    },
    {
        "id": "ef55a887.19d568",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "主题",
        "func": "if (!msg.dontChangeTopic)\n  msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 520,
        "wires": [
            [
                "c1235d37.633ea"
            ]
        ]
    },
    {
        "id": "8eb80638.5a9e08",
        "type": "mqtt in",
        "z": "7f966f2b.565cf",
        "name": "边缘下行",
        "topic": "business/cmdgate/CMDGATE_CL_FRF308",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 260,
        "y": 860,
        "wires": [
            [
                "4f7defdf.42831"
            ]
        ]
    },
    {
        "id": "b8a5477a.9e1d18",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT边缘下行",
        "info": "",
        "x": 100,
        "y": 860,
        "wires": []
    },
    {
        "id": "4f7defdf.42831",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n    let count = context.get(\"count\") \n    count = count ? count + 1 : 1;\n    context.set(\"count\", count) \n    node.status({fill:\"green\", shape:\"dot\", text: count});\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 860,
        "wires": [
            [
                "a8683765.5e9b48",
                "d501f268.749f"
            ]
        ]
    },
    {
        "id": "a8683765.5e9b48",
        "type": "link out",
        "z": "7f966f2b.565cf",
        "name": "边缘下行(输出)",
        "links": [
            "85beea4c.cdba18"
        ],
        "x": 615,
        "y": 860,
        "wires": []
    },
    {
        "id": "fb5e88f.b504c78",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT边缘上行",
        "info": "",
        "x": 100,
        "y": 720,
        "wires": []
    },
    {
        "id": "79e98182.a04d8",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "name": "边缘上行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "e21357a9.a0d888",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "主题",
        "func": "if (!msg.dontChangeTopic)\n    msg.topic = global.get(\"mqtt\").topic.business.pub.prefix + msg.payload.hd.gid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 720,
        "wires": [
            [
                "79e98182.a04d8",
                "20423e4.bdb70c2"
            ]
        ]
    },
    {
        "id": "db90a60b.8feba8",
        "type": "link in",
        "z": "7f966f2b.565cf",
        "name": "边缘上行",
        "links": [
            "14963224.11111e",
            "9531c25e.b8279",
            "6bf23d77.ebb954",
            "7912f1cf.0172d"
        ],
        "x": 355,
        "y": 720,
        "wires": [
            [
                "c4bf62fe.c0714"
            ]
        ]
    },
    {
        "id": "16d263fa.4e507c",
        "type": "json",
        "z": "7f966f2b.565cf",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "55cc1676.e1e1e8"
            ]
        ]
    },
    {
        "id": "d501f268.749f",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 900,
        "wires": []
    },
    {
        "id": "510416dc.816918",
        "type": "link in",
        "z": "7f966f2b.565cf",
        "name": "边缘下行(模拟输入)",
        "links": [
            "61bd7a00.126998"
        ],
        "x": 335,
        "y": 980,
        "wires": [
            [
                "4f7defdf.42831"
            ]
        ]
    },
    {
        "id": "c4bf62fe.c0714",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "设备",
        "func": "if (msg.payload.hd && !msg.payload.hd.gid) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 720,
        "wires": [
            [
                "e21357a9.a0d888"
            ]
        ]
    },
    {
        "id": "20423e4.bdb70c2",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "434d750b.cc59ec",
        "type": "mqtt in",
        "z": "7f966f2b.565cf",
        "d": true,
        "name": "边缘终端上行",
        "topic": "cmdgate/central/cmd",
        "qos": "2",
        "datatype": "auto",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "16d263fa.4e507c"
            ]
        ]
    },
    {
        "id": "2b1ded2a.311c72",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "name": "边缘终端下行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "59a2c727.ba7f88",
        "type": "link in",
        "z": "7f966f2b.565cf",
        "name": "边缘终端下行",
        "links": [
            "d0bdb25b.1b0b9"
        ],
        "x": 355,
        "y": 580,
        "wires": [
            [
                "59bc9656.ad4d88"
            ]
        ]
    },
    {
        "id": "59bc9656.ad4d88",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "主题",
        "func": "if (!msg.dontChangeTopic)\n  msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 580,
        "wires": [
            [
                "2b1ded2a.311c72"
            ]
        ]
    },
    {
        "id": "9bdb235c.c9408",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "e4772df1.89515",
        "type": "mqtt in",
        "z": "7f966f2b.565cf",
        "d": true,
        "name": "风扇终端上行",
        "topic": "stat/+/RESULT",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "86d89713.5a6d08"
            ]
        ]
    },
    {
        "id": "86d89713.5a6d08",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "协议转换",
        "func": "let did = msg.topic.substring(5, msg.topic.length-7)\nlet power = msg.payload.POWER == \"OFF\" ? 0: msg.payload.POWER == \"ON\" ? 1 : undefined\nlet speed = msg.payload.Dimmer\nlet payload = {\n    hd: {\n        did: did,\n        cmd: 13,\n        stp: 1\n    },\n    pld: {\n        power: power,\n        speed: speed\n    }\n}\nreturn {payload: payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "16d263fa.4e507c"
            ]
        ]
    },
    {
        "id": "5b4cd677.6c5048",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "95051ebe.9f6c3",
        "type": "link out",
        "z": "7f966f2b.565cf",
        "name": "设备未登记",
        "links": [
            "e81ef68c.81f1f8"
        ],
        "x": 835,
        "y": 280,
        "wires": []
    },
    {
        "id": "5a8cf6b2.7f1688",
        "type": "mqtt in",
        "z": "7f966f2b.565cf",
        "name": "指令网关上线",
        "topic": "business/svcgate/null",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "e2457f2f.c914a"
            ]
        ]
    },
    {
        "id": "e2457f2f.c914a",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "指令网关上线",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1040,
        "wires": []
    },
    {
        "id": "887657ed.529188",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "上线通知",
        "info": "",
        "x": 80,
        "y": 1140,
        "wires": []
    },
    {
        "id": "84002728.b5c648",
        "type": "inject",
        "z": "7f966f2b.565cf",
        "name": "上线",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 270,
        "y": 1220,
        "wires": [
            [
                "f9f73417.ff5ea8"
            ]
        ]
    },
    {
        "id": "7912f1cf.0172d",
        "type": "link out",
        "z": "7f966f2b.565cf",
        "name": "",
        "links": [
            "db90a60b.8feba8"
        ],
        "x": 955,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f9f73417.ff5ea8",
        "type": "exec",
        "z": "7f966f2b.565cf",
        "command": "ifconfig -a",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 1220,
        "wires": [
            [
                "308dc492.60250c"
            ],
            [
                "308dc492.60250c"
            ],
            []
        ]
    },
    {
        "id": "2ead10c.dc7b3f",
        "type": "change",
        "z": "7f966f2b.565cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "cmdgate",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.hd.stp",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.pld.st",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.pld.ts",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1220,
        "wires": [
            [
                "7912f1cf.0172d"
            ]
        ]
    },
    {
        "id": "308dc492.60250c",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "",
        "func": "\nreturn {payload: {\n    pld: {\n        ext: msg.payload.split(\"\\n\\n\")\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1220,
        "wires": [
            [
                "2ead10c.dc7b3f"
            ]
        ]
    },
    {
        "id": "98e14510.043ba8",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "5fb4f2bf.8012dc"
            ]
        ]
    },
    {
        "id": "983a5411.92aa58",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "98e14510.043ba8"
            ]
        ]
    },
    {
        "id": "5fb4f2bf.8012dc",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/1.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "67d79541.4ac8dc",
        "type": "debug",
        "z": "84e2b33.40c105",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "a9c4cf23.a5a51",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 86,
        "wires": [
            [
                "42f63e20.c99a1"
            ]
        ]
    },
    {
        "id": "fb34906a.5425c",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 86,
        "wires": [
            [
                "a9c4cf23.a5a51"
            ]
        ]
    },
    {
        "id": "42f63e20.c99a1",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/2.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 86,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "f4317e9b.f2e6c",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 135,
        "wires": [
            [
                "66c9be46.07c45"
            ]
        ]
    },
    {
        "id": "2e934cd2.f6f034",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 135,
        "wires": [
            [
                "f4317e9b.f2e6c"
            ]
        ]
    },
    {
        "id": "66c9be46.07c45",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/3.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 135,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "e8c80f41.3cebb",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 184,
        "wires": [
            [
                "fb34e4f.a7b4518"
            ]
        ]
    },
    {
        "id": "c020e69c.820058",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 184,
        "wires": [
            [
                "e8c80f41.3cebb"
            ]
        ]
    },
    {
        "id": "fb34e4f.a7b4518",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/4.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 184,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "277839c.c6217c6",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 233,
        "wires": [
            [
                "17abadc2.a68ca2"
            ]
        ]
    },
    {
        "id": "f50349f1.9a0238",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 233,
        "wires": [
            [
                "277839c.c6217c6"
            ]
        ]
    },
    {
        "id": "17abadc2.a68ca2",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/5.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 233,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "c923a657.4d42b8",
        "type": "gpio-rf-collect",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 282,
        "wires": [
            [
                "43e2a9ad.312158"
            ]
        ]
    },
    {
        "id": "5cfbc705.8a4bf8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 282,
        "wires": [
            [
                "c923a657.4d42b8"
            ]
        ]
    },
    {
        "id": "43e2a9ad.312158",
        "type": "file",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/6.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 282,
        "wires": [
            [
                "31ce70d1.9d45f"
            ]
        ]
    },
    {
        "id": "74b018d7.de43a8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "18e12cf0.3ac153"
            ]
        ]
    },
    {
        "id": "c5c9e1e5.70cc7",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "9f32d2e1.044ea"
            ]
        ]
    },
    {
        "id": "ece180bb.43608",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "8bd48618.82a328"
            ]
        ]
    },
    {
        "id": "eddf938a.01ed6",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "bd6cdf53.57971"
            ]
        ]
    },
    {
        "id": "98ca8334.5056c",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "c2552dea.188a7"
            ]
        ]
    },
    {
        "id": "f7824905.3743d8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "e895432f.70873"
            ]
        ]
    },
    {
        "id": "18e12cf0.3ac153",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/1.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "9f32d2e1.044ea",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/2.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "8bd48618.82a328",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/3.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "bd6cdf53.57971",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/4.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "c2552dea.188a7",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/5.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "e895432f.70873",
        "type": "file in",
        "z": "84e2b33.40c105",
        "name": "",
        "filename": "/data/temp/6.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "b13c9538.48a0b8"
            ]
        ]
    },
    {
        "id": "b13c9538.48a0b8",
        "type": "gpio-rf-sniffer",
        "z": "84e2b33.40c105",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "4bd9ab97.0a4254",
                "57b00ff.d4523f"
            ]
        ]
    },
    {
        "id": "31ce70d1.9d45f",
        "type": "gpio-rf-sniffer",
        "z": "84e2b33.40c105",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "67d79541.4ac8dc"
            ]
        ]
    },
    {
        "id": "4bd9ab97.0a4254",
        "type": "function",
        "z": "84e2b33.40c105",
        "name": "",
        "func": "let idx = 0;\nlet payload = msg.payload;\nlet count = Object.keys(payload).length;\n\nlet send = function(payload, idx, count) {\n    if (idx < count) {\n        node.send({\n            payload: payload[idx].micros\n        })\n    \n\n        idx++;\n        if (idx < count) {\n            setTimeout(() => {\n                send(payload, idx, count)\n            }, 3000)\n        }\n    }\n}\n\nsend(payload, idx, count)\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "57b00ff.d4523f",
        "type": "debug",
        "z": "84e2b33.40c105",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "1d670aa8.6da625",
        "type": "gpio-rf-sender",
        "z": "84e2b33.40c105",
        "name": "",
        "pin": "13",
        "strMicros": "",
        "count": "3",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "e6c9eeff.e8adb",
                "4f83eaef.5d0574"
            ]
        ]
    },
    {
        "id": "84491339.25e1c",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1,296,1800,260,1322,308,476,1096,1476,251,1264,366,1318,335,457,1171,472,1163,1292,357,1261,376,1267,382,434,1198,487,1166,453,1180,482,1175,446,1185,1267,376,443,1196,1247,394,436,1203,442,1197,479,1153,465,12174,458,724,181,274,486,1151,1267,391,1304,337,473,1159,1254,397,1261,379,1242,399,449,1193,453,1188,1237,397,1231,413,1230,416,425,1206,428,1214,428,1210,448,1202,422,1213,1247,392,433,1211,1240,393,437,1209,449,1182,428,1211,438,12203,465,1168,438,1194,1256,390,1252,393,440,1185,1255,397,1262,380,1235,411,434,1194,471,1173,1244,391,1240,390,1260,403,425,1206,432,1207,434,1196,439,1225,422,1211,1229,403,438,1210,1236,404,416,1223,447,1192,517,1108,461,12190,458,1190,454,1178,1251,392,1249,398,428,1211,1256,391,1238,411,1229,419,429,1202,442,1203,1231,408,1238,406,1230,410,423,1224,404,1228,431,1214,435,1208,444,1197,1235,397,434,1211,1235,404,440,1203,428,1211,438,1197,422,12223,444,1187,453,1185,1268,387,1261,384,443,1186,1259,381,1255,399,1236,409,435,1195,464,1172,1254,392,1230,414,1226,423,422,1214,422,1212,443,1206,436,1198,440,1205,1235,398,455,1189,1249,396,434,1206,419,1215,449,1189,446,12203,495,1136,477,1167,1249,387,1264,389,448,1177,1248,391,1245,399,1241,409,437,1206,433,1202,1235,412,1230,404,1231,417,425,1203,423,1225,432,1203,440,1211,430,1196,1265,382,423,1220,1241,396,427,1209,434,1214,442,1189,423,23347,41,",
        "payloadType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "e6c9eeff.e8adb",
        "type": "debug",
        "z": "84e2b33.40c105",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "5b31f074.0747a",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0,659,163,1388,269,1332,296,480,1161,1311,321,1298,354,1289,363,459,1175,475,1174,1268,363,1261,387,1249,388,448,1192,461,1187,442,1192,452,1191,452,1186,1258,383,457,1186,453,1190,1245,392,477,1157,446,1194,437,12196,463,1187,445,1189,1265,374,1248,390,470,1165,1264,376,1277,372,1239,407,440,1194,439,1194,1247,401,1231,407,1241,404,432,1200,422,1216,436,1198,449,1195,458,1181,1261,376,431,1206,437,1204,1229,408,427,1202,432,1212,432,12197,454,1186,450,1166,1270,380,1259,394,435,1192,1245,389,1248,407,1224,420,430,1208,423,1207,1233,406,1243,397,1237,399,428,1222,416,1210,432,1223,418,1214,445,1195,1242,392,448,1196,424,1204,1243,402,430,1199,443,1193,432,12204,440,1193,444,1193,1278,363,1254,376,459,1183,1243,400,1219,414,1244,406,423,1211,422,1200,1245,405,1224,413,1223,405,423,1226,425,1210,428,1208,443,1198,427,1210,1236,394,437,1206,431,1198,1269,377,428,1203,438,1202,427,12190,447,1195,446,1180,1252,392,1249,395,443,1194,1247,390,1231,395,1245,409,431,1202,446,1192,1226,413,1232,402,1236,414,419,1216,409,1223,424,1229,430,1205,439,1190,1270,372,417,1215,443,1190,1249,395,431,1209,425,1210,433,12199,452,1183,456,1188,1239,397,1249,394,442,1191,1243,400,1247,395,1229,412,415,1222,418,1218,1242,398,1239,402,1237,406,410,1224,424,1208,435,1220,431,1208,428,1201,1232,414,422,1216,427,1202,1238,404,432,1205,431,1204,446,13427,107,",
        "payloadType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "cc4420e3.ac7ce",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0,1349,290,1332,322,1298,339,565,1071,453,1183,1263,375,1246,409,1225,401,445,1201,458,1169,450,1208,438,1196,448,1183,1270,375,433,1202,449,1186,454,1184,1239,406,440,1185,461,12176,474,1166,533,643,178,261,1273,380,1283,369,448,1190,1248,375,1261,387,1264,383,446,1196,451,1187,1250,384,1254,391,1238,407,421,1213,431,1201,431,1213,440,1214,436,1195,1256,377,446,1201,442,1203,431,1206,1227,408,448,1189,437,12198,496,1139,493,1155,1242,393,1248,393,440,1191,1296,353,1233,411,1237,409,420,1216,450,1190,1253,380,1247,403,1232,406,428,1213,433,1201,437,1222,445,1178,439,1205,1241,406,419,1223,434,1203,435,1206,1241,404,426,1210,433,12216,462,1180,462,1182,1244,392,1248,405,438,1192,1258,378,1294,360,1230,404,447,1207,425,1208,1240,409,1236,412,1232,410,414,1215,433,1217,428,1223,443,1197,433,1201,1263,387,420,1215,455,1194,422,1204,1242,406,438,1208,437,12225,437,1197,457,1186,1247,394,1254,389,435,1205,1242,398,1263,382,1244,400,439,1187,432,1208,1261,391,1229,413,1235,408,429,1212,412,1223,430,1216,441,1199,437,1198,1245,399,413,1231,426,1203,440,1187,1246,404,431,1215,417,12221,457,1178,469,1168,1298,356,1248,391,445,1195,1256,380,1249,402,1264,374,434,1219,419,1217,1230,402,1232,412,1228,417,425,1217,434,1197,440,1220,426,1207,429,1206,1233,415,438,1203,436,1197,436,1210,1231,405,447,1200,431,24209,23,",
        "payloadType": "str",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "913c53d.c3a87b",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "bbfd9cfd.98397",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "eaca50b0.5dd6",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "d71b7697.f65098",
        "type": "link in",
        "z": "84e2b33.40c105",
        "name": "发送",
        "links": [
            "4586dddb.ccea44",
            "f544fc9d.2dfb8",
            "335febd6.afce84"
        ],
        "x": 155,
        "y": 880,
        "wires": [
            [
                "efcec49d.d4aaf8"
            ]
        ]
    },
    {
        "id": "efcec49d.d4aaf8",
        "type": "function",
        "z": "84e2b33.40c105",
        "name": "发送队列",
        "func": "let list = flow.get(\"SendList\") || [];\nlist.push(msg);\nflow.set(\"SendList\", list);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "4f83eaef.5d0574",
        "type": "function",
        "z": "84e2b33.40c105",
        "name": "发送",
        "func": "let lowStr = \"0,1000\"\nlet sending = flow.get(\"sending\");\nlet ts = flow.get(\"timestamp\") || 0 ;\nlet now = new Date().valueOf();\n\n\nif (msg.payload || !sending || (now - ts) > 5000) {\n    if (msg.payload && msg.payload != lowStr ) {    \n        flow.set(\"sending\", true);\n        flow.set(\"timestamp\", now);\n        return {payload: lowStr};\n    } else {\n        let list = flow.get(\"SendList\") || [];\n        let _msg = list.pop();\n        if (_msg) {\n            flow.set(\"SendList\", list);\n            flow.set(\"sending\", true);\n            flow.set(\"timestamp\", now);\n            return _msg;\n        } else {\n            flow.set(\"sending\", false);\n        }        \n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 880,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "f39344bc.2386d8",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 360,
        "y": 980,
        "wires": [
            [
                "4f83eaef.5d0574"
            ]
        ]
    },
    {
        "id": "806b6bd6.839b58",
        "type": "inject",
        "z": "84e2b33.40c105",
        "name": "拉低电平",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0,1000,",
        "payloadType": "str",
        "x": 400,
        "y": 620,
        "wires": [
            [
                "1d670aa8.6da625"
            ]
        ]
    },
    {
        "id": "f2cf1e48.72396",
        "type": "inject",
        "z": "1b2853d6.84776c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "f16b4ac6.cabaf8"
            ]
        ]
    },
    {
        "id": "f16b4ac6.cabaf8",
        "type": "file in",
        "z": "1b2853d6.84776c",
        "name": "加载状态",
        "filename": "/data/cmd-gateway/data/config/curtain_state.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "f23b4d50.9f803"
            ]
        ]
    },
    {
        "id": "85ac8f87.d38e",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "缓存状态",
        "func": "let states = msg.payload || {};\n\nflow.set(\"states\", states);\n\nreturn {payload: flow.get(\"states\")};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f23b4d50.9f803",
        "type": "json",
        "z": "1b2853d6.84776c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "85ac8f87.d38e"
            ]
        ]
    },
    {
        "id": "3ea1de8d.770fd2",
        "type": "file",
        "z": "1b2853d6.84776c",
        "name": "保存状态",
        "filename": "/data/cmd-gateway/data/config/curtain_state.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1020,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5d82a5d2.dc804c",
        "type": "switch",
        "z": "1b2853d6.84776c",
        "name": "指令4",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "dcf85919.4cb008"
            ]
        ]
    },
    {
        "id": "bb21c718.670d98",
        "type": "link in",
        "z": "1b2853d6.84776c",
        "name": "输入",
        "links": [
            "65492439.6cbcec"
        ],
        "x": 195,
        "y": 440,
        "wires": [
            [
                "5d82a5d2.dc804c"
            ]
        ]
    },
    {
        "id": "dcf85919.4cb008",
        "type": "switch",
        "z": "1b2853d6.84776c",
        "name": "控制或查询",
        "property": "payload.pld.open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "5d8d5b95.e14a84"
            ],
            [
                "f73810e7.ad1e1",
                "91569849.c16e08"
            ]
        ]
    },
    {
        "id": "5d8d5b95.e14a84",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "查询",
        "func": "let hd = msg.payload.hd;\nlet states = flow.get(\"states\") || {};\nlet key = hd.gid + \"/\" + hd.did;\nlet state = states[key] || {open: -1}\nhd.stp = 1;\nmsg.payload.pld = state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "9531c25e.b8279"
            ]
        ]
    },
    {
        "id": "9531c25e.b8279",
        "type": "link out",
        "z": "1b2853d6.84776c",
        "name": "",
        "links": [
            "db90a60b.8feba8"
        ],
        "x": 985,
        "y": 340,
        "wires": []
    },
    {
        "id": "f73810e7.ad1e1",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "控制",
        "func": "let pld = msg.payload.pld;\nlet ray = pld.ray;\nif (ray) {\n  return {payload: ray, count: 4};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 540,
        "wires": [
            [
                "f544fc9d.2dfb8"
            ]
        ]
    },
    {
        "id": "91569849.c16e08",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "保存",
        "func": "let hd = msg.payload.hd;\nlet pld = msg.payload.pld;\nlet states = flow.get(\"states\") || {};\n\nlet key = hd.gid + \"/\" + hd.did;\nlet state = {open: pld.open};\nstates[key] = state;\n\n\nreturn {payload: states};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 460,
        "wires": [
            [
                "3ea1de8d.770fd2"
            ]
        ]
    },
    {
        "id": "f544fc9d.2dfb8",
        "type": "link out",
        "z": "1b2853d6.84776c",
        "name": "",
        "links": [
            "d71b7697.f65098"
        ],
        "x": 975,
        "y": 540,
        "wires": []
    },
    {
        "id": "4779fd8c.75dc44",
        "type": "comment",
        "z": "1b2853d6.84776c",
        "name": "边缘下行",
        "info": "",
        "x": 80,
        "y": 300,
        "wires": []
    },
    {
        "id": "1201cef1.d04401",
        "type": "comment",
        "z": "1b2853d6.84776c",
        "name": "状态加载",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "df0aaafb.1074a8",
        "type": "switch",
        "z": "1b2853d6.84776c",
        "name": "stp=1",
        "property": "payload.hd.stp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 740,
        "wires": [
            [
                "9bee33a8.621f1"
            ]
        ]
    },
    {
        "id": "af6fcf3.70b503",
        "type": "rf-decoder",
        "z": "1b2853d6.84776c",
        "name": "",
        "x": 860,
        "y": 740,
        "wires": [
            [
                "1efeb068.a775e"
            ]
        ]
    },
    {
        "id": "bf9579e1.268368",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "致尚窗帘",
        "func": "msg.params = [\n        {\n            tolerance: 20,\n            excess: 0,\n            atleast: true,                              \n            MSBfirst: true,\n            step: 1,\n            use_bits: false,\n\n            nbits:80,  \n            headermark: 2600,\n            headerspace: 2600,\n            onemark: 1300,   \n            onespace: 1300, \n            zeromark: 650,  \n            zerospace: 650, \n            footermark: 0,\n            footerspace: 0,\n            lastspace: 0\n        },\n        {\n            tolerance: 20,\n            excess: 0,\n            atleast: true,                              \n            MSBfirst: true,\n            step: 1,\n            use_bits: true,\n\n            nbits:2,  \n            headermark: 0,\n            headerspace: 0,\n            onemark: 1300,   \n            onespace: 1300, \n            zeromark: 650,  \n            zerospace: 650, \n            footermark: 0,\n            footerspace: 0,\n            lastspace: 0\n        }\n    ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 740,
        "wires": [
            [
                "af6fcf3.70b503"
            ]
        ]
    },
    {
        "id": "3df638ee.3cc828",
        "type": "switch",
        "z": "1b2853d6.84776c",
        "d": true,
        "name": "指令9",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "df0aaafb.1074a8"
            ]
        ]
    },
    {
        "id": "e81ef68c.81f1f8",
        "type": "link in",
        "z": "1b2853d6.84776c",
        "name": "解码",
        "links": [
            "6e8405ea.92475c",
            "95051ebe.9f6c3"
        ],
        "x": 195,
        "y": 740,
        "wires": [
            [
                "3df638ee.3cc828"
            ]
        ]
    },
    {
        "id": "ad57ea7.dc4bc18",
        "type": "debug",
        "z": "1b2853d6.84776c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 700,
        "wires": []
    },
    {
        "id": "9bee33a8.621f1",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "",
        "func": "let rays = context.get(\"rays\") || [];\nlet ts = context.get(\"ts\") || (new Date).getTime();\nlet now = (new Date).getTime();\n\nif (now - ts > 5 * 1000)\n    rays = [];\n\n\nrays.push(msg.payload.pld.sniff.raw)\ncontext.set(\"rays\", rays)\ncontext.set(\"ts\", now)\n\nlet raysStr = \"\";\nfor(let i = 0; i < rays.length; i++) {\n    raysStr = raysStr + rays[i] + \"\\r\\n\"\n}\n\n\nreturn [{payload: raysStr}, {payload: msg.payload.pld.sniff.raw}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 740,
        "wires": [
            [
                "dcc8bdbc.d21f"
            ],
            [
                "27870ea8.d0fd02",
                "bf9579e1.268368"
            ]
        ]
    },
    {
        "id": "1efeb068.a775e",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "",
        "func": "if (msg.payload.bytes.length > 0)\n    node.send(msg);\n\nfor(let i = 0; i < msg.payload.bytes.length; i++ ) {\n    node.send([null, {payload: msg.payload.bytes[i]}]);\n}\n\n    ",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 740,
        "wires": [
            [
                "ad57ea7.dc4bc18"
            ],
            [
                "1ce7129b.ed85cd",
                "9b738392.875ef"
            ]
        ]
    },
    {
        "id": "1ce7129b.ed85cd",
        "type": "debug",
        "z": "1b2853d6.84776c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 860,
        "wires": []
    },
    {
        "id": "8bde4351.b4f26",
        "type": "rf-encoder",
        "z": "1b2853d6.84776c",
        "name": "",
        "x": 860,
        "y": 860,
        "wires": [
            [
                "1ce7129b.ed85cd"
            ]
        ]
    },
    {
        "id": "9b738392.875ef",
        "type": "function",
        "z": "1b2853d6.84776c",
        "name": "致尚窗帘",
        "func": "msg.params = [\n        {\n            tolerance: 20,\n            excess: 0,\n            atleast: true,                              \n            MSBfirst: true,\n            step: 1,\n            use_bits: false,\n\n            nbits:80,  \n            headermark: 2600,\n            headerspace: 2600,\n            onemark: 1300,   \n            onespace: 1300, \n            zeromark: 650,  \n            zerospace: 650, \n            footermark: 0,\n            footerspace: 0,\n            lastspace: 0\n        },\n        {\n            tolerance: 20,\n            excess: 0,\n            atleast: true,                              \n            MSBfirst: true,\n            step: 1,\n            use_bits: true,\n\n            nbits:2,  \n            headermark: 0,\n            headerspace: 0,\n            onemark: 1300,   \n            onespace: 1300, \n            zeromark: 650,  \n            zerospace: 650, \n            footermark: 0,\n            footerspace: 0,\n            lastspace: 0\n        }\n    ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 860,
        "wires": [
            [
                "8bde4351.b4f26"
            ]
        ]
    },
    {
        "id": "1c284778.7618a9",
        "type": "comment",
        "z": "1b2853d6.84776c",
        "name": "编解码",
        "info": "",
        "x": 70,
        "y": 660,
        "wires": []
    },
    {
        "id": "dcc8bdbc.d21f",
        "type": "ui_text",
        "z": "1b2853d6.84776c",
        "group": "5c569ec8.d608f",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680,
        "y": 660,
        "wires": []
    },
    {
        "id": "27870ea8.d0fd02",
        "type": "debug",
        "z": "1b2853d6.84776c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 700,
        "wires": []
    },
    {
        "id": "85beea4c.cdba18",
        "type": "link in",
        "z": "de440d52.5fd48",
        "name": "边缘下行",
        "links": [
            "a8683765.5e9b48"
        ],
        "x": 135,
        "y": 160,
        "wires": [
            [
                "aeaffa45.ea4588"
            ]
        ]
    },
    {
        "id": "aeaffa45.ea4588",
        "type": "switch",
        "z": "de440d52.5fd48",
        "name": "网关",
        "property": "payload.hd.gid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cmdgate",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "27b3d61a.1df38a"
            ]
        ]
    },
    {
        "id": "27b3d61a.1df38a",
        "type": "switch",
        "z": "de440d52.5fd48",
        "name": "指令",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "5e93cdaf.c0b714"
            ],
            [],
            []
        ]
    },
    {
        "id": "5e93cdaf.c0b714",
        "type": "change",
        "z": "de440d52.5fd48",
        "name": "窗帘",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 140,
        "wires": [
            [
                "65492439.6cbcec"
            ]
        ]
    },
    {
        "id": "65492439.6cbcec",
        "type": "link out",
        "z": "de440d52.5fd48",
        "name": "",
        "links": [
            "bb21c718.670d98"
        ],
        "x": 815,
        "y": 140,
        "wires": []
    },
    {
        "id": "f62e565f.383de8",
        "type": "comment",
        "z": "de440d52.5fd48",
        "name": "边缘下行",
        "info": "",
        "x": 80,
        "y": 100,
        "wires": []
    }
]