data/flows/CMDGATE_CL_VRTYG.json
[
    {
        "id": "7f966f2b.565cf",
        "type": "tab",
        "label": "全局配置",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6e9ccff0.31174",
        "type": "tab",
        "label": "长乐VR体验馆",
        "disabled": false,
        "info": ""
    },
    {
        "id": "75a3e362.0ad2cc",
        "type": "tab",
        "label": "空调看板",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b67ee71.21ee718",
        "type": "tab",
        "label": "福州开发",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f57dd416.5de4f8",
        "type": "tab",
        "label": "射频模块",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3d341b1e.496694",
        "type": "tab",
        "label": "OTA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da0bc893.9025c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "849cbceb.9873d",
        "type": "mqtt-broker",
        "name": "mqtt.local",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "480b54ad.8c4e1c",
        "type": "mqtt-broker",
        "name": "mqtt.business",
        "broker": "43.231.150.88",
        "port": "1780",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5c569ec8.d608f",
        "type": "ui_group",
        "name": "AC",
        "tab": "168c092a.469d97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "168c092a.469d97",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "154dae3c.baf342",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "d": true,
        "name": "mqtt",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b2bd928.c474e7",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "编号配置",
        "info": "",
        "x": 60,
        "y": 40,
        "wires": []
    },
    {
        "id": "b892f30e.722aa",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT服务地址",
        "info": "",
        "x": 80,
        "y": 140,
        "wires": []
    },
    {
        "id": "3b4727b1.907a78",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "",
        "func": "    let devices = global.get(\"devices\") ;\n    let setDevice = (did, device, gateway) => {\n        if (devices[did] && devices[did].gid) {\n            node.error(\"设备编号重复：\" + did);\n            node.warn(devices[did]);\n            node.warn(gateway);\n            return;\n        }\n        device.did = did;\n        device.gid = gateway ? gateway.did : null\n        device.gateway = gateway;\n        devices[did] = device;\n\n        let subdevs = device.devices;\n        if (subdevs) {\n            let subkeys = Object.keys(subdevs);\n            subkeys.forEach(subkey => {\n                let subdev = subdevs[subkey];\n                setDevice(subkey, subdev, device);            \n            });        \n\n        }\n    }\n\n\n\n    let keys = Object.keys(devices);\n    keys.forEach(key => {\n        let device = devices[key];\n        setDevice(key, device)\n        \n    });\n\nmsg.payload = devices;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 40,
        "wires": [
            [
                "b792b146.59037"
            ]
        ]
    },
    {
        "id": "f544f205.d51a7",
        "type": "inject",
        "z": "7f966f2b.565cf",
        "name": "刷新编号",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 40,
        "wires": [
            [
                "d6802406.a5a078"
            ]
        ]
    },
    {
        "id": "b792b146.59037",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "82775b82.94d928",
        "type": "link in",
        "z": "6e9ccff0.31174",
        "name": "终端上行",
        "links": [
            "50aa8a65.6a2c04"
        ],
        "x": 235,
        "y": 140,
        "wires": [
            [
                "ec525ded.95cd6"
            ]
        ]
    },
    {
        "id": "90c1105.231f5f",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "查询",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "78d75ca9.7abe04",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "开启",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"temperature\":26,\"mode\":\"cool\",\"fanSpeed\":\"medium\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "str",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "7aa25617.77a438",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "关闭",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"off\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "16924e2a.b7f912",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "温度18/自动/低风",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"temperature\":18,\"mode\":\"auto\",\"fanSpeed\":\"low\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "b322c9be.72ac68",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "温度27",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"temperature\":27}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "f17ab6a9.a34cd8",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "风速低",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"fanSpeed\":\"low\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "f80e0d74.b498d",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "风速中",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"fanSpeed\":\"medium\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "2dd5818.50f137e",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "风速高/制冷",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"fanSpeed\":\"high\",\"mode\":\"cool\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "3be2b583.27585a",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "制冷",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"mode\":\"cool\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "65e9c7f.bc7c538",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "自动",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"mode\":\"auto\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "775a9c96.55fcc4",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "除湿",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"mode\":\"dry\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "7c91301b.ad7fa",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "制热",
        "props": [
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\",\"mode\":\"heat\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 1000,
        "wires": [
            [
                "744571a3.d875e"
            ]
        ]
    },
    {
        "id": "d6802406.a5a078",
        "type": "change",
        "z": "7f966f2b.565cf",
        "name": "config",
        "rules": [
            {
                "t": "set",
                "p": "mqtt",
                "pt": "global",
                "to": "{\"topic\":{\"business\":{\"sub\":{\"prefix\":\"business/cmdgate/\"},\"pub\":{\"prefix\":\"business/svcgate/\"}},\"terminal\":{\"sub\":{\"prefix\":\"cmdgate/central/\",\"cmd\":\"cmdgate/central/cmd\"},\"pub\":{\"prefix\":\"cmdgate/device/\",\"central\":\"cmdgate/device/central\"}}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "devices",
                "pt": "global",
                "to": "{\"CMDGATE_CL_VRTYG\":{\"name\":\"长乐VR体验馆\",\"devices\":{\"ESP8266_9926564\":{\"name\":\"二楼1成果区宣传大屏前空调\"},\"ESP8266_9928598\":{\"name\":\"二楼2成果区体验中心入口空调\"},\"ESP8266_9933676\":{\"name\":\"二楼3成果区富士康大屏处空调\"},\"ESP8266_488969\":{\"name\":\"二楼5成果区版图区域内侧空调\"},\"ESP8266_9931870\":{\"name\":\"二楼6成果区版图区域外侧空调\"},\"ESP8266_9956709\":{\"name\":\"二楼7成果区小镇沙盘前空调\"},\"ESP8266_430864\":{\"name\":\"二楼8成果区红色教育一体机旁空调\"},\"ESP8266_486720\":{\"name\":\"二楼9恐龙休息区沙发区上方空调\"},\"ESP8266_469370\":{\"name\":\"二楼10恐龙休息区恐龙区入口上方空调\"},\"ESP8266_9922593\":{\"name\":\"二楼11恐龙休息区恐龙大屏上方空调\"},\"ESP8266_491535\":{\"name\":\"二楼12恐龙休息区长桌上方空调\"},\"ESP8266_9945247\":{\"name\":\"二楼16沉浸教室地理沙盘上方空调\"},\"ESP8266_450977\":{\"name\":\"二楼17沉浸教室3D扫描上方空调\"},\"ESP8266_9954003\":{\"name\":\"二楼18沉浸教室曲面屏上方空调\"},\"ESP8266_448616\":{\"name\":\"二楼19沉浸教室座位区上方空调\"},\"ESP8266_431099\":{\"name\":\"二楼22应用区新品体验展位上方空调\"},\"ESP8266_9930630\":{\"name\":\"二楼23应用区急速风暴展位上方空调\"},\"ESP8266_502328\":{\"name\":\"二楼24应用区世宇展位上方空调\"},\"ESP8266_525449\":{\"name\":\"二楼25应用区ColdingGalaxy展位上方空调\"},\"ESP8266_9928778\":{\"name\":\"二楼26应用区虎豹骑展位上方空调\"},\"ESP8266_9930144\":{\"name\":\"二楼27应用区VR消防展位上方空调\"},\"ESP8266_523355\":{\"name\":\"二楼28应用区虚拟实验室前空调\"},\"ESP8266_524983\":{\"name\":\"二楼29应用区央馆虚拟实验展位上方空调\"},\"ESP8266_10004904\":{\"name\":\"二楼30全息舞台舞台上方空调-1\"},\"ESP8266_9921707\":{\"name\":\"二楼31全息舞台舞台上方空调-2\"},\"ESP8266_433213\":{\"name\":\"二楼32乐空间四格空间1空调\"},\"ESP8266_9920978\":{\"name\":\"二楼33乐空间入口空调\"},\"ESP8266_464648\":{\"name\":\"二楼34乐空间六轴赛车上方空调\"},\"ESP8266_9924660\":{\"name\":\"二楼35乐空间四轴赛车上方空调\"},\"ESP8266_9957889\":{\"name\":\"二楼36乐空间Switch游戏上方空调\"},\"ESP8266_9930089\":{\"name\":\"二楼37乐空间VR自行车上方空调\"},\"ESP8266_448481\":{\"name\":\"二楼38乐空间四格空间4空调\"},\"ESP8266_427331\":{\"name\":\"二楼39乐空间四格空间2&3空调\"},\"ESP8266_9934513\":{\"name\":\"二楼40乐空间仓库空调\"},\"ESP8266_9925594\":{\"name\":\"二楼41乐空间滑雪机上方空调\"},\"ESP8266_9926755\":{\"name\":\"二楼4通道、卫生间区域卫生间一外空调\"},\"ESP8266_9938106\":{\"name\":\"二楼13通道、卫生间区域卫生间二外空调\"},\"ESP8266_9932037\":{\"name\":\"二楼14通道、卫生间区域电梯厅外空调\"},\"ESP8266_465345\":{\"name\":\"二楼15通道、卫生间区域电梯厅内空调\"},\"ESP8266_10009326\":{\"name\":\"二楼20通道、卫生间区域卫生间三外新风机\"},\"ESP8266_9926288\":{\"name\":\"二楼21通道、卫生间区域卫生间三外空调\"},\"ESP8266_9937795\":{\"name\":\"三楼1直播摄影棚摄影棚后方空调1\"},\"ESP8266_10006724\":{\"name\":\"三楼2直播摄影棚摄影棚区域办公室空调1\"},\"ESP8266_442480\":{\"name\":\"三楼3直播摄影棚摄影棚后方空调2\"},\"ESP8266_519369\":{\"name\":\"三楼4直播摄影棚摄影棚区域办公室空调2\"},\"ESP8266_448586\":{\"name\":\"三楼5直播摄影棚摄影棚区域会议室空调\"},\"ESP8266_9930798\":{\"name\":\"三楼6直播摄影棚摄影棚前方空调1\"},\"ESP8266_521738\":{\"name\":\"三楼7直播摄影棚摄影棚前方空调2\"},\"ESP8266_432044\":{\"name\":\"三楼8VR办公区VR办公室新风\"},\"ESP8266_526058\":{\"name\":\"三楼9VR办公区VR办公室空调1\"},\"ESP8266_9926764\":{\"name\":\"三楼10VR办公区VR办公室空调2\"},\"ESP8266_427863\":{\"name\":\"三楼11党建办公区党建办公室空调1\"},\"ESP8266_9926765\":{\"name\":\"三楼12党建办公区党建办公室空调2\"},\"ESP8266_9958380\":{\"name\":\"三楼13党建办公区党建办公室空调3\"},\"ESP8266_474651\":{\"name\":\"三楼14党建办公区党建办公室空调4\"},\"ESP8266_432426\":{\"name\":\"三楼15通道区域电梯间空调\"},\"ESP8266_447884\":{\"name\":\"三楼16通道区域通道空调1\"},\"ESP8266_522277\":{\"name\":\"三楼17通道区域通道空调2\"},\"ESP8266_525584\":{\"name\":\"三楼18通道区域通道空调3\"},\"ESP8266_10029119\":{\"name\":\"三楼19通道区域通道区域新风\"},\"ESP8266_9944959\":{\"name\":\"三楼20党员活动室活动室空调1\"},\"ESP8266_10047940\":{\"name\":\"三楼21党员活动室活动室空调2\"},\"ESP8266_9927599\":{\"name\":\"三楼22党员活动室活动室空调3\"},\"ESP8266_440864\":{\"name\":\"三楼23党员活动室活动室空调4\"},\"ESP8266_9920788\":{\"name\":\"三楼24党员活动室活动室展区空调1\"},\"ESP8266_500512\":{\"name\":\"三楼25党员活动室活动室展区空调2\"},\"ESP8266_9934592\":{\"name\":\"三楼26党员活动室活动室展区空调3\"},\"ESP8266_469696\":{\"name\":\"三楼27党建会议室前方空调1\"},\"ESP8266_9926218\":{\"name\":\"三楼28党建会议室前方空调2\"},\"ESP8266_9955466\":{\"name\":\"三楼29党建会议室前方空调3\"},\"ESP8266_448179\":{\"name\":\"三楼30党建会议室前方空调4\"},\"ESP8266_9932108\":{\"name\":\"三楼31党建会议室前方空调5\"},\"ESP8266_10027740\":{\"name\":\"三楼32党建会议室前方空调6\"},\"ESP8266_9928853\":{\"name\":\"三楼33党建会议室前方空调7\"},\"ESP8266_433112\":{\"name\":\"三楼34党建会议室前方空调8\"},\"ESP8266_9932430\":{\"name\":\"三楼35党建会议室新风\"},\"ESP8266_9925572\":{\"name\":\"\"},\"ESP8266_10005258\":{\"name\":\"\"},\"ESP8266_524478\":{\"name\":\"\"},\"ESP8266_9959024\":{\"name\":\"\"},\"ESP8266_9924667\":{\"name\":\"\"},\"ESP8266_9931370\":{\"name\":\"\"},\"ESP8266_9923383\":{\"name\":\"\"},\"ESP8266_10006696\":{\"name\":\"\"},\"ESP8266_9944985\":{\"name\":\"\"},\"ESP8266_9941341\":{\"name\":\"\"},\"ESP8266_9936075\":{\"name\":\"\"},\"ESP8266_449971\":{\"name\":\"\"},\"ESP8266_9935390\":{\"name\":\"\"},\"ESP8266_10007032\":{\"name\":\"\"},\"ESP8266_3715647\":{\"name\":\"开发测试\"}}},\"CMDGATE_CL_JZX01\":{\"name\":\"长乐1号集装箱\",\"devices\":{\"c8f742e36fd2\":{\"name\":\"1号空调\"},\"24dfa7056ca9\":{\"name\":\"2号空调\"},\"ESP8266_2317612\":{\"name\":\"窗帘控制芯片\"},\"CL_JZX01_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_JZX01_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_JZX01_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_JZX01_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_JZX01_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_JZX01_curtain_06\":{\"name\":\"6号窗帘\"}}},\"CMDGATE_CL_JZX02\":{\"name\":\"长乐2号集装箱\",\"devices\":{}},\"CMDGATE_FZ_DEV1\":{\"name\":\"福州亚太二楼开发(有433射频)\",\"devices\":{\"DJ-YT-500-01\":{\"name\":\"1号舵机\"}}},\"CMDGATE_XA_KFDX01\":{\"name\":\"西安开放大学\",\"devices\":{\"780f7732d5f6\":{\"name\":\"1号空调\"},\"XA_KFDX01_curtain_01\":{\"name\":\"1号窗帘\"},\"XA_KFDX01_curtain_02\":{\"name\":\"2号窗帘\"},\"XA_KFDX01_curtain_03\":{\"name\":\"3号窗帘\"}}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "3b4727b1.907a78"
            ]
        ]
    },
    {
        "id": "7577ab7.99dc554",
        "type": "mqtt in",
        "z": "7f966f2b.565cf",
        "name": "终端上行",
        "topic": "cmdgate/central/cmd",
        "qos": "2",
        "datatype": "auto",
        "broker": "849cbceb.9873d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "721c33e2.eedd5c",
                "16d263fa.4e507c"
            ]
        ]
    },
    {
        "id": "55cc1676.e1e1e8",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 220,
        "wires": [
            [
                "50aa8a65.6a2c04"
            ]
        ]
    },
    {
        "id": "e63c8469.e2ed68",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT终端上行",
        "info": "",
        "x": 80,
        "y": 220,
        "wires": []
    },
    {
        "id": "50aa8a65.6a2c04",
        "type": "link out",
        "z": "7f966f2b.565cf",
        "name": "长乐VR体验馆",
        "links": [
            "82775b82.94d928"
        ],
        "x": 895,
        "y": 220,
        "wires": []
    },
    {
        "id": "c1235d37.633ea",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "name": "终端下行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "90a962bb.f07c4",
        "type": "link in",
        "z": "7f966f2b.565cf",
        "name": "终端下行",
        "links": [
            "c67e09e8.3b7178",
            "68c90e66.5e785",
            "a886891b.7850a8"
        ],
        "x": 335,
        "y": 360,
        "wires": [
            [
                "ef55a887.19d568"
            ]
        ]
    },
    {
        "id": "94b3038a.dd76c",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT终端下行",
        "info": "",
        "x": 80,
        "y": 360,
        "wires": []
    },
    {
        "id": "ef55a887.19d568",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "主题",
        "func": "msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 360,
        "wires": [
            [
                "c1235d37.633ea"
            ]
        ]
    },
    {
        "id": "8eb80638.5a9e08",
        "type": "mqtt in",
        "z": "7f966f2b.565cf",
        "name": "边缘下行",
        "topic": "business/cmdgate/CMDGATE_CL_VRTYG",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "4f7defdf.42831"
            ]
        ]
    },
    {
        "id": "b8a5477a.9e1d18",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT边缘下行",
        "info": "",
        "x": 80,
        "y": 560,
        "wires": []
    },
    {
        "id": "4f7defdf.42831",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "设备",
        "func": "if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n    let count = context.get(\"count\") \n    count = count ? count + 1 : 1;\n    context.set(\"count\", count) \n    node.status({fill:\"green\", shape:\"dot\", text: count});\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "a8683765.5e9b48",
                "d501f268.749f"
            ]
        ]
    },
    {
        "id": "a8683765.5e9b48",
        "type": "link out",
        "z": "7f966f2b.565cf",
        "name": "边缘下行",
        "links": [
            "bf6a789a.410a38",
            "9dc5d227.d0edb"
        ],
        "x": 595,
        "y": 560,
        "wires": []
    },
    {
        "id": "fb5e88f.b504c78",
        "type": "comment",
        "z": "7f966f2b.565cf",
        "name": "MQTT边缘上行",
        "info": "",
        "x": 80,
        "y": 420,
        "wires": []
    },
    {
        "id": "79e98182.a04d8",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "name": "边缘上行",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "e21357a9.a0d888",
        "type": "function",
        "z": "7f966f2b.565cf",
        "name": "主题",
        "func": "msg.topic = global.get(\"mqtt\").topic.business.pub.prefix + msg.payload.hd.gid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 420,
        "wires": [
            [
                "79e98182.a04d8"
            ]
        ]
    },
    {
        "id": "db90a60b.8feba8",
        "type": "link in",
        "z": "7f966f2b.565cf",
        "name": "边缘上行",
        "links": [
            "14963224.11111e"
        ],
        "x": 335,
        "y": 420,
        "wires": [
            [
                "e21357a9.a0d888"
            ]
        ]
    },
    {
        "id": "bf6a789a.410a38",
        "type": "link in",
        "z": "6e9ccff0.31174",
        "name": "边缘下行",
        "links": [
            "a8683765.5e9b48"
        ],
        "x": 235,
        "y": 420,
        "wires": [
            [
                "f733baa1.8bb358"
            ]
        ]
    },
    {
        "id": "ec525ded.95cd6",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "网关",
        "property": "payload.hd.gid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CMDGATE_CL_VRTYG",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "134d8ca2.44bad3"
            ]
        ]
    },
    {
        "id": "f733baa1.8bb358",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "网关",
        "property": "payload.hd.gid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CMDGATE_CL_VRTYG",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "97f05558.87bad8"
            ]
        ]
    },
    {
        "id": "134d8ca2.44bad3",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "指令",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "17b0765d.0dff2a",
                "14963224.11111e"
            ],
            [
                "e87d89ad.e4b458"
            ],
            [
                "60c2b2b4.9b128c"
            ],
            [],
            [
                "60c2b2b4.9b128c"
            ]
        ]
    },
    {
        "id": "e87d89ad.e4b458",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "空调解析",
        "func": "    msg.payload.pld = msg.payload.pld || {}\n    let pld = msg.payload.pld;\n    if(!pld) {\n        node.error(\"终端没有返回数据：\" + msg.payload.hd.did)\n        node.error(msg)\n        return;\n    }\n    let extra = pld.extra;\n    let Mode = {\"0\": \"cool\",\"1\": \"dry\",\"2\": \"auto\",\"3\": \"heat\",\"4\": \"fan_only\"};\n    let Fan = {\"0\": \"auto\",\"1\": \"high\",\"2\": \"medium\",\"4\":\"low\", \"5\": \"auto\"};\n\n    if (extra) {\n        extra = extra.toLowerCase();\n        extra = extra.replace(\"Mesg Desc.:\".toLowerCase(), \"\");\n        let items = extra.split(\",\");\n        items.forEach(item => {\n            let _item = item.split(\":\");\n            let key = _item[0].trim();\n            let value = _item[1].trim();\n            switch(key) {\n                case \"power\":\n                    pld.power = value;                    \n                    break;\n                case \"temp\":                    \n                    value = value.substr(0, value.length -1)                    \n                    pld.temperature = parseInt(value);\n                    break;\n                case \"mode\":\n                    pld.mode = Mode[value[0]];\n                    break;\n                case \"fan\":\n                    pld.fanSpeed = Fan[value[0]];                   \n                    break;\n                case \"zone follow\":\n                \n                    break;     \n                case \"sensor temp\":\n            \n                    break;                          \n                                  \n            }\n        })\n    }\n    \n    let count = context.get(\"count\") \n    count = count ? count + 1 : 1;\n    context.set(\"count\", count) \n    node.status({fill:\"green\", shape:\"dot\", text: count});\n\n\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 128,
        "wires": [
            [
                "14963224.11111e",
                "2c5f8070.781e4"
            ]
        ]
    },
    {
        "id": "14963224.11111e",
        "type": "link out",
        "z": "6e9ccff0.31174",
        "name": "边缘上行",
        "links": [
            "db90a60b.8feba8"
        ],
        "x": 915,
        "y": 80,
        "wires": []
    },
    {
        "id": "531590df.51c2f",
        "type": "comment",
        "z": "6e9ccff0.31174",
        "name": "终端上行",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "23eb6c55.bada24",
        "type": "comment",
        "z": "6e9ccff0.31174",
        "name": "边缘下行",
        "info": "",
        "x": 80,
        "y": 320,
        "wires": []
    },
    {
        "id": "97f05558.87bad8",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "指令",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "716d202d.38aff"
            ],
            [
                "716d202d.38aff"
            ],
            [
                "716d202d.38aff"
            ],
            [
                "716d202d.38aff"
            ]
        ]
    },
    {
        "id": "716d202d.38aff",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "空调",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 420,
        "wires": [
            [
                "68c90e66.5e785"
            ]
        ]
    },
    {
        "id": "68c90e66.5e785",
        "type": "link out",
        "z": "6e9ccff0.31174",
        "name": "终端下行",
        "links": [
            "90a962bb.f07c4"
        ],
        "x": 895,
        "y": 420,
        "wires": []
    },
    {
        "id": "61046675.c20dd8",
        "type": "switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mode",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fanSpeed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "swingVert",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "swingHor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "health",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lights",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "powerSave",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "d8c89bd2.2a04a8"
            ],
            [
                "1a544b94.0ee074"
            ],
            [
                "9b5f6baa.f4cea8"
            ],
            [
                "b331259c.875d98"
            ],
            [
                "6829b2cb.ea15fc"
            ],
            [
                "b94c722a.5224c"
            ],
            [
                "17740952.0f17d7"
            ],
            [
                "875ecf15.75b7b"
            ],
            [
                "96dfc05e.8fe29"
            ],
            [
                "7673e0f8.a6f0d"
            ]
        ]
    },
    {
        "id": "d8c89bd2.2a04a8",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "开关",
        "label": "Power",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "true",
        "topic": "power",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 100,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "96dfc05e.8fe29",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "灯光",
        "label": "Lights",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "lights",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 580,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "9b5f6baa.f4cea8",
        "type": "ui_numeric",
        "z": "75a3e362.0ad2cc",
        "name": "温度",
        "label": "Temperature",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "temperature",
        "topicType": "str",
        "format": "{{value}}",
        "min": "23",
        "max": "25",
        "step": 1,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "6829b2cb.ea15fc",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "垂直扫风",
        "label": "Vertical swing ",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Default",
                "value": "default",
                "type": "str"
            },
            {
                "label": "Swing in full range",
                "value": "full",
                "type": "str"
            },
            {
                "label": "Fixed top",
                "value": "fixedTop",
                "type": "str"
            },
            {
                "label": "Fixed mid-top",
                "value": "fixedMidTop",
                "type": "str"
            },
            {
                "label": "Fixed mid",
                "value": "fixedMid",
                "type": "str"
            },
            {
                "label": "Fixed mid-bottom",
                "value": "fixedMidBottom",
                "type": "str"
            },
            {
                "label": "Fixed bottom",
                "value": "fixedBottom",
                "type": "str"
            },
            {
                "label": "Swing bottom",
                "value": "swingBottom",
                "type": "str"
            },
            {
                "label": "Swing mid-bottom",
                "value": "swingMidBottom",
                "type": "str"
            },
            {
                "label": "Swing mid",
                "value": "swingMid",
                "type": "str"
            },
            {
                "label": "Swing mid top",
                "value": "swingMidTop",
                "type": "str"
            },
            {
                "label": "Swing top",
                "value": "swingTop",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "swingVert",
        "topicType": "str",
        "x": 820,
        "y": 340,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "c4602e6e.68bd2",
        "type": "rbe",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1090,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b94c722a.5224c",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "水平扫风",
        "label": "Horizontal swing ",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Default",
                "value": "default",
                "type": "str"
            },
            {
                "label": "Full",
                "value": "full",
                "type": "str"
            },
            {
                "label": "Fixed left",
                "value": "fixedLeft",
                "type": "str"
            },
            {
                "label": "Fixed mid-left",
                "value": "fixedMidLeft",
                "type": "str"
            },
            {
                "label": "Fixed mid",
                "value": "fixedMid",
                "type": "str"
            },
            {
                "label": "Fixed mid-right",
                "value": "fixedMidRight",
                "type": "str"
            },
            {
                "label": "Fixed right",
                "value": "fixedRight",
                "type": "str"
            },
            {
                "label": "Full alt",
                "value": "fullAlt",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "swingHor",
        "topicType": "str",
        "x": 820,
        "y": 400,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ],
        "info": "Controls the swing mode of the horizontal air blades (not available on all units)"
    },
    {
        "id": "b331259c.875d98",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "风速",
        "label": "Fan speed",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Low",
                "value": "low",
                "type": "str"
            },
            {
                "label": "Medium low",
                "value": "mediumLow",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Medium high",
                "value": "mediumHigh",
                "type": "str"
            },
            {
                "label": "High",
                "value": "high",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "fanSpeed",
        "topicType": "str",
        "x": 810,
        "y": 280,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "7673e0f8.a6f0d",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "省电",
        "label": "Power save",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "powerSave",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 640,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "a5b358c2.3e4ad8",
        "type": "split",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "61046675.c20dd8"
            ]
        ]
    },
    {
        "id": "1a544b94.0ee074",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "模式",
        "label": "Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Cool",
                "value": "cool",
                "type": "str"
            },
            {
                "label": "Dry",
                "value": "dry",
                "type": "str"
            },
            {
                "label": "Fan only",
                "value": "fan_only",
                "type": "str"
            },
            {
                "label": "Heat",
                "value": "heat",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode",
        "topicType": "str",
        "x": 810,
        "y": 160,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "17740952.0f17d7",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "等离子(健康)",
        "label": "Cold plasma",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "health",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 830,
        "y": 460,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "875ecf15.75b7b",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "通风",
        "label": "X-Fan",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "blow",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 520,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "6e9291c.b1e257",
        "type": "link in",
        "z": "75a3e362.0ad2cc",
        "name": "空调看板",
        "links": [
            "de0481fa.fcbbb",
            "2c5f8070.781e4"
        ],
        "x": 175,
        "y": 340,
        "wires": [
            [
                "6187900f.e76d9"
            ]
        ]
    },
    {
        "id": "6187900f.e76d9",
        "type": "switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "property": "payload.hd.did",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ESP8266_469696",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "732e0597.9c747c",
                "92f6ab5c.d76f88"
            ]
        ]
    },
    {
        "id": "732e0597.9c747c",
        "type": "function",
        "z": "75a3e362.0ad2cc",
        "name": "空调名称",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.gateway.name + device.name;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\nlet _msg = {\n    payload: msg.payload.pld\n}\nreturn _msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "a5b358c2.3e4ad8"
            ]
        ]
    },
    {
        "id": "721c33e2.eedd5c",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "744571a3.d875e",
        "type": "change",
        "z": "6e9ccff0.31174",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "ESP8266_491535",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 760,
        "wires": [
            [
                "e7336bec.ebd3b8"
            ]
        ]
    },
    {
        "id": "2c5f8070.781e4",
        "type": "link out",
        "z": "6e9ccff0.31174",
        "name": "空调看板",
        "links": [
            "6e9291c.b1e257",
            "7945fee2.25132"
        ],
        "x": 915,
        "y": 180,
        "wires": []
    },
    {
        "id": "c712e54a.e9b9c8",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "93a4005a.0c7b9"
            ]
        ]
    },
    {
        "id": "7866b57a.7a4f1c",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "c712e54a.e9b9c8"
            ]
        ]
    },
    {
        "id": "93a4005a.0c7b9",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/1.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "b6d56cba.78834",
        "type": "debug",
        "z": "f57dd416.5de4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "cdb1add1.b3f59",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 86,
        "wires": [
            [
                "f2556c.0969da98"
            ]
        ]
    },
    {
        "id": "78c68c07.cc1b44",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 86,
        "wires": [
            [
                "cdb1add1.b3f59"
            ]
        ]
    },
    {
        "id": "f2556c.0969da98",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/2.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 86,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "2f4becaf.cec7c4",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 135,
        "wires": [
            [
                "79cd3a0a.086454"
            ]
        ]
    },
    {
        "id": "5247f0fc.aa75e",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 135,
        "wires": [
            [
                "2f4becaf.cec7c4"
            ]
        ]
    },
    {
        "id": "79cd3a0a.086454",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/3.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 135,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "206fb418.aa66bc",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 184,
        "wires": [
            [
                "d336ed20.6b26a"
            ]
        ]
    },
    {
        "id": "63465676.66a308",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 184,
        "wires": [
            [
                "206fb418.aa66bc"
            ]
        ]
    },
    {
        "id": "d336ed20.6b26a",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/4.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 184,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "d9c1f2d3.88612",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 233,
        "wires": [
            [
                "2fb387f2.8521a8"
            ]
        ]
    },
    {
        "id": "ea87409.b034ec",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 233,
        "wires": [
            [
                "d9c1f2d3.88612"
            ]
        ]
    },
    {
        "id": "2fb387f2.8521a8",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/5.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 233,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "16f44870.c861d8",
        "type": "gpio-rf-collect",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": 13,
        "maxCount": 1048576,
        "milliTimeout": 5000,
        "x": 290,
        "y": 282,
        "wires": [
            [
                "744ef100.8cde9"
            ]
        ]
    },
    {
        "id": "e2ba55b8.1852b8",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 282,
        "wires": [
            [
                "16f44870.c861d8"
            ]
        ]
    },
    {
        "id": "744ef100.8cde9",
        "type": "file",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/6.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 282,
        "wires": [
            [
                "6af3e721.7f1308"
            ]
        ]
    },
    {
        "id": "594b55a0.26293c",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "fd49e883.56c3b8"
            ]
        ]
    },
    {
        "id": "4b9536cd.d57448",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "2",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "93d7f8b7.523248"
            ]
        ]
    },
    {
        "id": "dc95799c.b991e8",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "3",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "79598c30.15fd54"
            ]
        ]
    },
    {
        "id": "15674505.b91c7b",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "4",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "e687ae18.2cd8"
            ]
        ]
    },
    {
        "id": "890ec155.cbc12",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "5",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "fb4364c9.3ecee8"
            ]
        ]
    },
    {
        "id": "35ed717c.3949ce",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "6",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "9ce60d02.a8ac"
            ]
        ]
    },
    {
        "id": "fd49e883.56c3b8",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/1.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "93d7f8b7.523248",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/2.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "79598c30.15fd54",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/3.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "e687ae18.2cd8",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/4.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "fb4364c9.3ecee8",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/5.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "9ce60d02.a8ac",
        "type": "file in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "filename": "/data/temp/6.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "66609404.253bdc"
            ]
        ]
    },
    {
        "id": "66609404.253bdc",
        "type": "gpio-rf-sniffer",
        "z": "f57dd416.5de4f8",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "690218cb.b9d958",
                "c556118d.8a88f"
            ]
        ]
    },
    {
        "id": "6af3e721.7f1308",
        "type": "gpio-rf-sniffer",
        "z": "f57dd416.5de4f8",
        "name": "",
        "strMicros": "",
        "minMicrotime": 150,
        "minCount": 50,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "b6d56cba.78834"
            ]
        ]
    },
    {
        "id": "690218cb.b9d958",
        "type": "function",
        "z": "f57dd416.5de4f8",
        "name": "",
        "func": "let idx = 0;\nlet payload = msg.payload;\nlet count = Object.keys(payload).length;\n\nlet send = function(payload, idx, count) {\n    if (idx < count) {\n        node.send({\n            payload: payload[idx].micros\n        })\n    \n\n        idx++;\n        if (idx < count) {\n            setTimeout(() => {\n                send(payload, idx, count)\n            }, 3000)\n        }\n    }\n}\n\nsend(payload, idx, count)\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "c556118d.8a88f",
        "type": "debug",
        "z": "f57dd416.5de4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "a7500816.615e88",
        "type": "gpio-rf-sender",
        "z": "f57dd416.5de4f8",
        "name": "",
        "pin": "13",
        "strMicros": "",
        "count": "1",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "be8f51ea.5a72e",
                "8b856881.e74418"
            ]
        ]
    },
    {
        "id": "ecd3fd1d.bed75",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "be8f51ea.5a72e",
        "type": "debug",
        "z": "f57dd416.5de4f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "55d1ad2e.0fcaa4",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "4a41f344.2fd78c",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "10cb001f.a5d85",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "7215e451.cc5eac",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "c6c7cd48.6b691",
        "type": "inject",
        "z": "f57dd416.5de4f8",
        "name": "6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "8b856881.e74418",
        "type": "function",
        "z": "f57dd416.5de4f8",
        "name": "",
        "func": "let lowStr = \"0,1\"\nnode.error(msg.payload != lowStr)\nif (msg.payload != lowStr )\n    return {payload: lowStr}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 720,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "9dc5d227.d0edb",
        "type": "link in",
        "z": "b67ee71.21ee718",
        "name": "边缘下行",
        "links": [
            "a8683765.5e9b48"
        ],
        "x": 255,
        "y": 300,
        "wires": [
            [
                "3e148bd2.77a104"
            ]
        ]
    },
    {
        "id": "3e148bd2.77a104",
        "type": "switch",
        "z": "b67ee71.21ee718",
        "name": "网关",
        "property": "payload.hd.gid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CMDGATE_FZ_DEV1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "21b9416e.2a04ce"
            ]
        ]
    },
    {
        "id": "a9085e16.09a3a",
        "type": "comment",
        "z": "b67ee71.21ee718",
        "name": "边缘下行",
        "info": "",
        "x": 100,
        "y": 200,
        "wires": []
    },
    {
        "id": "21b9416e.2a04ce",
        "type": "switch",
        "z": "b67ee71.21ee718",
        "name": "指令",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "89b6f002.859f6"
            ]
        ]
    },
    {
        "id": "89b6f002.859f6",
        "type": "function",
        "z": "b67ee71.21ee718",
        "name": "433射频",
        "func": "\nreturn {\n    payload: msg.pld.ray,\n    count: msg.pld.count\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 300,
        "wires": [
            [
                "4586dddb.ccea44"
            ]
        ]
    },
    {
        "id": "4586dddb.ccea44",
        "type": "link out",
        "z": "b67ee71.21ee718",
        "name": "终端下行",
        "links": [
            "52f2f0db.4e06b"
        ],
        "x": 915,
        "y": 300,
        "wires": []
    },
    {
        "id": "52f2f0db.4e06b",
        "type": "link in",
        "z": "f57dd416.5de4f8",
        "name": "",
        "links": [
            "4586dddb.ccea44"
        ],
        "x": 155,
        "y": 880,
        "wires": [
            [
                "a7500816.615e88"
            ]
        ]
    },
    {
        "id": "4c0a373d.4c71f8",
        "type": "inject",
        "z": "3d341b1e.496694",
        "name": "获取版本",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"hd\":{\"cmd\":5}}",
        "payloadType": "json",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "62141ea6.82a76"
            ]
        ]
    },
    {
        "id": "a886891b.7850a8",
        "type": "link out",
        "z": "3d341b1e.496694",
        "name": "",
        "links": [
            "90a962bb.f07c4"
        ],
        "x": 795,
        "y": 300,
        "wires": []
    },
    {
        "id": "27195880.50c6b8",
        "type": "inject",
        "z": "3d341b1e.496694",
        "name": "重启",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"hd\":{\"cmd\":7}}",
        "payloadType": "json",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "62141ea6.82a76"
            ]
        ]
    },
    {
        "id": "16d263fa.4e507c",
        "type": "json",
        "z": "7f966f2b.565cf",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "55cc1676.e1e1e8",
                "721c33e2.eedd5c"
            ]
        ]
    },
    {
        "id": "62141ea6.82a76",
        "type": "change",
        "z": "3d341b1e.496694",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "ESP8266_9955466",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "a886891b.7850a8"
            ]
        ]
    },
    {
        "id": "92f6ab5c.d76f88",
        "type": "function",
        "z": "75a3e362.0ad2cc",
        "d": true,
        "name": "",
        "func": "\nvar tmp = global.get(msg.payload.hd.did);\nif (tmp) {\n    tmp.payload = msg.payload\n    tmp.timestamp.resp = (new Date()).valueOf();\n    tmp.timestamp.delta = tmp.timestamp.resp - tmp.timestamp.req\n    node.error(tmp);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d501f268.749f",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "da74981.eb92968",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "",
        "func": "let devices = global.get(\"devices\")[\"CMDGATE_CL_VRTYG\"].devices;\nObject.keys(devices).forEach(key=> {\n    let _msg = {payload:{hd:{did:key, cmd:3}}} \n    node.send(_msg)\n    \n})\n     \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 760,
        "wires": [
            [
                "97f05558.87bad8"
            ]
        ]
    },
    {
        "id": "61da202e.4c51e",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "查询全部空调",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 730,
        "y": 760,
        "wires": [
            [
                "da74981.eb92968"
            ]
        ]
    },
    {
        "id": "dcfc724.39a2c9",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "二楼空调",
        "property": "payload.hd.did",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ESP8266_9926564",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9928598",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9933676",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9926755",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_488969",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9931870",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9956709",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_430864",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_486720",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_469370",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9922593",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_491535",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9938106",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9932037",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_465345",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9945247",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_450977",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9954003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_448616",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_10009326",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9926288",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_431099",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9930630",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_502328",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_525449",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9928778",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9930144",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_523355",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_524983",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_10004904",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9921707",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_433213",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9920978",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_464648",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9924660",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9957889",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9930089",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_448481",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_427331",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9934513",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9925594",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 41,
        "x": 260,
        "y": 1480,
        "wires": [
            [
                "2e007929.be65b6"
            ],
            [
                "61baf31e.e5951c"
            ],
            [
                "63901f95.2f925"
            ],
            [
                "6c55d35f.5aba7c"
            ],
            [
                "8a86f3e6.2404"
            ],
            [
                "796c95fe.4147dc"
            ],
            [
                "5c6c35b5.eaf57c"
            ],
            [
                "95262960.b81148"
            ],
            [
                "ffa353eb.7723c"
            ],
            [
                "68ff8344.02f69c"
            ],
            [
                "a847d29d.d59ee"
            ],
            [
                "404ce874.5fa0e8"
            ],
            [
                "a1dfe894.076ce8"
            ],
            [
                "d1c4f0e9.6a6b3"
            ],
            [
                "1521ddea.5039f2"
            ],
            [
                "3ea29630.bf5e4a"
            ],
            [
                "ba197d71.d550d"
            ],
            [
                "cdbfb892.3a63b8"
            ],
            [
                "3c7c5f11.c7e3c"
            ],
            [
                "c5f06d64.e7365"
            ],
            [
                "8dc8d08f.39b4a"
            ],
            [
                "8f8cb66c.ac5d48"
            ],
            [
                "2cc8425d.eb832e"
            ],
            [
                "3459cf0f.983ce"
            ],
            [
                "1e30db7b.cacce5"
            ],
            [
                "4f6cfba8.4d0694"
            ],
            [
                "64c4f153.0fb2"
            ],
            [
                "e2c30d92.f3624"
            ],
            [
                "82925761.531c18"
            ],
            [
                "32a0496a.1d4cd6"
            ],
            [
                "56bc7adf.9da3a4"
            ],
            [
                "662b30bc.32e62"
            ],
            [
                "3235e257.6576be"
            ],
            [
                "60d00c6.0346ff4"
            ],
            [
                "4fc24270.e80dbc"
            ],
            [
                "988e8759.d47118"
            ],
            [
                "d7826089.5bb88"
            ],
            [
                "e4543070.a1c7a"
            ],
            [
                "9dccd55c.976c08"
            ],
            [
                "b95332b.22626d"
            ],
            [
                "f738e31d.493cd"
            ]
        ]
    },
    {
        "id": "7945fee2.25132",
        "type": "link in",
        "z": "6e9ccff0.31174",
        "name": "空调看板",
        "links": [
            "de0481fa.fcbbb",
            "2c5f8070.781e4"
        ],
        "x": 75,
        "y": 2060,
        "wires": [
            [
                "dcfc724.39a2c9",
                "c60624f8.a13858",
                "c94e5f45.92498"
            ]
        ]
    },
    {
        "id": "6c55d35f.5aba7c",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-4",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "2e007929.be65b6",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-1",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1052,
        "wires": [
            []
        ]
    },
    {
        "id": "61baf31e.e5951c",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-2",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1102,
        "wires": [
            []
        ]
    },
    {
        "id": "63901f95.2f925",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-3",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1152,
        "wires": [
            []
        ]
    },
    {
        "id": "8a86f3e6.2404",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-5",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1249,
        "wires": [
            []
        ]
    },
    {
        "id": "ffa353eb.7723c",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-9",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1444,
        "wires": [
            []
        ]
    },
    {
        "id": "796c95fe.4147dc",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-6",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1296,
        "wires": [
            []
        ]
    },
    {
        "id": "5c6c35b5.eaf57c",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-7",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1346,
        "wires": [
            []
        ]
    },
    {
        "id": "95262960.b81148",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-8",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1396,
        "wires": [
            []
        ]
    },
    {
        "id": "68ff8344.02f69c",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-10",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1493,
        "wires": [
            []
        ]
    },
    {
        "id": "4fc24270.e80dbc",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-35",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "56bc7adf.9da3a4",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-31",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "3235e257.6576be",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-33",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1642,
        "wires": [
            []
        ]
    },
    {
        "id": "60d00c6.0346ff4",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-34",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1692,
        "wires": [
            []
        ]
    },
    {
        "id": "988e8759.d47118",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-36",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1789,
        "wires": [
            []
        ]
    },
    {
        "id": "b95332b.22626d",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-40",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1984,
        "wires": [
            []
        ]
    },
    {
        "id": "d7826089.5bb88",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-37",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1836,
        "wires": [
            []
        ]
    },
    {
        "id": "e4543070.a1c7a",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-38",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1886,
        "wires": [
            []
        ]
    },
    {
        "id": "9dccd55c.976c08",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-39",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1936,
        "wires": [
            []
        ]
    },
    {
        "id": "f738e31d.493cd",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-41",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2033,
        "wires": [
            []
        ]
    },
    {
        "id": "d1c4f0e9.6a6b3",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-14",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "a847d29d.d59ee",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-11",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1552,
        "wires": [
            []
        ]
    },
    {
        "id": "404ce874.5fa0e8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-12",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1602,
        "wires": [
            []
        ]
    },
    {
        "id": "a1dfe894.076ce8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-13",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1652,
        "wires": [
            []
        ]
    },
    {
        "id": "1521ddea.5039f2",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-15",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1749,
        "wires": [
            []
        ]
    },
    {
        "id": "3c7c5f11.c7e3c",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-19",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1944,
        "wires": [
            []
        ]
    },
    {
        "id": "3ea29630.bf5e4a",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-16",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1796,
        "wires": [
            []
        ]
    },
    {
        "id": "ba197d71.d550d",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-17",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1846,
        "wires": [
            []
        ]
    },
    {
        "id": "cdbfb892.3a63b8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-18",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1896,
        "wires": [
            []
        ]
    },
    {
        "id": "c5f06d64.e7365",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-20",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1993,
        "wires": [
            []
        ]
    },
    {
        "id": "3459cf0f.983ce",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-24",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "8dc8d08f.39b4a",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-21",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1052,
        "wires": [
            []
        ]
    },
    {
        "id": "8f8cb66c.ac5d48",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-22",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1102,
        "wires": [
            []
        ]
    },
    {
        "id": "2cc8425d.eb832e",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-23",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1152,
        "wires": [
            []
        ]
    },
    {
        "id": "1e30db7b.cacce5",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-25",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1249,
        "wires": [
            []
        ]
    },
    {
        "id": "82925761.531c18",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-29",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1444,
        "wires": [
            []
        ]
    },
    {
        "id": "4f6cfba8.4d0694",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-26",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1296,
        "wires": [
            []
        ]
    },
    {
        "id": "64c4f153.0fb2",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-27",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1346,
        "wires": [
            []
        ]
    },
    {
        "id": "e2c30d92.f3624",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-28",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1396,
        "wires": [
            []
        ]
    },
    {
        "id": "32a0496a.1d4cd6",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-30",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1493,
        "wires": [
            []
        ]
    },
    {
        "id": "662b30bc.32e62",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "2-32",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1590,
        "wires": [
            []
        ]
    },
    {
        "id": "c60624f8.a13858",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "三楼空调",
        "property": "payload.hd.did",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ESP8266_9937795",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_10006724",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_442480",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_519369",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_448586",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9930798",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_521738",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_432044",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_526058",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9926764",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_427863",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9926765",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9958380",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_474651",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_432426",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_447884",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_522277",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_525584",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_10029119",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9944959",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_10047940",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9927599",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_440864",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9920788",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_500512",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9934592",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_469696",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9926218",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9955466",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_448179",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9932108",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_10027740",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9928853",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_433112",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9932430",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 35,
        "x": 260,
        "y": 2640,
        "wires": [
            [
                "32050e5e.bedb12"
            ],
            [
                "4ab51d45.4bb204"
            ],
            [
                "bd291b8b.754098"
            ],
            [
                "dafb54fe.5d3158"
            ],
            [
                "a44f92a8.038f8"
            ],
            [
                "c430abf0.f41bd8"
            ],
            [
                "a10d41fa.9c7d2"
            ],
            [
                "1b5f7cfd.a9e903"
            ],
            [
                "98230102.f2e66"
            ],
            [
                "fae72481.6fa228"
            ],
            [
                "4159b37f.37769c"
            ],
            [
                "6505725f.a286ac"
            ],
            [
                "5d44d6f2.d2c6e8"
            ],
            [
                "bdf2261.3f370d8"
            ],
            [
                "b64fc71c.66af38"
            ],
            [
                "e6adfe3.4c353"
            ],
            [
                "2396d6ca.c4a4da"
            ],
            [
                "ef91ff84.ec2eb"
            ],
            [
                "49083744.bd9dc8"
            ],
            [
                "e291105d.4a2d4"
            ],
            [
                "21a431a9.62278e"
            ],
            [
                "61e7ec.4d6a1814"
            ],
            [
                "d91ed1f1.dd0fd"
            ],
            [
                "245f6c53.9aaaf4"
            ],
            [
                "453b5539.42e3fc"
            ],
            [
                "3c3ab7fa.79d688"
            ],
            [
                "df15f2ce.0c12"
            ],
            [
                "a84ab497.22b548"
            ],
            [
                "85da8a34.78a768"
            ],
            [
                "fdd30f15.1b128"
            ],
            [
                "d69832bc.d39a9"
            ],
            [
                "75a2de41.00fb8"
            ],
            [
                "ff28aab7.35d9d8"
            ],
            [
                "66de7a9f.770e64"
            ],
            [
                "722a4b27.b29d24"
            ]
        ]
    },
    {
        "id": "dafb54fe.5d3158",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-4",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "32050e5e.bedb12",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-1",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2212,
        "wires": [
            []
        ]
    },
    {
        "id": "4ab51d45.4bb204",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-2",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2262,
        "wires": [
            []
        ]
    },
    {
        "id": "bd291b8b.754098",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-3",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2312,
        "wires": [
            []
        ]
    },
    {
        "id": "a44f92a8.038f8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-5",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2409,
        "wires": [
            []
        ]
    },
    {
        "id": "98230102.f2e66",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-9",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2604,
        "wires": [
            []
        ]
    },
    {
        "id": "c430abf0.f41bd8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-6",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2456,
        "wires": [
            []
        ]
    },
    {
        "id": "a10d41fa.9c7d2",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-7",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2506,
        "wires": [
            []
        ]
    },
    {
        "id": "1b5f7cfd.a9e903",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-8",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2556,
        "wires": [
            []
        ]
    },
    {
        "id": "fae72481.6fa228",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-10",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2653,
        "wires": [
            []
        ]
    },
    {
        "id": "722a4b27.b29d24",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-35",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "d69832bc.d39a9",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-31",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2700,
        "wires": [
            []
        ]
    },
    {
        "id": "ff28aab7.35d9d8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-33",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2802,
        "wires": [
            []
        ]
    },
    {
        "id": "66de7a9f.770e64",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-34",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2852,
        "wires": [
            []
        ]
    },
    {
        "id": "bdf2261.3f370d8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-14",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2860,
        "wires": [
            []
        ]
    },
    {
        "id": "4159b37f.37769c",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-11",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2712,
        "wires": [
            []
        ]
    },
    {
        "id": "6505725f.a286ac",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-12",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2762,
        "wires": [
            []
        ]
    },
    {
        "id": "5d44d6f2.d2c6e8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-13",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2812,
        "wires": [
            []
        ]
    },
    {
        "id": "b64fc71c.66af38",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-15",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2909,
        "wires": [
            []
        ]
    },
    {
        "id": "49083744.bd9dc8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-19",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 3104,
        "wires": [
            []
        ]
    },
    {
        "id": "e6adfe3.4c353",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-16",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2956,
        "wires": [
            []
        ]
    },
    {
        "id": "2396d6ca.c4a4da",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-17",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 3006,
        "wires": [
            []
        ]
    },
    {
        "id": "ef91ff84.ec2eb",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-18",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 3056,
        "wires": [
            []
        ]
    },
    {
        "id": "e291105d.4a2d4",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-20",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 3153,
        "wires": [
            []
        ]
    },
    {
        "id": "245f6c53.9aaaf4",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-24",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "21a431a9.62278e",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-21",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2212,
        "wires": [
            []
        ]
    },
    {
        "id": "61e7ec.4d6a1814",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-22",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2262,
        "wires": [
            []
        ]
    },
    {
        "id": "d91ed1f1.dd0fd",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-23",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2312,
        "wires": [
            []
        ]
    },
    {
        "id": "453b5539.42e3fc",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-25",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2409,
        "wires": [
            []
        ]
    },
    {
        "id": "85da8a34.78a768",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-29",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2604,
        "wires": [
            []
        ]
    },
    {
        "id": "3c3ab7fa.79d688",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-26",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2456,
        "wires": [
            []
        ]
    },
    {
        "id": "df15f2ce.0c12",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-27",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2506,
        "wires": [
            []
        ]
    },
    {
        "id": "a84ab497.22b548",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-28",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2556,
        "wires": [
            []
        ]
    },
    {
        "id": "fdd30f15.1b128",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-30",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2653,
        "wires": [
            []
        ]
    },
    {
        "id": "75a2de41.00fb8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "3-32",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 2750,
        "wires": [
            []
        ]
    },
    {
        "id": "7372db56.9c5254",
        "type": "ui_text",
        "z": "75a3e362.0ad2cc",
        "group": "5c569ec8.d608f",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 300,
        "y": 680,
        "wires": []
    },
    {
        "id": "58e139c0.fdfa68",
        "type": "function",
        "z": "3d341b1e.496694",
        "name": "",
        "func": "let devices = global.get(\"devices\")[\"CMDGATE_CL_VRTYG\"].devices;\nObject.keys(devices).forEach(key=> {\n    let _msg = {payload:{hd:{did:key, cmd:7}}} \n    node.send(_msg)\n    \n})\n     \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f19fb97d.88cbb8",
        "type": "inject",
        "z": "3d341b1e.496694",
        "name": "重启全部空调",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 330,
        "y": 640,
        "wires": [
            [
                "58e139c0.fdfa68"
            ]
        ]
    },
    {
        "id": "e54ce5f3.713168",
        "type": "function",
        "z": "3d341b1e.496694",
        "name": "",
        "func": "let devices = global.get(\"devices\")[\"CMDGATE_CL_VRTYG\"].devices;\nObject.keys(devices).forEach(key=> {\n    let _msg = {\n        payload:{\n            hd:{\n                did:key, \n                cmd:3\n            },\n            pld:{\n                power: \"off\",\n                temperature: 26,\n                mode: \"cool\",\n                fanSpeed: \"medium\"\n            }\n        }} \n    node.send(_msg)\n    \n})\n     \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "4b63f0a.e0cba1",
        "type": "inject",
        "z": "3d341b1e.496694",
        "name": "重新26/cool/空调",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 340,
        "y": 740,
        "wires": [
            [
                "e54ce5f3.713168"
            ]
        ]
    },
    {
        "id": "79139f44.9a913",
        "type": "comment",
        "z": "6e9ccff0.31174",
        "name": "空调状态",
        "info": "",
        "x": 80,
        "y": 1100,
        "wires": []
    },
    {
        "id": "60c2b2b4.9b128c",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "版本号",
        "func": "msg.payload.pld = msg.payload.pld || {};\nlet pld = msg.payload.pld;\n\nswitch(msg.payload.hd.cmd) {\n    case 5:\n        pld.power = pld.version;\n        break;\n    case 7:\n        pld.power = \"重启中\";\n        break;\n}\n\npld.mode = \"\"; \npld.temperature = \"\";\npld.fanSpeed = \"\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 208,
        "wires": [
            [
                "2c5f8070.781e4"
            ]
        ]
    },
    {
        "id": "ab6933ea.8d221",
        "type": "inject",
        "z": "6e9ccff0.31174",
        "name": "查询全部版本",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 730,
        "y": 840,
        "wires": [
            [
                "50098cc.a3aa174"
            ]
        ]
    },
    {
        "id": "50098cc.a3aa174",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "",
        "func": "let devices = global.get(\"devices\")[\"CMDGATE_CL_VRTYG\"].devices;\nObject.keys(devices).forEach(key=> {\n    let _msg = {payload:{hd:{did:key, cmd:5}}} \n    node.send(_msg)\n    \n})\n     \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 840,
        "wires": [
            [
                "97f05558.87bad8"
            ]
        ]
    },
    {
        "id": "c94e5f45.92498",
        "type": "switch",
        "z": "6e9ccff0.31174",
        "name": "开发测试",
        "property": "payload.hd.did",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ESP8266_9959024",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_10006696",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_10007032",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9935390",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_449971",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9936075",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_9941341",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ESP8266_3715647",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 280,
        "y": 3400,
        "wires": [
            [
                "ced3be96.d3d44"
            ],
            [
                "ca993f2c.50603"
            ],
            [
                "d43ca7a1.180b68"
            ],
            [
                "af626163.e08ab"
            ],
            [
                "74d1b41f.a9ccfc"
            ],
            [
                "216459f6.8e5e36"
            ],
            [
                "5d176c11.e83ee4"
            ],
            [
                "aba1bf32.b591"
            ]
        ]
    },
    {
        "id": "ced3be96.d3d44",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "ESP8266_9959024",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 3280,
        "wires": [
            []
        ]
    },
    {
        "id": "ca993f2c.50603",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "ESP8266_10006696",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 3329,
        "wires": [
            []
        ]
    },
    {
        "id": "d43ca7a1.180b68",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "ESP8266_10007032",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 3376,
        "wires": [
            []
        ]
    },
    {
        "id": "af626163.e08ab",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "ESP8266_9935390",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 3426,
        "wires": [
            []
        ]
    },
    {
        "id": "74d1b41f.a9ccfc",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "ESP8266_449971",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 3476,
        "wires": [
            []
        ]
    },
    {
        "id": "216459f6.8e5e36",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "ESP8266_9936075",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 3524,
        "wires": [
            []
        ]
    },
    {
        "id": "5d176c11.e83ee4",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "ESP8266_9941341",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 3573,
        "wires": [
            []
        ]
    },
    {
        "id": "aba1bf32.b591",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "ESP8266_3715647",
        "func": "let device = global.get(\"devices\")[msg.payload.hd.did];\nlet text = device.name+\": \"+\n           msg.payload.pld.power+\"/\"+ \n           msg.payload.pld.mode+\"/\"+ \n           msg.payload.pld.temperature+\"/\"+\n           msg.payload.pld.fanSpeed;\nnode.status({fill:\"green\", shape:\"dot\", text: text});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 3620,
        "wires": [
            []
        ]
    },
    {
        "id": "e7336bec.ebd3b8",
        "type": "function",
        "z": "6e9ccff0.31174",
        "name": "",
        "func": "let devices = [\n    \"ESP8266_488969\",\n    \"ESP8266_9931870\",\n    \"ESP8266_9956709\",\n    \"ESP8266_430864\"\n    ];\n\nif (devices.length > 0) {\n    devices.forEach(key=> {\n        msg.payload.hd.did = key; \n        node.send(msg)\n    })\n} else {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 620,
        "wires": [
            [
                "97f05558.87bad8"
            ]
        ]
    },
    {
        "id": "17b0765d.0dff2a",
        "type": "debug",
        "z": "6e9ccff0.31174",
        "name": "心跳",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 68,
        "wires": []
    }
]