data/flows/CMDGATE_XA_KFDX01.json
[
    {
        "id": "7f966f2b.565cf",
        "type": "tab",
        "label": "西安电大全局配置",
        "disabled": false,
        "info": ""
    },
    {
        "id": "95689f3b.069d6",
        "type": "tab",
        "label": "业务网关输入",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f4f785d.e83d58",
        "type": "tab",
        "label": "业务网关输出",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8791c141.730b5",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "75a3e362.0ad2cc",
        "type": "tab",
        "label": "空调No1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8336091.44a54f8",
        "type": "tab",
        "label": "窗帘",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c569ec8.d608f",
        "type": "ui_group",
        "name": "AC",
        "tab": "168c092a.469d97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "168c092a.469d97",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83343b26.8b5988",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5f3bc18d.7141c",
        "type": "gree-hvac-config",
        "name": "GreeFront",
        "host": "192.168.0.255"
    },
    {
        "id": "849cbceb.9873d",
        "type": "mqtt-broker",
        "name": "mqtt.local",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "834b23cd.9a174",
        "type": "gree-hvac-config",
        "name": "GreeBack",
        "host": "192.168.1.189"
    },
    {
        "id": "480b54ad.8c4e1c",
        "type": "mqtt-broker",
        "name": "mqtt.business",
        "broker": "43.231.150.88",
        "port": "1780",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "eebe3703.5721a8",
        "type": "mqtt in",
        "z": "8791c141.730b5",
        "name": "local.in",
        "topic": "cmdgateway/device/group",
        "qos": "0",
        "datatype": "auto",
        "broker": "849cbceb.9873d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 650,
        "y": 580,
        "wires": [
            [
                "b4f87a97.a11ca8"
            ]
        ]
    },
    {
        "id": "d94ebbb8.475638",
        "type": "mqtt out",
        "z": "8791c141.730b5",
        "name": "local.out",
        "topic": "cmdgateway/device/group",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "849cbceb.9873d",
        "x": 420,
        "y": 580,
        "wires": []
    },
    {
        "id": "e092cf0a.1bd85",
        "type": "inject",
        "z": "8791c141.730b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"item\":\"111\",\"item-2\":\"2222\"}",
        "payloadType": "json",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "d94ebbb8.475638"
            ]
        ]
    },
    {
        "id": "b4f87a97.a11ca8",
        "type": "debug",
        "z": "8791c141.730b5",
        "name": "mqtt.in.local",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "b584174.814dfe8",
        "type": "debug",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "50cd83fb.98b19c",
        "type": "gree-hvac",
        "z": "75a3e362.0ad2cc",
        "name": "AC",
        "device": "5f3bc18d.7141c",
        "interval": "3",
        "debug": true,
        "x": 410,
        "y": 560,
        "wires": [
            [
                "b584174.814dfe8"
            ],
            [
                "a5b358c2.3e4ad8",
                "b584174.814dfe8",
                "a30580c5.47783"
            ]
        ]
    },
    {
        "id": "61046675.c20dd8",
        "type": "switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mode",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fanSpeed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "swingVert",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "swingHor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "health",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lights",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "powerSave",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "d8c89bd2.2a04a8"
            ],
            [
                "1a544b94.0ee074"
            ],
            [
                "9b5f6baa.f4cea8"
            ],
            [
                "b331259c.875d98"
            ],
            [
                "6829b2cb.ea15fc"
            ],
            [
                "b94c722a.5224c"
            ],
            [
                "17740952.0f17d7"
            ],
            [
                "875ecf15.75b7b"
            ],
            [
                "96dfc05e.8fe29"
            ],
            [
                "7673e0f8.a6f0d"
            ]
        ]
    },
    {
        "id": "d8c89bd2.2a04a8",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "true",
        "topic": "power",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 100,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "96dfc05e.8fe29",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Lights",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "lights",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 810,
        "y": 580,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "9b5f6baa.f4cea8",
        "type": "ui_numeric",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "temperature",
        "topicType": "str",
        "format": "{{value}}",
        "min": "23",
        "max": "25",
        "step": 1,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "6829b2cb.ea15fc",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Vertical swing ",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Default",
                "value": "default",
                "type": "str"
            },
            {
                "label": "Swing in full range",
                "value": "full",
                "type": "str"
            },
            {
                "label": "Fixed top",
                "value": "fixedTop",
                "type": "str"
            },
            {
                "label": "Fixed mid-top",
                "value": "fixedMidTop",
                "type": "str"
            },
            {
                "label": "Fixed mid",
                "value": "fixedMid",
                "type": "str"
            },
            {
                "label": "Fixed mid-bottom",
                "value": "fixedMidBottom",
                "type": "str"
            },
            {
                "label": "Fixed bottom",
                "value": "fixedBottom",
                "type": "str"
            },
            {
                "label": "Swing bottom",
                "value": "swingBottom",
                "type": "str"
            },
            {
                "label": "Swing mid-bottom",
                "value": "swingMidBottom",
                "type": "str"
            },
            {
                "label": "Swing mid",
                "value": "swingMid",
                "type": "str"
            },
            {
                "label": "Swing mid top",
                "value": "swingMidTop",
                "type": "str"
            },
            {
                "label": "Swing top",
                "value": "swingTop",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "swingVert",
        "topicType": "str",
        "x": 840,
        "y": 340,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "c4602e6e.68bd2",
        "type": "rbe",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1090,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b94c722a.5224c",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Horizontal swing ",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "Default",
                "value": "default",
                "type": "str"
            },
            {
                "label": "Full",
                "value": "full",
                "type": "str"
            },
            {
                "label": "Fixed left",
                "value": "fixedLeft",
                "type": "str"
            },
            {
                "label": "Fixed mid-left",
                "value": "fixedMidLeft",
                "type": "str"
            },
            {
                "label": "Fixed mid",
                "value": "fixedMid",
                "type": "str"
            },
            {
                "label": "Fixed mid-right",
                "value": "fixedMidRight",
                "type": "str"
            },
            {
                "label": "Fixed right",
                "value": "fixedRight",
                "type": "str"
            },
            {
                "label": "Full alt",
                "value": "fullAlt",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "swingHor",
        "x": 840,
        "y": 400,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ],
        "info": "Controls the swing mode of the horizontal air blades (not available on all units)"
    },
    {
        "id": "b331259c.875d98",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Fan speed",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Low",
                "value": "low",
                "type": "str"
            },
            {
                "label": "Medium low",
                "value": "mediumLow",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "medium",
                "type": "str"
            },
            {
                "label": "Medium high",
                "value": "mediumHigh",
                "type": "str"
            },
            {
                "label": "High",
                "value": "high",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "fanSpeed",
        "topicType": "str",
        "x": 830,
        "y": 280,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "7673e0f8.a6f0d",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Power save",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "powerSave",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 830,
        "y": 640,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "a5b358c2.3e4ad8",
        "type": "split",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "61046675.c20dd8"
            ]
        ]
    },
    {
        "id": "1a544b94.0ee074",
        "type": "ui_dropdown",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "5c569ec8.d608f",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Cool",
                "value": "cool",
                "type": "str"
            },
            {
                "label": "Dry",
                "value": "dry",
                "type": "str"
            },
            {
                "label": "Fan only",
                "value": "fan_only",
                "type": "str"
            },
            {
                "label": "Heat",
                "value": "heat",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode",
        "x": 810,
        "y": 160,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "17740952.0f17d7",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "Cold plasma",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "health",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 830,
        "y": 460,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "875ecf15.75b7b",
        "type": "ui_switch",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "label": "X-Fan",
        "tooltip": "",
        "group": "5c569ec8.d608f",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "blow",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 810,
        "y": 520,
        "wires": [
            [
                "c4602e6e.68bd2"
            ]
        ]
    },
    {
        "id": "6e9291c.b1e257",
        "type": "link in",
        "z": "75a3e362.0ad2cc",
        "name": "Gree.In",
        "links": [
            "8caa50fc.ee778"
        ],
        "x": 115,
        "y": 180,
        "wires": [
            [
                "ff37e69f.7c2708",
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "1da3abfe.d62c34",
        "type": "link out",
        "z": "75a3e362.0ad2cc",
        "name": "GreeFront.out",
        "links": [
            "3ea7b3a4.0365ec"
        ],
        "x": 955,
        "y": 740,
        "wires": []
    },
    {
        "id": "608a17d0.b29998",
        "type": "mqtt in",
        "z": "8791c141.730b5",
        "name": "local.in",
        "topic": "cmdgateway/device/group",
        "qos": "0",
        "datatype": "auto",
        "broker": "849cbceb.9873d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "53be4813.e3d988"
            ]
        ]
    },
    {
        "id": "40b76499.0f542c",
        "type": "mqtt out",
        "z": "8791c141.730b5",
        "name": "business.out",
        "topic": "cmdgateway/device/group",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "1a92ca76.44bf96",
        "type": "inject",
        "z": "8791c141.730b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"item\":\"111\",\"item-2\":\"2222\"}",
        "payloadType": "json",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "40b76499.0f542c"
            ]
        ]
    },
    {
        "id": "53be4813.e3d988",
        "type": "debug",
        "z": "8791c141.730b5",
        "name": "mqtt.in.local",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "5a38ef13.ad53",
        "type": "mqtt in",
        "z": "95689f3b.069d6",
        "name": "business.in",
        "topic": "business/cmdgate/CMDGATE_XA_KFDX01",
        "qos": "2",
        "datatype": "json",
        "broker": "480b54ad.8c4e1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "790663c8.47f1ec"
            ]
        ]
    },
    {
        "id": "24e17c5e.afee44",
        "type": "mqtt out",
        "z": "95689f3b.069d6",
        "name": "test.out",
        "topic": "business/cmdgate/CMDGATE_XA_KFDX01",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "e2f7544e.3dc3e8",
        "type": "inject",
        "z": "95689f3b.069d6",
        "name": "test.inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"hd\":{\"did\":\"c8f742e36fd2\",\"cmd\":3},\"pld\":{}}",
        "payloadType": "json",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "24e17c5e.afee44"
            ]
        ]
    },
    {
        "id": "1a25cef8.3c9021",
        "type": "mqtt out",
        "z": "7f4f785d.e83d58",
        "name": "business.out",
        "topic": "business/svcgate/CMDGATE_XA_KFDX01",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "790663c8.47f1ec",
        "type": "switch",
        "z": "95689f3b.069d6",
        "name": "cmd",
        "property": "payload.hd.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "307c3829.7b7bf8"
            ],
            [
                "4a1b03fa.a1ca6c"
            ],
            [
                "1e8948c1.08d1f7"
            ]
        ]
    },
    {
        "id": "7cf4138d.a6c55c",
        "type": "switch",
        "z": "95689f3b.069d6",
        "name": "air",
        "property": "hd.did",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "device.air.no1.did",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "device.air.no2.did",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 180,
        "wires": [
            [
                "8caa50fc.ee778",
                "29f7bf8a.2f5a3"
            ],
            [
                "6e5381a.29a758"
            ]
        ]
    },
    {
        "id": "8caa50fc.ee778",
        "type": "link out",
        "z": "95689f3b.069d6",
        "name": "",
        "links": [
            "6e9291c.b1e257"
        ],
        "x": 1025,
        "y": 140,
        "wires": []
    },
    {
        "id": "6e5381a.29a758",
        "type": "link out",
        "z": "95689f3b.069d6",
        "name": "",
        "links": [
            "ef73bbfa.acda48"
        ],
        "x": 1025,
        "y": 220,
        "wires": []
    },
    {
        "id": "29f7bf8a.2f5a3",
        "type": "debug",
        "z": "95689f3b.069d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "hd",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 180,
        "wires": []
    },
    {
        "id": "1e8948c1.08d1f7",
        "type": "debug",
        "z": "95689f3b.069d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "396a918c.ff2fae",
        "type": "catch",
        "z": "95689f3b.069d6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "79a4b707.f37e98"
            ]
        ]
    },
    {
        "id": "79a4b707.f37e98",
        "type": "debug",
        "z": "95689f3b.069d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "ff37e69f.7c2708",
        "type": "debug",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "c7393102.dd7af",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "power",
        "payload": "off",
        "payloadType": "str",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "4b98fbf7.d44b04",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "power",
        "payload": "on",
        "payloadType": "str",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "90095639.c1abb8",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "16",
        "payloadType": "num",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "b9c78ac4.f2ce38",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "26",
        "payloadType": "num",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "368e643f.4ac9ac",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fanSpeed",
        "payload": "auto",
        "payloadType": "str",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "c965d782.01cae8",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "lights",
        "payload": "off",
        "payloadType": "str",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "2de57060.09769",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "lights",
        "payload": "on",
        "payloadType": "str",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "31385e6.ad591a2",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fanSpeed",
        "payload": "low",
        "payloadType": "str",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "307c3829.7b7bf8",
        "type": "change",
        "z": "95689f3b.069d6",
        "name": "air change",
        "rules": [
            {
                "t": "set",
                "p": "hd",
                "pt": "msg",
                "to": "payload.hd",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pld",
                "pt": "msg",
                "to": "payload.pld",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pld",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 140,
        "wires": [
            [
                "7cf4138d.a6c55c"
            ]
        ]
    },
    {
        "id": "3ea7b3a4.0365ec",
        "type": "link in",
        "z": "7f4f785d.e83d58",
        "name": "svcgate.air.in",
        "links": [
            "1da3abfe.d62c34",
            "135a5141.d5d8bf"
        ],
        "x": 175,
        "y": 160,
        "wires": [
            [
                "a4ff2753.5e9f58"
            ]
        ]
    },
    {
        "id": "a30580c5.47783",
        "type": "change",
        "z": "75a3e362.0ad2cc",
        "name": "sethd",
        "rules": [
            {
                "t": "set",
                "p": "hd.did",
                "pt": "msg",
                "to": "device.air.no1.did",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 740,
        "wires": [
            [
                "1da3abfe.d62c34"
            ]
        ]
    },
    {
        "id": "a4ff2753.5e9f58",
        "type": "change",
        "z": "7f4f785d.e83d58",
        "name": "air.change",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "pld",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "hd.cmd",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "hd.stp",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.hd",
                "pt": "msg",
                "to": "hd",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.pld",
                "pt": "msg",
                "to": "pld",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "1a25cef8.3c9021",
                "ce224e58.40c51"
            ]
        ]
    },
    {
        "id": "ce224e58.40c51",
        "type": "debug",
        "z": "7f4f785d.e83d58",
        "name": "air.change",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "833a9f0f.2467",
        "type": "link in",
        "z": "7f4f785d.e83d58",
        "name": "svcgate.out",
        "links": [],
        "x": 115,
        "y": 280,
        "wires": [
            [
                "1a25cef8.3c9021"
            ]
        ]
    },
    {
        "id": "d0ffb263.2bb0e",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":17}",
        "payloadType": "json",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "16310797.512578",
        "type": "inject",
        "z": "7f966f2b.565cf",
        "name": "config.inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "17414852.0b9ee8"
            ]
        ]
    },
    {
        "id": "17414852.0b9ee8",
        "type": "change",
        "z": "7f966f2b.565cf",
        "name": "config",
        "rules": [
            {
                "t": "set",
                "p": "device.cmdgate.did",
                "pt": "global",
                "to": "CMDGATE_XA_KFDX01",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device.air.no1.did",
                "pt": "global",
                "to": "780f7732d5f6",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "device.air.no2.did",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "business.mqtt.sub.topic",
                "pt": "global",
                "to": "msg.payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "23d828a1.de0798"
            ]
        ]
    },
    {
        "id": "dc39bfc0.4640a",
        "type": "inject",
        "z": "75a3e362.0ad2cc",
        "name": "status",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "50cd83fb.98b19c"
            ]
        ]
    },
    {
        "id": "154dae3c.baf342",
        "type": "mqtt out",
        "z": "7f966f2b.565cf",
        "d": true,
        "name": "mqtt",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "480b54ad.8c4e1c",
        "x": 90,
        "y": 240,
        "wires": []
    },
    {
        "id": "1299ab26.dab125",
        "type": "announce",
        "z": "7f966f2b.565cf",
        "name": "cmd-gateway-mqtt-server",
        "service": "_mqtt._tcp",
        "port": "1883",
        "txt": "",
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "cb081671.009e18",
        "type": "discovery",
        "z": "7f966f2b.565cf",
        "name": "cmd-gateway-mqtt-server",
        "topic": "cmd-gateway-mqtt-server",
        "service": "_mqtt._tcp",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "aa0d81a2.8bbbc"
            ]
        ]
    },
    {
        "id": "b01f4ed3.6d1fa",
        "type": "inject",
        "z": "7f966f2b.565cf",
        "name": "mDNS",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "1299ab26.dab125"
            ]
        ]
    },
    {
        "id": "aa0d81a2.8bbbc",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "mDNS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "23d828a1.de0798",
        "type": "debug",
        "z": "7f966f2b.565cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "global",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "8a02366b.f2beb8",
        "type": "exec",
        "z": "8336091.44a54f8",
        "command": "/data/433F/sniffer/cpp/sender ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 700,
        "y": 300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1f85e77.1152c19",
        "type": "function",
        "z": "8336091.44a54f8",
        "name": "",
        "func": "msg.payload = \"\\\"\" + msg.pin + \"\\\" \" + \n              \"\\\"\" + msg.ray + \"\\\" \" + \n              \"\\\"\" + msg.count + \"\\\" \";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            [
                "ef678922.828528",
                "8a02366b.f2beb8"
            ]
        ]
    },
    {
        "id": "ef678922.828528",
        "type": "debug",
        "z": "8336091.44a54f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "c48baf7c.fedc2",
        "type": "inject",
        "z": "8336091.44a54f8",
        "name": "开",
        "props": [
            {
                "p": "pin",
                "v": "13",
                "vt": "str"
            },
            {
                "p": "ray",
                "v": "/data/433F/sniffer/codes/curtain1/micros.txt_3",
                "vt": "str"
            },
            {
                "p": "count",
                "v": "10",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "1f85e77.1152c19"
            ]
        ]
    },
    {
        "id": "7cf211fd.8310a",
        "type": "inject",
        "z": "8336091.44a54f8",
        "name": "关",
        "props": [
            {
                "p": "pin",
                "v": "13",
                "vt": "str"
            },
            {
                "p": "ray",
                "v": "/data/433F/sniffer/codes/curtain2/micros.txt_3",
                "vt": "str"
            },
            {
                "p": "count",
                "v": "10",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "1f85e77.1152c19"
            ]
        ]
    },
    {
        "id": "4a1b03fa.a1ca6c",
        "type": "link out",
        "z": "95689f3b.069d6",
        "name": "",
        "links": [
            "3471c1d8.b6ed6e"
        ],
        "x": 735,
        "y": 320,
        "wires": []
    },
    {
        "id": "3471c1d8.b6ed6e",
        "type": "link in",
        "z": "8336091.44a54f8",
        "name": "",
        "links": [
            "4a1b03fa.a1ca6c"
        ],
        "x": 215,
        "y": 200,
        "wires": [
            [
                "4a248848.975aa8"
            ]
        ]
    },
    {
        "id": "4a248848.975aa8",
        "type": "file",
        "z": "8336091.44a54f8",
        "name": "",
        "filename": "/data/cmd-gateway/temp/ray.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 450,
        "y": 200,
        "wires": [
            []
        ]
    }
]