data/.flows_nanopineo.json.backup
[{"id":"7f966f2b.565cf","type":"tab","label":"全局配置","disabled":false,"info":""},{"id":"b2e2dfb2.ec83","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"849cbceb.9873d","type":"mqtt-broker","name":"mqtt.local","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"480b54ad.8c4e1c","type":"mqtt-broker","name":"mqtt.business","broker":"push-access.sdp.101.com","port":"1780","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"468e8ef8.0891b","type":"mqtt out","z":"b2e2dfb2.ec83","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"849cbceb.9873d","x":610,"y":140,"wires":[]},{"id":"852753a3.5bbe6","type":"inject","z":"b2e2dfb2.ec83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0xa4c1381c5bd15c52/set","payload":"{\"state_left\":\"ON\"}","payloadType":"json","x":360,"y":140,"wires":[["468e8ef8.0891b"]]},{"id":"14904510.e63e8b","type":"inject","z":"b2e2dfb2.ec83","name":"error","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0xa4c1387224126955/set","payload":"{\"state_l11\":\"OFF\"}","payloadType":"json","x":310,"y":420,"wires":[["468e8ef8.0891b"]]},{"id":"a234856c.3d5c78","type":"inject","z":"b2e2dfb2.ec83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0x00124b002258ebb3/set","payload":"{\"state_l1\":\"ON\"}","payloadType":"json","x":300,"y":520,"wires":[["468e8ef8.0891b"]]},{"id":"3293e7c1.cfd298","type":"inject","z":"b2e2dfb2.ec83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0x00124b002258ebb3/set","payload":"{\"state_l1\":\"OFF\"}","payloadType":"json","x":300,"y":560,"wires":[["468e8ef8.0891b"]]},{"id":"185f9e1c.8561c2","type":"inject","z":"b2e2dfb2.ec83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0x00124b002258ebb3/set","payload":"{\"state_l2\":\"ON\"}","payloadType":"json","x":300,"y":660,"wires":[["468e8ef8.0891b"]]},{"id":"4af7eba2.552924","type":"inject","z":"b2e2dfb2.ec83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0x00124b002258ebb3/set","payload":"{\"state_l2\":\"OFF\"}","payloadType":"json","x":300,"y":700,"wires":[["468e8ef8.0891b"]]},{"id":"f921edf4.2b08f","type":"inject","z":"b2e2dfb2.ec83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0x00124b002258ebb3/get","payload":"{\"state_l1\":\"\"}","payloadType":"json","x":290,"y":600,"wires":[["468e8ef8.0891b"]]},{"id":"c25e2224.54fc6","type":"inject","z":"b2e2dfb2.ec83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0xa4c1381c5bd15c52/set","payload":"{\"state_left\":\"off\"}","payloadType":"json","x":340,"y":180,"wires":[["468e8ef8.0891b"]]},{"id":"5fe85255.2f57dc","type":"inject","z":"b2e2dfb2.ec83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0xa4c1381c5bd15c52/get","payload":"{\"state_left\":\"\"}","payloadType":"json","x":330,"y":220,"wires":[["468e8ef8.0891b"]]},{"id":"9f1183ad.a7c6e","type":"mqtt in","z":"b2e2dfb2.ec83","name":"本地终端上行","topic":"CMDGATE_CL_VR_F2/#","qos":"2","datatype":"auto","broker":"849cbceb.9873d","nl":false,"rap":true,"rh":0,"x":610,"y":260,"wires":[["d1bc4bc9.cd24a8"]]},{"id":"d1bc4bc9.cd24a8","type":"debug","z":"b2e2dfb2.ec83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":220,"wires":[]},{"id":"583b4e68.5a5ac","type":"inject","z":"b2e2dfb2.ec83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0xa4c1381c5bd15c52/get","payload":"{\"state\":\"\"}","payloadType":"json","x":320,"y":260,"wires":[["468e8ef8.0891b"]]},{"id":"8577f12b.6caac","type":"inject","z":"b2e2dfb2.ec83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CMDGATE_CL_VR_F2/0xa4c1381c5bd15c52/get","payload":"{\"linkquality\":0}","payloadType":"json","x":340,"y":320,"wires":[["468e8ef8.0891b"]]},{"id":"154dae3c.baf342","type":"mqtt out","z":"7f966f2b.565cf","d":true,"name":"mqtt","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"849cbceb.9873d","x":250,"y":140,"wires":[]},{"id":"1b2bd928.c474e7","type":"comment","z":"7f966f2b.565cf","name":"编号配置","info":"","x":80,"y":40,"wires":[]},{"id":"b892f30e.722aa","type":"comment","z":"7f966f2b.565cf","name":"MQTT服务地址","info":"","x":100,"y":140,"wires":[]},{"id":"3b4727b1.907a78","type":"function","z":"7f966f2b.565cf","name":"","func":"    let devices = global.get(\"devices\") ;\n    let setDevice = (did, device, gateway) => {\n        if (devices[did] && devices[did].gid) {\n            node.error(\"设备编号重复：\" + did);\n            node.warn(devices[did]);\n            node.warn(gateway);\n            return;\n        }\n        device.did = did;\n        device.gid = gateway ? gateway.did : null\n        device.gateway = gateway;\n        devices[did] = device;\n\n        let subdevs = device.devices;\n        if (subdevs) {\n            let subkeys = Object.keys(subdevs);\n            subkeys.forEach(subkey => {\n                let subdev = subdevs[subkey];\n                setDevice(subkey, subdev, device);            \n            });        \n\n        }\n    }\n\n\n\n    let keys = Object.keys(devices);\n    keys.forEach(key => {\n        let device = devices[key];\n        setDevice(key, device)\n        \n    });\n\nmsg.payload = devices;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":40,"wires":[["b792b146.59037","1723b83e.cdbb38"]]},{"id":"f544f205.d51a7","type":"inject","z":"7f966f2b.565cf","name":"刷新编号","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":40,"wires":[["d6802406.a5a078"]]},{"id":"b792b146.59037","type":"debug","z":"7f966f2b.565cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"d6802406.a5a078","type":"change","z":"7f966f2b.565cf","name":"config","rules":[{"t":"set","p":"mqtt","pt":"global","to":"{\"topic\":{\"business\":{\"sub\":{\"prefix\":\"business/cmdgate/\"},\"pub\":{\"prefix\":\"business/svcgate/\"}},\"terminal\":{\"sub\":{\"prefix\":\"cmdgate/central/\",\"cmd\":\"cmdgate/central/cmd\"},\"pub\":{\"prefix\":\"cmdgate/device/\",\"central\":\"cmdgate/device/central\"}}}}","tot":"json"},{"t":"set","p":"devices","pt":"global","to":"{\"CMDGATE_CL_VRTYG\":{\"name\":\"长乐VR体验馆\",\"devices\":{\"ESP8266_9926564\":{\"name\":\"二楼1成果区宣传大屏前空调\"},\"ESP8266_9928598\":{\"name\":\"二楼2成果区体验中心入口空调\"},\"ESP8266_9933676\":{\"name\":\"二楼3成果区富士康大屏处空调\"},\"ESP8266_488969\":{\"name\":\"二楼5成果区版图区域内侧空调\"},\"ESP8266_9931870\":{\"name\":\"二楼6成果区版图区域外侧空调\"},\"ESP8266_9956709\":{\"name\":\"二楼7成果区小镇沙盘前空调\"},\"ESP8266_430864\":{\"name\":\"二楼8成果区红色教育一体机旁空调\"},\"ESP8266_486720\":{\"name\":\"二楼9恐龙休息区沙发区上方空调\"},\"ESP8266_469370\":{\"name\":\"二楼10恐龙休息区恐龙区入口上方空调\"},\"ESP8266_9922593\":{\"name\":\"二楼11恐龙休息区恐龙大屏上方空调\"},\"ESP8266_491535\":{\"name\":\"二楼12恐龙休息区长桌上方空调\"},\"ESP8266_9945247\":{\"name\":\"二楼16沉浸教室地理沙盘上方空调\"},\"ESP8266_450977\":{\"name\":\"二楼17沉浸教室3D扫描上方空调\"},\"ESP8266_9954003\":{\"name\":\"二楼18沉浸教室曲面屏上方空调\"},\"ESP8266_448616\":{\"name\":\"二楼19沉浸教室座位区上方空调\"},\"ESP8266_431099\":{\"name\":\"二楼22应用区新品体验展位上方空调\"},\"ESP8266_9930630\":{\"name\":\"二楼23应用区急速风暴展位上方空调\"},\"ESP8266_502328\":{\"name\":\"二楼24应用区世宇展位上方空调\"},\"ESP8266_525449\":{\"name\":\"二楼25应用区ColdingGalaxy展位上方空调\"},\"ESP8266_9928778\":{\"name\":\"二楼26应用区虎豹骑展位上方空调\"},\"ESP8266_9930144\":{\"name\":\"二楼27应用区VR消防展位上方空调\"},\"ESP8266_523355\":{\"name\":\"二楼28应用区虚拟实验室前空调\"},\"ESP8266_524983\":{\"name\":\"二楼29应用区央馆虚拟实验展位上方空调\"},\"ESP8266_10004904\":{\"name\":\"二楼30全息舞台舞台上方空调-1\"},\"ESP8266_9921707\":{\"name\":\"二楼31全息舞台舞台上方空调-2\"},\"ESP8266_433213\":{\"name\":\"二楼32乐空间四格空间1空调\"},\"ESP8266_9920978\":{\"name\":\"二楼33乐空间入口空调\"},\"ESP8266_464648\":{\"name\":\"二楼34乐空间六轴赛车上方空调\"},\"ESP8266_9924660\":{\"name\":\"二楼35乐空间四轴赛车上方空调\"},\"ESP8266_9957889\":{\"name\":\"二楼36乐空间Switch游戏上方空调\"},\"ESP8266_9930089\":{\"name\":\"二楼37乐空间VR自行车上方空调\"},\"ESP8266_448481\":{\"name\":\"二楼38乐空间四格空间4空调\"},\"ESP8266_427331\":{\"name\":\"二楼39乐空间四格空间2&3空调\"},\"ESP8266_9934513\":{\"name\":\"二楼40乐空间仓库空调\"},\"ESP8266_9925594\":{\"name\":\"二楼41乐空间滑雪机上方空调\"},\"ESP8266_9926755\":{\"name\":\"二楼4通道、卫生间区域卫生间一外空调\"},\"ESP8266_9938106\":{\"name\":\"二楼13通道、卫生间区域卫生间二外空调\"},\"ESP8266_9932037\":{\"name\":\"二楼14通道、卫生间区域电梯厅外空调\"},\"ESP8266_465345\":{\"name\":\"二楼15通道、卫生间区域电梯厅内空调\"},\"ESP8266_10009326\":{\"name\":\"二楼20通道、卫生间区域卫生间三外新风机\"},\"ESP8266_9926288\":{\"name\":\"二楼21通道、卫生间区域卫生间三外空调\"},\"ESP8266_9937795\":{\"name\":\"三楼1直播摄影棚摄影棚后方空调1\"},\"ESP8266_10006724\":{\"name\":\"三楼2直播摄影棚摄影棚区域办公室空调1\"},\"ESP8266_442480\":{\"name\":\"三楼3直播摄影棚摄影棚后方空调2\"},\"ESP8266_519369\":{\"name\":\"三楼4直播摄影棚摄影棚区域办公室空调2\"},\"ESP8266_448586\":{\"name\":\"三楼5直播摄影棚摄影棚区域会议室空调\"},\"ESP8266_9930798\":{\"name\":\"三楼6直播摄影棚摄影棚前方空调1\"},\"ESP8266_521738\":{\"name\":\"三楼7直播摄影棚摄影棚前方空调2\"},\"ESP8266_432044\":{\"name\":\"三楼8VR办公区VR办公室新风\"},\"ESP8266_526058\":{\"name\":\"三楼9VR办公区VR办公室空调1\"},\"ESP8266_9926764\":{\"name\":\"三楼10VR办公区VR办公室空调2\"},\"ESP8266_427863\":{\"name\":\"三楼11党建办公区党建办公室空调1\"},\"ESP8266_9926765\":{\"name\":\"三楼12党建办公区党建办公室空调2\"},\"ESP8266_9958380\":{\"name\":\"三楼13党建办公区党建办公室空调3\"},\"ESP8266_474651\":{\"name\":\"三楼14党建办公区党建办公室空调4\"},\"ESP8266_432426\":{\"name\":\"三楼15通道区域电梯间空调\"},\"ESP8266_447884\":{\"name\":\"三楼16通道区域通道空调1\"},\"ESP8266_522277\":{\"name\":\"三楼17通道区域通道空调2\"},\"ESP8266_525584\":{\"name\":\"三楼18通道区域通道空调3\"},\"ESP8266_10029119\":{\"name\":\"三楼19通道区域通道区域新风\"},\"ESP8266_9944959\":{\"name\":\"三楼20党员活动室活动室空调1\"},\"ESP8266_10047940\":{\"name\":\"三楼21党员活动室活动室空调2\"},\"ESP8266_9927599\":{\"name\":\"三楼22党员活动室活动室空调3\"},\"ESP8266_440864\":{\"name\":\"三楼23党员活动室活动室空调4\"},\"ESP8266_9920788\":{\"name\":\"三楼24党员活动室活动室展区空调1\"},\"ESP8266_500512\":{\"name\":\"三楼25党员活动室活动室展区空调2\"},\"ESP8266_9934592\":{\"name\":\"三楼26党员活动室活动室展区空调3\"},\"ESP8266_469696\":{\"name\":\"三楼27党建会议室前方空调1\"},\"ESP8266_9926218\":{\"name\":\"三楼28党建会议室前方空调2\"},\"ESP8266_9955466\":{\"name\":\"三楼29党建会议室前方空调3\"},\"ESP8266_448179\":{\"name\":\"三楼30党建会议室前方空调4\"},\"ESP8266_9932108\":{\"name\":\"三楼31党建会议室前方空调5\"},\"ESP8266_10027740\":{\"name\":\"三楼32党建会议室前方空调6\"},\"ESP8266_9928853\":{\"name\":\"三楼33党建会议室前方空调7\"},\"ESP8266_433112\":{\"name\":\"三楼34党建会议室前方空调8\"},\"ESP8266_9932430\":{\"name\":\"三楼35党建会议室新风\"},\"ESP8266_9925572\":{\"name\":\"\"},\"ESP8266_10005258\":{\"name\":\"\"},\"ESP8266_524478\":{\"name\":\"\"},\"ESP8266_9959024\":{\"name\":\"\"},\"ESP8266_9924667\":{\"name\":\"\"},\"ESP8266_9931370\":{\"name\":\"\"},\"ESP8266_9923383\":{\"name\":\"\"},\"ESP8266_10006696\":{\"name\":\"\"},\"ESP8266_9944985\":{\"name\":\"\"},\"ESP8266_9941341\":{\"name\":\"\"},\"ESP8266_9936075\":{\"name\":\"\"},\"ESP8266_449971\":{\"name\":\"\"},\"ESP8266_9935390\":{\"name\":\"\"},\"ESP8266_10007032\":{\"name\":\"\"}}},\"CMDGATE_CL_VR_F1\":{\"name\":\"长乐VR体验馆党建1楼\",\"devices\":{\"ESP8266x0006d778\":{\"name\":\"党建1楼样板\"}}},\"CMDGATE_CL_VR_F2\":{\"name\":\"长乐VR体验馆2楼\",\"devices\":{\"0xa4c1381c5bd15c52\":{\"name\":\"恐龙区男卫生间三路开关\"},\"0xa4c138d2c1bdc074\":{\"name\":\"恐龙区女卫生间三路开关\"},\"0x00158d0003539f17\":{\"name\":\"Z3插座-Xiaomi-ZNCZ02LM\"}}},\"CMDGATE_CL_JZX01\":{\"name\":\"长乐1号集装箱\",\"devices\":{\"c8f742e36fd2\":{\"name\":\"1号空调\"},\"24dfa7056ca9\":{\"name\":\"2号空调\"},\"ESP8266_5628343\":{\"name\":\"窗帘控制芯片\"},\"CL_JZX01_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_JZX01_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_JZX01_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_JZX01_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_JZX01_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_JZX01_curtain_06\":{\"name\":\"6号窗帘\"}}},\"CMDGATE_CL_JZX02\":{\"name\":\"长乐2号集装箱\",\"devices\":{}},\"CMDGATE_CL_QYA53\":{\"name\":\"长乐企业号A5-3\",\"devices\":{\"CL_QYA53_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_QYA53_curtain_02\":{\"name\":\"2号窗帘\"}}},\"CMDGATE_CL_DJHYS\":{\"name\":\"长乐DJ会议室\",\"devices\":{\"CL_DJHYS_curtain_01\":{\"name\":\"1号窗帘\"},\"CL_DJHYS_curtain_02\":{\"name\":\"2号窗帘\"},\"CL_DJHYS_curtain_03\":{\"name\":\"3号窗帘\"},\"CL_DJHYS_curtain_04\":{\"name\":\"4号窗帘\"},\"CL_DJHYS_curtain_05\":{\"name\":\"5号窗帘\"},\"CL_DJHYS_curtain_06\":{\"name\":\"6号窗帘\"},\"CL_DJHYS_curtain_07\":{\"name\":\"7号窗帘\"},\"CL_DJHYS_curtain_08\":{\"name\":\"8号窗帘\"},\"CL_DJHYS_curtain_09\":{\"name\":\"9号窗帘\"},\"CL_DJHYS_curtain_10\":{\"name\":\"10号窗帘\"},\"CL_DJHYS_curtain_11\":{\"name\":\"11号窗帘\"},\"CL_DJHYS_curtain_12\":{\"name\":\"12号窗帘\"},\"CL_DJHYS_curtain_13\":{\"name\":\"13号窗帘\"},\"CL_DJHYS_curtain_14\":{\"name\":\"14号窗帘\"},\"CL_DJHYS_curtain_15\":{\"name\":\"15号窗帘\"},\"CL_DJHYS_curtain_16\":{\"name\":\"16号窗帘\"},\"CL_DJHYS_curtain_17\":{\"name\":\"17号窗帘\"},\"CL_DJHYS_curtain_18\":{\"name\":\"18号窗帘\"},\"CL_DJHYS_curtain_19\":{\"name\":\"19号窗帘\"},\"CL_DJHYS_curtain_20\":{\"name\":\"20号窗帘\"},\"ESP8266x005dc688\":{\"name\":\"福州开发空调板\"},\"ESP8266x005dc677\":{\"name\":\"（后）走道区5号空调\",\"sensors\":{\"0x00158d000704fdaa\":\"\",\"0x00158d0007064a65\":\"\"}},\"ESP8266x00c1dffd\":{\"name\":\"健身区->靠走道空调\"},\"ESP8266x00c1c16d\":{\"name\":\"c1c16d\"},\"ESP8266x00c1cb9a\":{\"name\":\"会议区->靠模型区2入口2号空调\"},\"ESP8266x00c223c1\":{\"name\":\"c223c1\"},\"ESP8266x00c1a011\":{\"name\":\"c1a011\"},\"ESP8266x00c1d2ab\":{\"name\":\"c1d2ab\"},\"ESP8266x00c203ef\":{\"name\":\"c203ef\"},\"ESP8266x00c176cb\":{\"name\":\"模型式1-靠墙空调\"},\"ESP8266x00c17bd3\":{\"name\":\"会议区->会议桌左上方空调\"},\"ESP8266x00c1a2ab\":{\"name\":\"读书区->靠窗空调\"},\"ESP8266x00c23f17\":{\"name\":\"卫生间门口->柱子右前方靠走廊空调\"},\"ESP8266x00c1e174\":{\"name\":\"会议区->靠模型区2入口1号空调\"},\"ESP8266x00c1d5ac\":{\"name\":\"模型式1-中间空调\"},\"ESP8266x00c22c11\":{\"name\":\"c22c11\"},\"ESP8266x00c1bf04\":{\"name\":\"c1bf04\"},\"ESP8266x00c14ddc\":{\"name\":\"模型式2-靠墙空调\"},\"ESP8266x00c1e7f4\":{\"name\":\"c1e7f4\"},\"ESP8266x00c1c9df\":{\"name\":\"c1c9df\"},\"ESP8266x00c20a26\":{\"name\":\"（前）走道区3号空调\"},\"ESP8266x00c21296\":{\"name\":\"会议区->靠前走廊空调\"},\"ESP8266x00c17f7c\":{\"name\":\"c17f7c\"},\"ESP8266x00c1a719\":{\"name\":\"卫生间门口->柱子右后方靠墙空调\"},\"ESP8266x00c1a9b2\":{\"name\":\"模型式2->中间空调\"},\"ESP8266x00c1c69d\":{\"name\":\"c1c69d\"},\"ESP8266x00c17d51\":{\"name\":\"卫生间门口->柱子左边靠读书区空调\"},\"ESP8266x00c20ca1\":{\"name\":\"c20ca1\"},\"ESP8266x00c19fe5\":{\"name\":\"会议区->前大屏左上方空调\"},\"ESP8266x00c204a1\":{\"name\":\"卫生间门口->靠走廊柱子后方空调\"},\"ESP8266x00c1cc0a\":{\"name\":\"c1cc0a\"},\"ESP8266x00c1997e\":{\"name\":\"会议区->前大屏右上方空调\"},\"ESP8266x00c1aa1c\":{\"name\":\"（后）走道区4号空调\"},\"ESP8266x00c235cb\":{\"name\":\"c235cb\"},\"ESP8266x00c1c1ec\":{\"name\":\"c1c1ec\"},\"ESP8266x00c1cfb3\":{\"name\":\"c1cfb3\"},\"ESP8266x00c1cda4\":{\"name\":\"c1cda4\"},\"ESP8266x00c19a65\":{\"name\":\"弹丸区->靠走道空调\"},\"ESP8266x00c18442\":{\"name\":\"（前）走道区1号空调\"},\"ESP8266x00c17dd8\":{\"name\":\"c17dd8\"},\"ESP8266x00c162fa\":{\"name\":\"c162fa\"},\"ESP8266x00c1c5f9\":{\"name\":\"（前）走道区2号空调\"},\"ESP8266x00c23379\":{\"name\":\"c23379\"},\"ESP8266x00c1b48c\":{\"name\":\"c1b48c\"},\"0x00158d000353a076\":{\"name\":\"Z3插座-Xiaomi-ZNCZ02LM\"},\"0x00158d000353a073\":{\"name\":\"Z3插座-Xiaomi-ZNCZ02LM\"},\"0x00158d000353c52b\":{\"name\":\"Z3插座-Xiaomi-ZNCZ02LM\"},\"0x00158d00039bf5bc\":{\"name\":\"Z3插座-Xiaomi-ZNCZ02LM\"},\"0x00158d0003539a3c\":{\"name\":\"Z3插座-Xiaomi-ZNCZ02LM\"},\"0x00158d000704fdaa\":{\"name\":\"绿米温湿度计-无屏\"},\"0x00158d0007064a65\":{\"name\":\"绿米温湿度计-无屏\"},\"0x00158d000705e971\":{\"name\":\"绿米温湿度计-无屏\"},\"0x00158d0007071712\":{\"name\":\"绿米温湿度计-无屏\"},\"0x00158d000706883e\":{\"name\":\"绿米温湿度计-无屏\"},\"0x00158d000705007b\":{\"name\":\"绿米温湿度计-无屏\"},\"0x00158d0007071af4\":{\"name\":\"绿米温湿度计-无屏\"},\"0x00158d0007089665\":{\"name\":\"绿米温湿度计-无屏\"},\"0x00158d0007071747\":{\"name\":\"绿米温湿度计-无屏\"},\"0x00158d000588d40a\":{\"name\":\"绿米温湿度计-无屏\"},\"0x54ef441000090760\":{\"name\":\"绿米温湿度计-有屏\"},\"0x54ef4410000902f2\":{\"name\":\"绿米温湿度计-有屏\"},\"0x54ef44100001b16c\":{\"name\":\"绿米温湿度计-有屏\"},\"0x54ef44100009011c\":{\"name\":\"绿米温湿度计-有屏\"},\"0x54ef44100009063c\":{\"name\":\"绿米温湿度计-有屏\"},\"0x54ef441000090215\":{\"name\":\"绿米温湿度计-有屏\"},\"0x60a423fffe3470e5\":{\"name\":\"鸿雁温湿度计-无屏\"},\"0x60a423fffe348618\":{\"name\":\"鸿雁温湿度计-无屏\"},\"0x60a423fffe2a2eb6\":{\"name\":\"鸿雁温湿度计-无屏\"},\"0x60a423fffe347315\":{\"name\":\"鸿雁温湿度计-无屏\"},\"ESP8266x00c20678\":{\"name\":\"乐高区射灯开关\"}}},\"CMDGATE_CL_DJHYS_CBUS\":{\"name\":\"长乐DJ会议室CBUS\",\"devices\":{\"CL_DJHYS_lighting_0\":{\"name\":\"0组灯光\"},\"CL_DJHYS_lighting_1\":{\"name\":\"1组灯光\"},\"CL_DJHYS_lighting_2\":{\"name\":\"2组灯光\"},\"CL_DJHYS_lighting_3\":{\"name\":\"3组灯光\"},\"CL_DJHYS_door_4\":{\"name\":\"4组门开关\"},\"CL_DJHYS_door_5\":{\"name\":\"5组门开关\"},\"CL_DJHYS_lighting_6\":{\"name\":\"6组灯光\"},\"CL_DJHYS_lighting_7\":{\"name\":\"7组灯光\"},\"CL_DJHYS_lighting_8\":{\"name\":\"8组灯光\"},\"CL_DJHYS_lighting_9\":{\"name\":\"9组灯光\"},\"CL_DJHYS_lighting_10\":{\"name\":\"10组灯光\"},\"CL_DJHYS_lighting_11\":{\"name\":\"11组灯光\"},\"CL_DJHYS_door_12\":{\"name\":\"12组门开关\"},\"CL_DJHYS_door_13\":{\"name\":\"13组门开关\"},\"CL_DJHYS_lighting_14\":{\"name\":\"14组灯光\"},\"CL_DJHYS_lighting_15\":{\"name\":\"15组灯光\"},\"CL_DJHYS_lighting_16\":{\"name\":\"16组灯光\"},\"CL_DJHYS_lighting_17\":{\"name\":\"17组灯光\"},\"CL_DJHYS_lighting_18\":{\"name\":\"18组灯光\"},\"CL_DJHYS_lighting_19\":{\"name\":\"19组灯光\"},\"CL_DJHYS_lighting_20\":{\"name\":\"20组灯光\"},\"CL_DJHYS_lighting_21\":{\"name\":\"21组灯光\"},\"CL_DJHYS_lighting_22\":{\"name\":\"22组灯光\"},\"CL_DJHYS_lighting_23\":{\"name\":\"23组灯光\"},\"CL_DJHYS_lighting_24\":{\"name\":\"24组灯光\"},\"CL_DJHYS_lighting_25\":{\"name\":\"25组灯光\"},\"CL_DJHYS_lighting_26\":{\"name\":\"26组灯光\"},\"CL_DJHYS_lighting_27\":{\"name\":\"27组灯光\"},\"CL_DJHYS_lighting_28\":{\"name\":\"28组灯光\"},\"CL_DJHYS_lighting_29\":{\"name\":\"29组灯光\"},\"CL_DJHYS_lighting_30\":{\"name\":\"30组灯光\"},\"CL_DJHYS_lighting_31\":{\"name\":\"31组灯光\"},\"CL_DJHYS_lighting_32\":{\"name\":\"32组灯光\"},\"CL_DJHYS_lighting_33\":{\"name\":\"33组灯光\"},\"CL_DJHYS_lighting_34\":{\"name\":\"34组灯光\"},\"CL_DJHYS_lighting_35\":{\"name\":\"35组灯光\"},\"CL_DJHYS_lighting_36\":{\"name\":\"36组灯光\"},\"CL_DJHYS_lighting_37\":{\"name\":\"37组灯光\"},\"CL_DJHYS_lighting_38\":{\"name\":\"38组灯光\"},\"CL_DJHYS_lighting_39\":{\"name\":\"39组灯光\"},\"CL_DJHYS_lighting_40\":{\"name\":\"40组灯光\"}}},\"CMDGATE_CL_CXY\":{\"name\":\"长乐禅修院\",\"devices\":{\"ESP8266x00dce3ae\":{\"name\":\"音箱\"}}},\"CMDGATE_CL_FRA303\":{\"name\":\"福软教室A303\",\"devices\":{\"CL_FRA303_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA303_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRA305\":{\"name\":\"福软教室A305\",\"devices\":{\"CL_FRA305_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA305_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRA306\":{\"name\":\"福软教室A306\",\"devices\":{\"CL_FRA306_curtain_01\":{\"name\":\"幕布\"},\"CL_FRA306_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRD302\":{\"name\":\"福软教室D302\",\"devices\":{\"CL_FRD302_curtain_01\":{\"name\":\"幕布\"},\"CL_FRD302_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRF308\":{\"name\":\"福软教室F308\",\"devices\":{\"CL_FRF308_curtain_01\":{\"name\":\"幕布\"},\"CL_FRF308_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_CL_FRF319\":{\"name\":\"福软教室F319\",\"devices\":{\"CL_FRF319_curtain_01\":{\"name\":\"幕布\"},\"CL_FRF319_curtain_02\":{\"name\":\"备用\"}}},\"CMDGATE_FZ_DEV\":{\"name\":\"福州亚太二楼开发(有433射频)\",\"devices\":{\"DJ-YT-500-01\":{\"name\":\"1号舵机\"},\"ESP32x6abf713c\":{\"name\":\"esp32开发板\"},\"ESP32x6dabf498\":{\"name\":\"esp32开发板\"},\"ESP8266x005dc775\":{\"name\":\"党建1楼开发板\"},\"ESP8266x0006d432\":{\"name\":\"党建1楼开发板带强电\"},\"android_924ed49\":{\"name\":\"采码android机1\"},\"0xa4c13860713c6457\":{\"name\":\"Z3开关HONYAR一路开关\"},\"0x00158d000353c53f\":{\"name\":\"Z3插座-Xiaomi-ZNCZ02LM\"},\"0x00158d00039be5c1\":{\"name\":\"Z3插座-Xiaomi-ZNCZ02LM\"},\"ESP8266_1839985816\":{\"name\":\"ESP32测试板\"}}},\"CMDGATE_FZ_PMZ_AC\":{\"name\":\"福州飘渺庄空调\",\"devices\":{\"ESP8266x0006d906\":{\"name\":\"福州飘渺庄空调\"},\"ESP8266x005dcac5\":{\"name\":\"福州飘渺庄空调\"}}},\"CMDGATE_FZ_YT2DGN\":{\"name\":\"福州亚太二楼多功能会议室\",\"devices\":{\"FZ_YT2DGN_curtain_01\":{\"name\":\"幕布\"}}},\"CMDGATE_XA_KFDX01\":{\"name\":\"西安开放大学\",\"devices\":{\"780f7732d5f6\":{\"name\":\"1号空调\"},\"XA_KFDX01_curtain_01\":{\"name\":\"1号窗帘\"},\"XA_KFDX01_curtain_02\":{\"name\":\"2号窗帘\"},\"XA_KFDX01_curtain_03\":{\"name\":\"3号窗帘\"}}},\"CMDGATE_XA_KFDX03\":{\"name\":\"西安开放大学智慧教室303\",\"devices\":{\"XA_KFDX03_air_01\":{\"name\":\"1号空调\"}}},\"CMDGATE_XA_KFDX08\":{\"name\":\"西安开放大学智慧教室302\",\"devices\":{\"XA_KFDX08_air_01\":{\"name\":\"1号空调\"}}},\"CMDGATE_ZFZ01\":{\"name\":\"中非展01\",\"devices\":{\"tasmota_982A80\":{\"name\":\"1号风扇\"},\"tasmota_9AA972\":{\"name\":\"2号风扇\"},\"ZFZ01_curtain_01\":{\"name\":\"1号窗帘\"},\"ZFZ01_curtain_02\":{\"name\":\"2号窗帘\"}}}}","tot":"json"},{"t":"set","p":"cmdgate","pt":"global","to":"CMDGATE_CL_VR_F2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":40,"wires":[["3b4727b1.907a78"]]},{"id":"7577ab7.99dc554","type":"mqtt in","z":"7f966f2b.565cf","name":"本地终端上行","topic":"cmdgate/central/#","qos":"2","datatype":"auto","broker":"849cbceb.9873d","nl":false,"rap":true,"rh":0,"x":270,"y":220,"wires":[["16d263fa.4e507c","5b4cd677.6c5048"]]},{"id":"55cc1676.e1e1e8","type":"function","z":"7f966f2b.565cf","name":"设备","func":"if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        \n        return [null, msg];\n    }\n}\n\n\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":220,"wires":[["50aa8a65.6a2c04"],["9bdb235c.c9408","95051ebe.9f6c3"]]},{"id":"e63c8469.e2ed68","type":"comment","z":"7f966f2b.565cf","name":"MQTT终端上行","info":"","x":100,"y":220,"wires":[]},{"id":"50aa8a65.6a2c04","type":"link out","z":"7f966f2b.565cf","name":"终端上行(输出)","links":["1f709da6.37b8a2","29f3320d.53713e","62e09468.fe1a8c","82775b82.94d928","ce4bbc35.92071","fe5b0e4.55824f","40a078d4.cc5c98","78695da2.cd6574"],"x":835,"y":200,"wires":[]},{"id":"c1235d37.633ea","type":"mqtt out","z":"7f966f2b.565cf","name":"本地终端下行","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"849cbceb.9873d","x":880,"y":520,"wires":[]},{"id":"90a962bb.f07c4","type":"link in","z":"7f966f2b.565cf","name":"终端下行","links":["c67e09e8.3b7178","68c90e66.5e785","a886891b.7850a8","fca62cc3.67e88","bffd3bc5.0864c8","8d93e772.352ca8","a832f4c8.03a068","1d92c8ea.7fa937","c8b09f6e.cc9de","effd8ce0.d4f6d","8cfc6c63.15645"],"x":355,"y":520,"wires":[["ef55a887.19d568"]]},{"id":"94b3038a.dd76c","type":"comment","z":"7f966f2b.565cf","name":"MQTT终端下行","info":"","x":100,"y":520,"wires":[]},{"id":"ef55a887.19d568","type":"function","z":"7f966f2b.565cf","name":"主题","func":"if (!msg.dontChangeTopic)\n  msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":520,"wires":[["c1235d37.633ea","2b1ded2a.311c72"]]},{"id":"8eb80638.5a9e08","type":"mqtt in","z":"7f966f2b.565cf","name":"边缘下行","topic":"business/cmdgate/#","qos":"2","datatype":"json","broker":"480b54ad.8c4e1c","nl":false,"rap":true,"rh":0,"x":260,"y":860,"wires":[["4f7defdf.42831"]]},{"id":"b8a5477a.9e1d18","type":"comment","z":"7f966f2b.565cf","name":"MQTT边缘下行","info":"","x":100,"y":860,"wires":[]},{"id":"4f7defdf.42831","type":"function","z":"7f966f2b.565cf","name":"设备","func":"if (msg.payload.hd) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n    let count = context.get(\"count\") \n    count = count ? count + 1 : 1;\n    context.set(\"count\", count) \n    node.status({fill:\"green\", shape:\"dot\", text: count});\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":860,"wires":[["a8683765.5e9b48","d501f268.749f","2f297eb5.8b40d2"]]},{"id":"a8683765.5e9b48","type":"link out","z":"7f966f2b.565cf","name":"边缘下行(输出)","links":["9dc5d227.d0edb","bf6a789a.410a38","44eaef01.a1461","653d95e1.a5f5dc","641dafa8.eb3f9","a46dd3d8.bc5d1","bb6e076b.abeca8","4b8cedf9.d51c44"],"x":615,"y":860,"wires":[]},{"id":"fb5e88f.b504c78","type":"comment","z":"7f966f2b.565cf","name":"MQTT边缘上行","info":"","x":100,"y":720,"wires":[]},{"id":"79e98182.a04d8","type":"mqtt out","z":"7f966f2b.565cf","name":"边缘上行","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"480b54ad.8c4e1c","x":860,"y":720,"wires":[]},{"id":"e21357a9.a0d888","type":"function","z":"7f966f2b.565cf","name":"主题","func":"if (!msg.dontChangeTopic)\n    msg.topic = global.get(\"mqtt\").topic.business.pub.prefix + msg.payload.hd.gid\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":720,"wires":[["79e98182.a04d8","20423e4.bdb70c2"]]},{"id":"db90a60b.8feba8","type":"link in","z":"7f966f2b.565cf","name":"边缘上行","links":["14963224.11111e","9531c25e.b8279","6bf23d77.ebb954","7912f1cf.0172d","9fdb7274.296f","22930ee.3ca26f2","66265751.046f38","6557d43e.9d9fac","d2ff6c8b.7acb9","ffef9c8f.d96a4","b030b1b5.8fe9b","304cd411.62ba7c","bb46f9e5.2329d8","f431d326.3a7b3"],"x":355,"y":720,"wires":[["c4bf62fe.c0714"]]},{"id":"16d263fa.4e507c","type":"json","z":"7f966f2b.565cf","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":220,"wires":[["55cc1676.e1e1e8"]]},{"id":"d501f268.749f","type":"debug","z":"7f966f2b.565cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":940,"wires":[]},{"id":"510416dc.816918","type":"link in","z":"7f966f2b.565cf","name":"边缘下行(模拟输入)","links":["61bd7a00.126998"],"x":335,"y":980,"wires":[["4f7defdf.42831"]]},{"id":"c4bf62fe.c0714","type":"function","z":"7f966f2b.565cf","name":"设备","func":"if (msg.payload.hd && !msg.payload.hd.gid) {\n    let did = msg.payload.hd.did;\n    let device = global.get(\"devices\")[did];\n    if (device) {\n        msg.payload.hd.gid = device.gid\n    } else {\n        node.error(\"设备未登记：\" + did);\n        return;\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":720,"wires":[["e21357a9.a0d888"]]},{"id":"20423e4.bdb70c2","type":"debug","z":"7f966f2b.565cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":780,"wires":[]},{"id":"434d750b.cc59ec","type":"mqtt in","z":"7f966f2b.565cf","name":"边缘终端上行","topic":"cmdgate/central/#","qos":"2","datatype":"auto","broker":"480b54ad.8c4e1c","nl":false,"rap":true,"rh":0,"x":270,"y":280,"wires":[["16d263fa.4e507c"]]},{"id":"2b1ded2a.311c72","type":"mqtt out","z":"7f966f2b.565cf","name":"边缘终端下行","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"480b54ad.8c4e1c","x":880,"y":580,"wires":[]},{"id":"59a2c727.ba7f88","type":"link in","z":"7f966f2b.565cf","name":"边缘终端下行","links":["d0bdb25b.1b0b9"],"x":355,"y":580,"wires":[["59bc9656.ad4d88"]]},{"id":"59bc9656.ad4d88","type":"function","z":"7f966f2b.565cf","name":"主题","func":"if (!msg.dontChangeTopic)\n  msg.topic = global.get(\"mqtt\").topic.terminal.pub.prefix + msg.payload.hd.did\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":580,"wires":[["2b1ded2a.311c72"]]},{"id":"9bdb235c.c9408","type":"debug","z":"7f966f2b.565cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":240,"wires":[]},{"id":"e4772df1.89515","type":"mqtt in","z":"7f966f2b.565cf","name":"风扇终端上行","topic":"stat/+/RESULT","qos":"2","datatype":"json","broker":"480b54ad.8c4e1c","nl":false,"rap":true,"rh":0,"x":270,"y":340,"wires":[["86d89713.5a6d08"]]},{"id":"86d89713.5a6d08","type":"function","z":"7f966f2b.565cf","name":"协议转换","func":"let did = msg.topic.substring(5, msg.topic.length-7)\nlet power = msg.payload.POWER == \"OFF\" ? 0: msg.payload.POWER == \"ON\" ? 1 : undefined\nlet speed = msg.payload.Dimmer\nlet payload = {\n    hd: {\n        did: did,\n        cmd: 13,\n        stp: 1\n    },\n    pld: {\n        power: power,\n        speed: speed\n    }\n}\nreturn {payload: payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":340,"wires":[["16d263fa.4e507c"]]},{"id":"5b4cd677.6c5048","type":"debug","z":"7f966f2b.565cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":140,"wires":[]},{"id":"95051ebe.9f6c3","type":"link out","z":"7f966f2b.565cf","name":"设备未登记","links":["e81ef68c.81f1f8"],"x":835,"y":280,"wires":[]},{"id":"5a8cf6b2.7f1688","type":"mqtt in","z":"7f966f2b.565cf","name":"指令网关上线","topic":"business/svcgate/null","qos":"2","datatype":"json","broker":"480b54ad.8c4e1c","nl":false,"rap":true,"rh":0,"x":270,"y":1040,"wires":[["e2457f2f.c914a"]]},{"id":"e2457f2f.c914a","type":"debug","z":"7f966f2b.565cf","name":"指令网关上线","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1040,"wires":[]},{"id":"887657ed.529188","type":"comment","z":"7f966f2b.565cf","name":"指令执行","info":"","x":80,"y":1140,"wires":[]},{"id":"84002728.b5c648","type":"inject","z":"7f966f2b.565cf","name":"上线","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":330,"y":1240,"wires":[["f9f73417.ff5ea8"]]},{"id":"7912f1cf.0172d","type":"link out","z":"7f966f2b.565cf","name":"上报 IP","links":["db90a60b.8feba8"],"x":1095,"y":1300,"wires":[]},{"id":"f9f73417.ff5ea8","type":"exec","z":"7f966f2b.565cf","command":"ifconfig -a","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":1240,"wires":[["308dc492.60250c"],["308dc492.60250c"],[]]},{"id":"2ead10c.dc7b3f","type":"change","z":"7f966f2b.565cf","name":"","rules":[{"t":"set","p":"payload.hd.did","pt":"msg","to":"cmdgate","tot":"global"},{"t":"set","p":"payload.hd.stp","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"payload.pld.st","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.pld.ts","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1300,"wires":[["7912f1cf.0172d"]]},{"id":"308dc492.60250c","type":"function","z":"7f966f2b.565cf","name":"","func":"\nreturn {payload: {\n    pld: {\n        ext: msg.payload.split(\"\\n\\n\")\n    }\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1240,"wires":[["90602ac5.15c5a8"]]},{"id":"e80a3292.f2d09","type":"inject","z":"7f966f2b.565cf","name":"请求上报 IP","props":[{"p":"payload.hd.cmd","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":190,"y":1500,"wires":[["2619480f.3b39b8"]]},{"id":"2619480f.3b39b8","type":"change","z":"7f966f2b.565cf","name":"哪个网关","rules":[{"t":"set","p":"payload.hd.did","pt":"msg","to":"CMDGATE_FZ_DEV","tot":"str"},{"t":"set","p":"payload.hd.stp","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"CMDGATE_FZ_DEV","pt":"msg","to":"","tot":"str"},{"t":"set","p":"CMDGATE_CL_VR_F2","pt":"msg","to":"","tot":"str"},{"t":"set","p":"CMDGATE_CL_VRTYG","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1480,"wires":[["6b81193f.a5dd68"]]},{"id":"66265751.046f38","type":"link out","z":"7f966f2b.565cf","name":"请求上报 IP","links":["db90a60b.8feba8"],"x":695,"y":1480,"wires":[]},{"id":"6b81193f.a5dd68","type":"function","z":"7f966f2b.565cf","name":"","func":"msg.topic = global.get(\"mqtt\").topic.business.sub.prefix + msg.payload.hd.did\nmsg.dontChangeTopic = true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1480,"wires":[["66265751.046f38"]]},{"id":"1723b83e.cdbb38","type":"link out","z":"7f966f2b.565cf","name":"刷新配置","links":["44115b3.ebc54a4"],"x":915,"y":80,"wires":[]},{"id":"61933c47.4b6464","type":"comment","z":"7f966f2b.565cf","name":"超时重启","info":"","x":100,"y":1680,"wires":[]},{"id":"4a0e89cb.4f1598","type":"exec","z":"7f966f2b.565cf","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"执行器","x":470,"y":1680,"wires":[[],[],["48560475.eaa05c"]]},{"id":"87d0f4bb.4f78b8","type":"inject","z":"7f966f2b.565cf","name":"ping baidu","props":[{"p":"payload"}],"repeat":"120","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"ping -c 3 www.baidu.com","payloadType":"str","x":310,"y":1680,"wires":[["4a0e89cb.4f1598"]]},{"id":"48560475.eaa05c","type":"function","z":"7f966f2b.565cf","name":"超时重启","func":"let code = msg.payload.code;\nlet lasttime = context.get(\"lasttime\") || new Date();\nif (code != 0) {\n    let nowtime = new Date();\n    if (nowtime - lasttime > 1000 * 60 * 10) {\n        return {payload: \"reboot\"}\n    }\n    \n} else {\n    lasttime = new Date();\n}\n\ncontext.set(\"lasttime\", lasttime);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1680,"wires":[["4a0e89cb.4f1598"]]},{"id":"90602ac5.15c5a8","type":"change","z":"7f966f2b.565cf","name":"指令1","rules":[{"t":"set","p":"payload.hd.cmd","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1240,"wires":[["2ead10c.dc7b3f"]]},{"id":"55dc9267.2ea80c","type":"exec","z":"7f966f2b.565cf","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"执行器","x":450,"y":1340,"wires":[["66c5beb8.7a969"],["66c5beb8.7a969"],["66c5beb8.7a969"]]},{"id":"2f297eb5.8b40d2","type":"switch","z":"7f966f2b.565cf","name":"==本网关","property":"payload.hd.did","propertyType":"msg","rules":[{"t":"eq","v":"cmdgate","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":140,"y":1240,"wires":[["1ebb499.efa86b6"]]},{"id":"1ebb499.efa86b6","type":"switch","z":"7f966f2b.565cf","name":"stp==0","property":"payload.hd.stp","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":1280,"wires":[["170b7901.ddffb7"]]},{"id":"170b7901.ddffb7","type":"switch","z":"7f966f2b.565cf","name":"","property":"payload.hd.cmd","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":1320,"wires":[["f9f73417.ff5ea8"],["24c7e96c.53d146"]]},{"id":"24c7e96c.53d146","type":"function","z":"7f966f2b.565cf","name":"执行指令","func":"if (msg.payload.pld.cmd) {\n    return {payload: msg.payload.pld.cmd};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1340,"wires":[["55dc9267.2ea80c"]]},{"id":"d8570327.a4e08","type":"change","z":"7f966f2b.565cf","name":"指令7","rules":[{"t":"set","p":"payload.hd.cmd","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1340,"wires":[["2ead10c.dc7b3f"]]},{"id":"66c5beb8.7a969","type":"function","z":"7f966f2b.565cf","name":"","func":"\nreturn {payload: {\n    pld: {\n        ext: msg.payload\n    }\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1340,"wires":[["d8570327.a4e08"]]},{"id":"17166a7e.41cde6","type":"inject","z":"7f966f2b.565cf","name":"执行命令","props":[{"p":"payload.hd.cmd","v":"7","vt":"num"},{"p":"payload.pld.cmd","v":"systemctl status cmd-gateway.service -l","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","x":180,"y":1460,"wires":[["2619480f.3b39b8"]]}]