data/.flows_ND--20200609EVI.json.backup
[{"id":"b5288cb7.70d55","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"abca6e07.534bc","type":"tab","label":"mDNS","disabled":false,"info":""},{"id":"8791c141.730b5","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"75a3e362.0ad2cc","type":"tab","label":"格力前台空调","disabled":false,"info":""},{"id":"52f7ce17.24084","type":"tab","label":"格力后台空调","disabled":false,"info":""},{"id":"95689f3b.069d6","type":"tab","label":"业务网关输入","disabled":false,"info":""},{"id":"7f4f785d.e83d58","type":"tab","label":"业务网关输出","disabled":false,"info":""},{"id":"5c569ec8.d608f","type":"ui_group","name":"AC","tab":"168c092a.469d97","order":1,"disp":true,"width":"6","collapse":false},{"id":"168c092a.469d97","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"da0bc893.9025c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b6f59528.84a608","type":"gree-hvac-config","name":"GreeHVAC","host":"172.25.165.8"},{"id":"83343b26.8b5988","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f3bc18d.7141c","type":"gree-hvac-config","name":"GreeFront","host":"192.168.1.114"},{"id":"849cbceb.9873d","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"998a814e.37baf","type":"mqtt-broker","name":"","broker":"192.168.252.89","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"834b23cd.9a174","type":"gree-hvac-config","name":"GreeBack","host":"192.168.1.189"},{"id":"ff9fe48d.da79d8","type":"debug","z":"b5288cb7.70d55","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":1520,"wires":[]},{"id":"3cfb9d5c.2adfc2","type":"gree-hvac","z":"b5288cb7.70d55","name":"AC","device":"b6f59528.84a608","interval":"1","debug":false,"x":360,"y":1460,"wires":[["ff9fe48d.da79d8"],["417b67b1.9d77d8","ff9fe48d.da79d8"]]},{"id":"fab8d073.bed76","type":"switch","z":"b5288cb7.70d55","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"power","vt":"str"},{"t":"eq","v":"mode","vt":"str"},{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"fanSpeed","vt":"str"},{"t":"eq","v":"swingVert","vt":"str"},{"t":"eq","v":"swingHor","vt":"str"},{"t":"eq","v":"health","vt":"str"},{"t":"eq","v":"blow","vt":"str"},{"t":"eq","v":"lights","vt":"str"},{"t":"eq","v":"powerSave","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":510,"y":1280,"wires":[["f36ddc6a.6a76d"],["ed7a4d0b.d3c85"],["7f2711eb.f70ff"],["b0f5ed20.f0dc4"],["bb2fd30d.6faed"],["426d8937.d2e9a8"],["58310de9.08b1c4"],["5be9ffdd.e9e11"],["429db373.92628c"],["29e1bfb7.c963c"]]},{"id":"f36ddc6a.6a76d","type":"ui_switch","z":"b5288cb7.70d55","name":"","label":"Power","tooltip":"","group":"5c569ec8.d608f","order":1,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"power","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":690,"y":900,"wires":[["62c89d4e.1db264"]]},{"id":"429db373.92628c","type":"ui_switch","z":"b5288cb7.70d55","name":"","label":"Lights","tooltip":"","group":"5c569ec8.d608f","order":9,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"lights","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":690,"y":1380,"wires":[["62c89d4e.1db264"]]},{"id":"7f2711eb.f70ff","type":"ui_numeric","z":"b5288cb7.70d55","name":"","label":"Temperature","tooltip":"","group":"5c569ec8.d608f","order":2,"width":0,"height":0,"passthru":false,"topic":"temperature","format":"{{value}}","min":"23","max":"25","step":1,"x":710,"y":1020,"wires":[["62c89d4e.1db264"]]},{"id":"bb2fd30d.6faed","type":"ui_dropdown","z":"b5288cb7.70d55","name":"","label":"Vertical swing ","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":6,"width":0,"height":0,"passthru":false,"options":[{"label":"Default","value":"default","type":"str"},{"label":"Swing in full range","value":"full","type":"str"},{"label":"Fixed top","value":"fixedTop","type":"str"},{"label":"Fixed mid-top","value":"fixedMidTop","type":"str"},{"label":"Fixed mid","value":"fixedMid","type":"str"},{"label":"Fixed mid-bottom","value":"fixedMidBottom","type":"str"},{"label":"Fixed bottom","value":"fixedBottom","type":"str"},{"label":"Swing bottom","value":"swingBottom","type":"str"},{"label":"Swing mid-bottom","value":"swingMidBottom","type":"str"},{"label":"Swing mid","value":"swingMid","type":"str"},{"label":"Swing mid top","value":"swingMidTop","type":"str"},{"label":"Swing top","value":"swingTop","type":"str"}],"payload":"","topic":"swingVert","x":720,"y":1140,"wires":[["62c89d4e.1db264"]]},{"id":"62c89d4e.1db264","type":"rbe","z":"b5288cb7.70d55","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":1520,"wires":[["3cfb9d5c.2adfc2","ff9fe48d.da79d8"]]},{"id":"426d8937.d2e9a8","type":"ui_dropdown","z":"b5288cb7.70d55","name":"","label":"Horizontal swing ","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":5,"width":0,"height":0,"passthru":false,"options":[{"label":"Default","value":"default","type":"str"},{"label":"Full","value":"full","type":"str"},{"label":"Fixed left","value":"fixedLeft","type":"str"},{"label":"Fixed mid-left","value":"fixedMidLeft","type":"str"},{"label":"Fixed mid","value":"fixedMid","type":"str"},{"label":"Fixed mid-right","value":"fixedMidRight","type":"str"},{"label":"Fixed right","value":"fixedRight","type":"str"},{"label":"Full alt","value":"fullAlt","type":"str"}],"payload":"","topic":"swingHor","x":720,"y":1200,"wires":[["62c89d4e.1db264"]],"info":"Controls the swing mode of the horizontal air blades (not available on all units)"},{"id":"b0f5ed20.f0dc4","type":"ui_dropdown","z":"b5288cb7.70d55","name":"","label":"Fan speed","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":4,"width":0,"height":0,"passthru":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"Low","value":"low","type":"str"},{"label":"Medium low","value":"mediumLow","type":"str"},{"label":"Medium","value":"medium","type":"str"},{"label":"Medium high","value":"mediumHigh","type":"str"},{"label":"High","value":"high","type":"str"}],"payload":"","topic":"fanSpeed","x":710,"y":1080,"wires":[["62c89d4e.1db264"]]},{"id":"29e1bfb7.c963c","type":"ui_switch","z":"b5288cb7.70d55","name":"","label":"Power save","tooltip":"","group":"5c569ec8.d608f","order":10,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"powerSave","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":710,"y":1440,"wires":[["62c89d4e.1db264"]]},{"id":"417b67b1.9d77d8","type":"split","z":"b5288cb7.70d55","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":370,"y":1280,"wires":[["fab8d073.bed76"]]},{"id":"ed7a4d0b.d3c85","type":"ui_dropdown","z":"b5288cb7.70d55","name":"","label":"Mode","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":3,"width":"0","height":"0","passthru":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"Cool","value":"cool","type":"str"},{"label":"Dry","value":"dry","type":"str"},{"label":"Fan only","value":"fan_only","type":"str"},{"label":"Heat","value":"heat","type":"str"}],"payload":"","topic":"mode","x":690,"y":960,"wires":[["62c89d4e.1db264"]]},{"id":"58310de9.08b1c4","type":"ui_switch","z":"b5288cb7.70d55","name":"","label":"Cold plasma","tooltip":"","group":"5c569ec8.d608f","order":7,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"health","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":710,"y":1260,"wires":[["62c89d4e.1db264"]]},{"id":"5be9ffdd.e9e11","type":"ui_switch","z":"b5288cb7.70d55","name":"","label":"X-Fan","tooltip":"","group":"5c569ec8.d608f","order":8,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"blow","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":690,"y":1320,"wires":[["62c89d4e.1db264"]]},{"id":"c12b732c.7b904","type":"inject","z":"b5288cb7.70d55","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":580,"wires":[["8acdbfc0.8a89a"]]},{"id":"8acdbfc0.8a89a","type":"function","z":"b5288cb7.70d55","name":"","func":"console.log(\"11111111111\");\nlet a = 1/0;\nthrow new Error('Async Error')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":580,"wires":[[]]},{"id":"5472297a.6f5398","type":"gree-hvac","z":"b5288cb7.70d55","name":"Gree HVAC","device":"","interval":"3","debug":false,"x":520,"y":340,"wires":[[],[]]},{"id":"eebe3703.5721a8","type":"mqtt in","z":"8791c141.730b5","name":"local.in","topic":"cmdgateway/device/group","qos":"0","datatype":"auto","broker":"849cbceb.9873d","nl":false,"rap":true,"rh":0,"x":650,"y":580,"wires":[["b4f87a97.a11ca8"]]},{"id":"d94ebbb8.475638","type":"mqtt out","z":"8791c141.730b5","name":"local.out","topic":"cmdgateway/device/group","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"849cbceb.9873d","x":420,"y":580,"wires":[]},{"id":"e092cf0a.1bd85","type":"inject","z":"8791c141.730b5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"item\":\"111\",\"item-2\":\"2222\"}","payloadType":"json","x":190,"y":600,"wires":[["d94ebbb8.475638"]]},{"id":"b4f87a97.a11ca8","type":"debug","z":"8791c141.730b5","name":"mqtt.in.local","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":560,"wires":[]},{"id":"b584174.814dfe8","type":"debug","z":"75a3e362.0ad2cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":600,"wires":[]},{"id":"50cd83fb.98b19c","type":"gree-hvac","z":"75a3e362.0ad2cc","name":"AC","device":"5f3bc18d.7141c","interval":"3","debug":false,"x":410,"y":560,"wires":[["b584174.814dfe8"],["a5b358c2.3e4ad8","b584174.814dfe8"]]},{"id":"61046675.c20dd8","type":"switch","z":"75a3e362.0ad2cc","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"power","vt":"str"},{"t":"eq","v":"mode","vt":"str"},{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"fanSpeed","vt":"str"},{"t":"eq","v":"swingVert","vt":"str"},{"t":"eq","v":"swingHor","vt":"str"},{"t":"eq","v":"health","vt":"str"},{"t":"eq","v":"blow","vt":"str"},{"t":"eq","v":"lights","vt":"str"},{"t":"eq","v":"powerSave","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":610,"y":340,"wires":[["d8c89bd2.2a04a8"],["1a544b94.0ee074"],["9b5f6baa.f4cea8"],["b331259c.875d98"],["6829b2cb.ea15fc"],["b94c722a.5224c"],["17740952.0f17d7"],["875ecf15.75b7b"],["96dfc05e.8fe29"],["7673e0f8.a6f0d"]]},{"id":"d8c89bd2.2a04a8","type":"ui_switch","z":"75a3e362.0ad2cc","name":"","label":"Power","tooltip":"","group":"5c569ec8.d608f","order":1,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"power","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":810,"y":100,"wires":[["c4602e6e.68bd2"]]},{"id":"96dfc05e.8fe29","type":"ui_switch","z":"75a3e362.0ad2cc","name":"","label":"Lights","tooltip":"","group":"5c569ec8.d608f","order":9,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"lights","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":810,"y":580,"wires":[["c4602e6e.68bd2"]]},{"id":"9b5f6baa.f4cea8","type":"ui_numeric","z":"75a3e362.0ad2cc","name":"","label":"Temperature","tooltip":"","group":"5c569ec8.d608f","order":2,"width":0,"height":0,"passthru":false,"topic":"temperature","format":"{{value}}","min":"23","max":"25","step":1,"x":830,"y":220,"wires":[["c4602e6e.68bd2"]]},{"id":"6829b2cb.ea15fc","type":"ui_dropdown","z":"75a3e362.0ad2cc","name":"","label":"Vertical swing ","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":6,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Default","value":"default","type":"str"},{"label":"Swing in full range","value":"full","type":"str"},{"label":"Fixed top","value":"fixedTop","type":"str"},{"label":"Fixed mid-top","value":"fixedMidTop","type":"str"},{"label":"Fixed mid","value":"fixedMid","type":"str"},{"label":"Fixed mid-bottom","value":"fixedMidBottom","type":"str"},{"label":"Fixed bottom","value":"fixedBottom","type":"str"},{"label":"Swing bottom","value":"swingBottom","type":"str"},{"label":"Swing mid-bottom","value":"swingMidBottom","type":"str"},{"label":"Swing mid","value":"swingMid","type":"str"},{"label":"Swing mid top","value":"swingMidTop","type":"str"},{"label":"Swing top","value":"swingTop","type":"str"}],"payload":"","topic":"swingVert","topicType":"str","x":840,"y":340,"wires":[["c4602e6e.68bd2"]]},{"id":"c4602e6e.68bd2","type":"rbe","z":"75a3e362.0ad2cc","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1090,"y":320,"wires":[["b584174.814dfe8","a30580c5.47783"]]},{"id":"b94c722a.5224c","type":"ui_dropdown","z":"75a3e362.0ad2cc","name":"","label":"Horizontal swing ","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":5,"width":0,"height":0,"passthru":false,"options":[{"label":"Default","value":"default","type":"str"},{"label":"Full","value":"full","type":"str"},{"label":"Fixed left","value":"fixedLeft","type":"str"},{"label":"Fixed mid-left","value":"fixedMidLeft","type":"str"},{"label":"Fixed mid","value":"fixedMid","type":"str"},{"label":"Fixed mid-right","value":"fixedMidRight","type":"str"},{"label":"Fixed right","value":"fixedRight","type":"str"},{"label":"Full alt","value":"fullAlt","type":"str"}],"payload":"","topic":"swingHor","x":840,"y":400,"wires":[["c4602e6e.68bd2"]],"info":"Controls the swing mode of the horizontal air blades (not available on all units)"},{"id":"b331259c.875d98","type":"ui_dropdown","z":"75a3e362.0ad2cc","name":"","label":"Fan speed","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"Low","value":"low","type":"str"},{"label":"Medium low","value":"mediumLow","type":"str"},{"label":"Medium","value":"medium","type":"str"},{"label":"Medium high","value":"mediumHigh","type":"str"},{"label":"High","value":"high","type":"str"}],"payload":"","topic":"fanSpeed","topicType":"str","x":830,"y":280,"wires":[["c4602e6e.68bd2"]]},{"id":"7673e0f8.a6f0d","type":"ui_switch","z":"75a3e362.0ad2cc","name":"","label":"Power save","tooltip":"","group":"5c569ec8.d608f","order":10,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"powerSave","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":830,"y":640,"wires":[["c4602e6e.68bd2"]]},{"id":"a5b358c2.3e4ad8","type":"split","z":"75a3e362.0ad2cc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":490,"y":340,"wires":[["61046675.c20dd8"]]},{"id":"1a544b94.0ee074","type":"ui_dropdown","z":"75a3e362.0ad2cc","name":"","label":"Mode","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":3,"width":"0","height":"0","passthru":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"Cool","value":"cool","type":"str"},{"label":"Dry","value":"dry","type":"str"},{"label":"Fan only","value":"fan_only","type":"str"},{"label":"Heat","value":"heat","type":"str"}],"payload":"","topic":"mode","x":810,"y":160,"wires":[["c4602e6e.68bd2"]]},{"id":"17740952.0f17d7","type":"ui_switch","z":"75a3e362.0ad2cc","name":"","label":"Cold plasma","tooltip":"","group":"5c569ec8.d608f","order":7,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"health","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":830,"y":460,"wires":[["c4602e6e.68bd2"]]},{"id":"875ecf15.75b7b","type":"ui_switch","z":"75a3e362.0ad2cc","name":"","label":"X-Fan","tooltip":"","group":"5c569ec8.d608f","order":8,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"blow","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":810,"y":520,"wires":[["c4602e6e.68bd2"]]},{"id":"6e9291c.b1e257","type":"link in","z":"75a3e362.0ad2cc","name":"GreeFront.In","links":["8caa50fc.ee778"],"x":115,"y":180,"wires":[["ff37e69f.7c2708","e3fcaaff.45ad88"]]},{"id":"1da3abfe.d62c34","type":"link out","z":"75a3e362.0ad2cc","name":"GreeFront.out","links":[],"x":1255,"y":100,"wires":[]},{"id":"3d0b88f.a8e3178","type":"debug","z":"52f7ce17.24084","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":720,"wires":[]},{"id":"ad8611a4.bd6dc","type":"gree-hvac","z":"52f7ce17.24084","name":"AC","device":"834b23cd.9a174","interval":"3","debug":true,"x":350,"y":620,"wires":[["3d0b88f.a8e3178"],["131035be.75fc6a","3d0b88f.a8e3178"]]},{"id":"fab256a9.ce9ea8","type":"switch","z":"52f7ce17.24084","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"power","vt":"str"},{"t":"eq","v":"mode","vt":"str"},{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"fanSpeed","vt":"str"},{"t":"eq","v":"swingVert","vt":"str"},{"t":"eq","v":"swingHor","vt":"str"},{"t":"eq","v":"health","vt":"str"},{"t":"eq","v":"blow","vt":"str"},{"t":"eq","v":"lights","vt":"str"},{"t":"eq","v":"powerSave","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":570,"y":480,"wires":[["f9d11d5d.d112c"],["5f1b3ed0.6d39f"],["e5b9fe6d.468ff"],["e639e899.9f8e58"],["c922188.9d9a1e8"],["5985b4d.ccbac4c"],["740b3e70.8c1ae"],["c5b4c1dd.83f52"],["2afeae54.10c9a2"],["2bed3d91.6e1212"]]},{"id":"f9d11d5d.d112c","type":"ui_switch","z":"52f7ce17.24084","name":"","label":"Power","tooltip":"","group":"5c569ec8.d608f","order":1,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"power","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":750,"y":100,"wires":[["af63028c.e1f0e"]]},{"id":"2afeae54.10c9a2","type":"ui_switch","z":"52f7ce17.24084","name":"","label":"Lights","tooltip":"","group":"5c569ec8.d608f","order":9,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"lights","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":750,"y":580,"wires":[["af63028c.e1f0e"]]},{"id":"e5b9fe6d.468ff","type":"ui_numeric","z":"52f7ce17.24084","name":"","label":"Temperature","tooltip":"","group":"5c569ec8.d608f","order":2,"width":0,"height":0,"passthru":false,"topic":"temperature","format":"{{value}}","min":"23","max":"25","step":1,"x":770,"y":220,"wires":[["af63028c.e1f0e"]]},{"id":"c922188.9d9a1e8","type":"ui_dropdown","z":"52f7ce17.24084","name":"","label":"Vertical swing ","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":6,"width":0,"height":0,"passthru":false,"options":[{"label":"Default","value":"default","type":"str"},{"label":"Swing in full range","value":"full","type":"str"},{"label":"Fixed top","value":"fixedTop","type":"str"},{"label":"Fixed mid-top","value":"fixedMidTop","type":"str"},{"label":"Fixed mid","value":"fixedMid","type":"str"},{"label":"Fixed mid-bottom","value":"fixedMidBottom","type":"str"},{"label":"Fixed bottom","value":"fixedBottom","type":"str"},{"label":"Swing bottom","value":"swingBottom","type":"str"},{"label":"Swing mid-bottom","value":"swingMidBottom","type":"str"},{"label":"Swing mid","value":"swingMid","type":"str"},{"label":"Swing mid top","value":"swingMidTop","type":"str"},{"label":"Swing top","value":"swingTop","type":"str"}],"payload":"","topic":"swingVert","x":780,"y":340,"wires":[["af63028c.e1f0e"]]},{"id":"af63028c.e1f0e","type":"rbe","z":"52f7ce17.24084","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":970,"y":720,"wires":[["3d0b88f.a8e3178","f5097360.10678"]]},{"id":"5985b4d.ccbac4c","type":"ui_dropdown","z":"52f7ce17.24084","name":"","label":"Horizontal swing ","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":5,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Default","value":"default","type":"str"},{"label":"Full","value":"full","type":"str"},{"label":"Fixed left","value":"fixedLeft","type":"str"},{"label":"Fixed mid-left","value":"fixedMidLeft","type":"str"},{"label":"Fixed mid","value":"fixedMid","type":"str"},{"label":"Fixed mid-right","value":"fixedMidRight","type":"str"},{"label":"Fixed right","value":"fixedRight","type":"str"},{"label":"Full alt","value":"fullAlt","type":"str"}],"payload":"","topic":"swingHor","topicType":"str","x":780,"y":400,"wires":[["af63028c.e1f0e"]],"info":"Controls the swing mode of the horizontal air blades (not available on all units)"},{"id":"e639e899.9f8e58","type":"ui_dropdown","z":"52f7ce17.24084","name":"","label":"Fan speed","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"Low","value":"low","type":"str"},{"label":"Medium low","value":"mediumLow","type":"str"},{"label":"Medium","value":"medium","type":"str"},{"label":"Medium high","value":"mediumHigh","type":"str"},{"label":"High","value":"high","type":"str"}],"payload":"","topic":"fanSpeed","topicType":"str","x":770,"y":280,"wires":[["af63028c.e1f0e"]]},{"id":"2bed3d91.6e1212","type":"ui_switch","z":"52f7ce17.24084","name":"","label":"Power save","tooltip":"","group":"5c569ec8.d608f","order":10,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"powerSave","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":770,"y":640,"wires":[["af63028c.e1f0e"]]},{"id":"131035be.75fc6a","type":"split","z":"52f7ce17.24084","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":430,"y":480,"wires":[["fab256a9.ce9ea8"]]},{"id":"5f1b3ed0.6d39f","type":"ui_dropdown","z":"52f7ce17.24084","name":"","label":"Mode","tooltip":"","place":"Select option","group":"5c569ec8.d608f","order":3,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"Cool","value":"cool","type":"str"},{"label":"Dry","value":"dry","type":"str"},{"label":"Fan only","value":"fan_only","type":"str"},{"label":"Heat","value":"heat","type":"str"}],"payload":"","topic":"mode","topicType":"str","x":750,"y":160,"wires":[["af63028c.e1f0e"]]},{"id":"740b3e70.8c1ae","type":"ui_switch","z":"52f7ce17.24084","name":"","label":"Cold plasma","tooltip":"","group":"5c569ec8.d608f","order":7,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"health","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":770,"y":460,"wires":[["af63028c.e1f0e"]]},{"id":"c5b4c1dd.83f52","type":"ui_switch","z":"52f7ce17.24084","name":"","label":"X-Fan","tooltip":"","group":"5c569ec8.d608f","order":8,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"blow","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":750,"y":520,"wires":[["af63028c.e1f0e"]]},{"id":"80bf2862.805f18","type":"link in","z":"52f7ce17.24084","name":"GreeBack.In","links":["94c4d474.7a2418","6e5381a.29a758"],"x":95,"y":160,"wires":[["e1802c1a.e5247"]]},{"id":"f5097360.10678","type":"link out","z":"52f7ce17.24084","name":"GreeBack.out","links":[],"x":1195,"y":260,"wires":[]},{"id":"608a17d0.b29998","type":"mqtt in","z":"8791c141.730b5","name":"local.in","topic":"cmdgateway/device/group","qos":"0","datatype":"auto","broker":"849cbceb.9873d","nl":false,"rap":true,"rh":0,"x":650,"y":220,"wires":[["53be4813.e3d988"]]},{"id":"40b76499.0f542c","type":"mqtt out","z":"8791c141.730b5","name":"business.out","topic":"cmdgateway/device/group","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"998a814e.37baf","x":430,"y":220,"wires":[]},{"id":"1a92ca76.44bf96","type":"inject","z":"8791c141.730b5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"item\":\"111\",\"item-2\":\"2222\"}","payloadType":"json","x":190,"y":240,"wires":[["40b76499.0f542c"]]},{"id":"53be4813.e3d988","type":"debug","z":"8791c141.730b5","name":"mqtt.in.local","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":200,"wires":[]},{"id":"5a38ef13.ad53","type":"mqtt in","z":"95689f3b.069d6","name":"svcgate.in","topic":"business/cmdgate/CMDGATE_CL_JZX01","qos":"2","datatype":"json","broker":"998a814e.37baf","nl":false,"rap":true,"rh":0,"x":280,"y":320,"wires":[["790663c8.47f1ec"]]},{"id":"24e17c5e.afee44","type":"mqtt out","z":"95689f3b.069d6","name":"test.out","topic":"business/cmdgate/CMDGATE_CL_JZX01","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"998a814e.37baf","x":360,"y":120,"wires":[]},{"id":"e2f7544e.3dc3e8","type":"inject","z":"95689f3b.069d6","name":"test.inject","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hd\":{\"did\":\"c8f742e36fd2\",\"cmd\":3},\"pld\":{}}","payloadType":"json","x":170,"y":120,"wires":[["24e17c5e.afee44"]]},{"id":"1a25cef8.3c9021","type":"mqtt out","z":"7f4f785d.e83d58","name":"svcgate.out","topic":"business/svcgate/CMDGATE_CL_JZX01","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"998a814e.37baf","x":590,"y":260,"wires":[]},{"id":"790663c8.47f1ec","type":"switch","z":"95689f3b.069d6","name":"cmd","property":"payload.hd.cmd","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":320,"wires":[["307c3829.7b7bf8"],["1e8948c1.08d1f7"]]},{"id":"7cf4138d.a6c55c","type":"switch","z":"95689f3b.069d6","name":"air","property":"hd.did","propertyType":"msg","rules":[{"t":"eq","v":"c8f742e36fd2","vt":"str"},{"t":"eq","v":"24dfa7056ca9","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":240,"wires":[["8caa50fc.ee778","29f7bf8a.2f5a3"],["6e5381a.29a758"]]},{"id":"8caa50fc.ee778","type":"link out","z":"95689f3b.069d6","name":"","links":["6e9291c.b1e257"],"x":865,"y":200,"wires":[]},{"id":"6e5381a.29a758","type":"link out","z":"95689f3b.069d6","name":"","links":["80bf2862.805f18"],"x":865,"y":280,"wires":[]},{"id":"29f7bf8a.2f5a3","type":"debug","z":"95689f3b.069d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"hd","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":240,"wires":[]},{"id":"1e8948c1.08d1f7","type":"debug","z":"95689f3b.069d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":500,"wires":[]},{"id":"396a918c.ff2fae","type":"catch","z":"95689f3b.069d6","name":"","scope":null,"uncaught":false,"x":160,"y":40,"wires":[["79a4b707.f37e98"]]},{"id":"79a4b707.f37e98","type":"debug","z":"95689f3b.069d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":40,"wires":[]},{"id":"ff37e69f.7c2708","type":"debug","z":"75a3e362.0ad2cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":140,"wires":[]},{"id":"c7393102.dd7af","type":"inject","z":"75a3e362.0ad2cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"power","payload":"off","payloadType":"str","x":100,"y":420,"wires":[["50cd83fb.98b19c"]]},{"id":"4b98fbf7.d44b04","type":"inject","z":"75a3e362.0ad2cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"power","payload":"on","payloadType":"str","x":100,"y":460,"wires":[["50cd83fb.98b19c"]]},{"id":"90095639.c1abb8","type":"inject","z":"75a3e362.0ad2cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"16","payloadType":"num","x":120,"y":520,"wires":[["50cd83fb.98b19c"]]},{"id":"b9c78ac4.f2ce38","type":"inject","z":"75a3e362.0ad2cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"26","payloadType":"num","x":120,"y":560,"wires":[["50cd83fb.98b19c"]]},{"id":"368e643f.4ac9ac","type":"inject","z":"75a3e362.0ad2cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"fanSpeed","payload":"auto","payloadType":"str","x":120,"y":720,"wires":[["50cd83fb.98b19c"]]},{"id":"17453148.a20f2f","type":"inject","z":"52f7ce17.24084","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"power","payload":"off","payloadType":"str","x":100,"y":400,"wires":[["ad8611a4.bd6dc"]]},{"id":"a837db72.960a88","type":"inject","z":"52f7ce17.24084","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"power","payload":"on","payloadType":"str","x":100,"y":440,"wires":[["ad8611a4.bd6dc"]]},{"id":"8287ac7c.67ac","type":"inject","z":"52f7ce17.24084","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"16","payloadType":"num","x":120,"y":480,"wires":[["ad8611a4.bd6dc"]]},{"id":"8992f346.bb8f7","type":"inject","z":"52f7ce17.24084","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"26","payloadType":"num","x":120,"y":520,"wires":[["ad8611a4.bd6dc"]]},{"id":"c965d782.01cae8","type":"inject","z":"75a3e362.0ad2cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lights","payload":"off","payloadType":"str","x":100,"y":620,"wires":[["50cd83fb.98b19c"]]},{"id":"2de57060.09769","type":"inject","z":"75a3e362.0ad2cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lights","payload":"on","payloadType":"str","x":100,"y":660,"wires":[["50cd83fb.98b19c"]]},{"id":"31385e6.ad591a2","type":"inject","z":"75a3e362.0ad2cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"fanSpeed","payload":"low","payloadType":"str","x":110,"y":760,"wires":[["50cd83fb.98b19c"]]},{"id":"41cdcf93.05a09","type":"inject","z":"52f7ce17.24084","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"fanSpeed","payload":"auto","payloadType":"str","x":120,"y":640,"wires":[["ad8611a4.bd6dc"]]},{"id":"82430e5d.c91ca","type":"inject","z":"52f7ce17.24084","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lights","payload":"off","payloadType":"str","x":100,"y":560,"wires":[["ad8611a4.bd6dc"]]},{"id":"5ef8133b.8e6e0c","type":"inject","z":"52f7ce17.24084","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"lights","payload":"on","payloadType":"str","x":100,"y":600,"wires":[["ad8611a4.bd6dc"]]},{"id":"ab65e6f0.11c598","type":"inject","z":"52f7ce17.24084","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"fanSpeed","payload":"low","payloadType":"str","x":110,"y":680,"wires":[["ad8611a4.bd6dc"]]},{"id":"307c3829.7b7bf8","type":"change","z":"95689f3b.069d6","name":"air change","rules":[{"t":"set","p":"hd","pt":"msg","to":"payload.hd","tot":"msg"},{"t":"set","p":"pld","pt":"msg","to":"payload.pd","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.pld","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":140,"wires":[["7cf4138d.a6c55c"]]},{"id":"b8202b06.c59168","type":"catch","z":"75a3e362.0ad2cc","name":"","scope":null,"uncaught":false,"x":100,"y":40,"wires":[["7d0deb6c.bdf9b4"]]},{"id":"7d0deb6c.bdf9b4","type":"debug","z":"75a3e362.0ad2cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":40,"wires":[]},{"id":"99107e25.82493","type":"catch","z":"52f7ce17.24084","name":"","scope":null,"uncaught":false,"x":120,"y":40,"wires":[["f4d76136.b9d1c"]]},{"id":"f4d76136.b9d1c","type":"debug","z":"52f7ce17.24084","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":40,"wires":[]},{"id":"3ea7b3a4.0365ec","type":"link in","z":"7f4f785d.e83d58","name":"svcgate.air.in","links":[],"x":115,"y":160,"wires":[["a4ff2753.5e9f58"]]},{"id":"e3fcaaff.45ad88","type":"switch","z":"75a3e362.0ad2cc","name":"","property":"hd.did","propertyType":"msg","rules":[{"t":"eq","v":"hd.did","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":220,"wires":[["50cd83fb.98b19c"]]},{"id":"e1802c1a.e5247","type":"switch","z":"52f7ce17.24084","name":"","property":"hd.did","propertyType":"msg","rules":[{"t":"eq","v":"did","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":160,"wires":[["ad8611a4.bd6dc"]]},{"id":"4561b2ff.e7109c","type":"change","z":"52f7ce17.24084","name":"setDid","rules":[{"t":"set","p":"did","pt":"flow","to":"24dfa7056ca9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":40,"wires":[[]]},{"id":"def20d57.7c8bc","type":"inject","z":"52f7ce17.24084","name":"InjectDid","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":550,"y":40,"wires":[["4561b2ff.e7109c"]]},{"id":"1f7390b8.9004ff","type":"change","z":"75a3e362.0ad2cc","name":"setDid","rules":[{"t":"set","p":"hd","pt":"flow","to":"{}","tot":"json"},{"t":"set","p":"hd.did","pt":"flow","to":"c8f742e36fd2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":40,"wires":[[]]},{"id":"c3acd5a6.b8e068","type":"inject","z":"75a3e362.0ad2cc","name":"InjectDid","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":510,"y":40,"wires":[["1f7390b8.9004ff"]]},{"id":"a30580c5.47783","type":"change","z":"75a3e362.0ad2cc","name":"sethd","rules":[{"t":"set","p":"hd","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"hd.did","pt":"msg","to":"hd.did","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":140,"wires":[["1da3abfe.d62c34"]]},{"id":"a4ff2753.5e9f58","type":"change","z":"7f4f785d.e83d58","name":"air.change","rules":[{"t":"set","p":"pld","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"hd","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"hd.did","pt":"msg","to":"did","tot":"msg"},{"t":"set","p":"hd.cmd","pt":"msg","to":"3","tot":"num"},{"t":"set","p":"hd.stp","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.hd","pt":"msg","to":"hd","tot":"msg"},{"t":"set","p":"payload.pld","pt":"msg","to":"pld","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":160,"wires":[["1a25cef8.3c9021","ce224e58.40c51"]]},{"id":"ce224e58.40c51","type":"debug","z":"7f4f785d.e83d58","name":"air.change","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":120,"wires":[]},{"id":"833a9f0f.2467","type":"link in","z":"7f4f785d.e83d58","name":"svcgate.out","links":[],"x":125,"y":400,"wires":[["1a25cef8.3c9021"]]}]