data/flows_ND--20200609EVI.json
[{"id":"793d3f59.8e33b","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"da0bc893.9025c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6c8a5393.c68c5c","type":"gpio-rf-sniffer","z":"793d3f59.8e33b","name":"","pin":0,"timeout":5,"edge":"none","activelow":false,"x":370,"y":380,"wires":[["971e5d22.99266"]]},{"id":"8dcf3b9c.c6b7f8","type":"inject","z":"793d3f59.8e33b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":380,"wires":[["6c8a5393.c68c5c"]]},{"id":"971e5d22.99266","type":"debug","z":"793d3f59.8e33b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":380,"wires":[]},{"id":"888a94da.5509d8","type":"gpio-rf-sender","z":"793d3f59.8e33b","name":"","pin":0,"set":false,"level":0,"activelow":false,"x":570,"y":660,"wires":[[]]},{"id":"3e11a3be.bb468c","type":"inject","z":"793d3f59.8e33b","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":660,"wires":[["ef1818f.d71c1e8"]]},{"id":"ef1818f.d71c1e8","type":"function","z":"793d3f59.8e33b","name":"","func":"msg.payload = {\n times: [1, 2, 3,4,5,6]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":660,"wires":[["888a94da.5509d8","18e6f3d6.5e509c"]]},{"id":"18e6f3d6.5e509c","type":"debug","z":"793d3f59.8e33b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":760,"wires":[]}]